Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2021-07, with the labels that each got.

#1330 samples(spanner): create instance with processing units
  spanner/api/QuickStart/QuickStart.csproj
  spanner/api/Spanner.Samples.Tests/CreateInstanceWithProcessingUnitsTest.cs
  spanner/api/Spanner.Samples.Tests/SpannerFixture.cs
  spanner/api/Spanner.Samples/CreateInstanceWithProcessingUnits.cs
  spanner/api/Spanner.Samples/Spanner.Samples.csproj
  spanner/api/Spanner/Spanner.csproj
Labels: api: spanner, cla: yes, samples

#1333 chore: implementing TW's feedback in the comments in Compute Samples
  compute/api/Compute.Samples/CreateInstanceAsync.cs
  compute/api/Compute.Samples/DeleteInstanceAsync.cs
  compute/api/Compute.Samples/DisableUsageExportBucketAsync.cs
  compute/api/Compute.Samples/GetUsageExportBucketAsync.cs
  compute/api/Compute.Samples/ListAllInstancesAsync.cs
  compute/api/Compute.Samples/ListZoneInstancesAsync.cs
  compute/api/Compute.Samples/SetUsageExportBucketAsync.cs
Labels: api: compute, cla: yes, samples

#1334 chore: Update API client library dependencies in Functions samples
  functions/firebase/FirestoreReactive/FirestoreReactive.csproj
  functions/imagemagick/ImageMagick/ImageMagick.csproj
  functions/slack/SlackKnowledgeGraphSearch/SlackKnowledgeGraphSearch.csproj
Labels: cla: yes, samples

#1331 feat: update README with Secret Manager integration
  cloud-sql/mysql/README.md
  cloud-sql/postgres/README.md
Labels: cla: yes, samples

#1336 Add SQL Server sample connection string setting
  cloud-sql/sql-server/Startup.cs
Labels: cla: yes, samples

#1337 test: retry CreateInstance test on Unavailable
  spanner/api/Spanner.Samples.Tests/CreateInstanceTest.cs
Labels: automerge, cla: yes, samples

#1339 refactor(Storage): Retries HMAC key cleanup.
  storage/api/Storage.Samples.Tests/ActivateHmacKeyTest.cs
  storage/api/Storage.Samples.Tests/BucketFixture.cs
  storage/api/Storage.Samples.Tests/CreateHmacKeyTest.cs
  storage/api/Storage.Samples.Tests/DeactivateHmacKeyTest.cs
  storage/api/Storage.Samples.Tests/DeleteHmacKeyTest.cs
  storage/api/Storage.Samples.Tests/GetHmacKeyTest.cs
  storage/api/Storage.Samples.Tests/HmacKeyManager.cs
  storage/api/Storage.Samples.Tests/ListHmacKeysTest.cs
Labels: api: storage, cla: yes, kokoro:force-run, samples

#1342 samples(spanner): fix optimizer stats pkg sample
  spanner/api/Spanner.Samples/CreateConnectionWithQueryOptionsAsync.cs
  spanner/api/Spanner.Samples/RunCommandWithQueryOptionsAsync.cs
Labels: api: spanner, cla: yes, samples

#1344 Tweaks to license file so that GitHub recognises it
  LICENSE
Labels: cla: yes, samples

#1345 spanner: cleanup stale instances before starting new test cycle
  spanner/api/Spanner.Samples.Tests/SpannerFixture.cs
Labels: api: spanner, cla: yes, samples

#1346 tests: Delete backups before deleting database.
  spanner/api/Spanner.Samples.Tests/SpannerFixture.cs
Labels: cla: yes, samples

#1348 Remove copyright.txt
  Copyright.txt
Labels: cla: yes, samples

#1349 chore: Activate renovate
  .github/renovate.json
Labels: cla: yes, samples

#1351 tests(spanner): Delete more stale databases and backups.
  spanner/api/Spanner.Samples.Tests/SpannerFixture.cs
Labels: api: spanner, cla: yes, samples
