Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2021-02, with the labels that each got.

#1247 feat(storage): add PublicAccessPrevention samples
  storage/api/Storage.Samples.Tests/GetPublicAccessPreventionTest.cs
  storage/api/Storage.Samples.Tests/SetPublicAccessPreventionEnforcedTest.cs
  storage/api/Storage.Samples.Tests/SetPublicAccessPreventionUnspecifiedTest.cs
  storage/api/Storage.Samples/GetPublicAccessPrevention.cs
  storage/api/Storage.Samples/SetPublicAccessPreventionEnforced.cs
  storage/api/Storage.Samples/SetPublicAccessPreventionUnspecified.cs
Labels: api: storage, cla: yes, samples

#1252 feat(Spanner): batch DDL statements in CreateDatabase sample
  spanner/api/Spanner.Samples/CreateDatabaseAsync.cs
Labels: api: spanner, cla: yes, samples

#1242 Update Cloud SQL sample app get connection and DB initialization
  cloud-sql/mysql/Controllers/HomeController.cs
  cloud-sql/mysql/Program.cs
  cloud-sql/mysql/Startup.cs
  cloud-sql/postgres/Controllers/HomeController.cs
  cloud-sql/postgres/Program.cs
  cloud-sql/postgres/Startup.cs
  cloud-sql/sql-server/Controllers/HomeController.cs
  cloud-sql/sql-server/Program.cs
  cloud-sql/sql-server/Settings/AppSettings.cs
  cloud-sql/sql-server/Settings/GoogleCloudSettings.cs
  cloud-sql/sql-server/Startup.cs
  cloud-sql/sql-server/appsettings.json
Labels: cla: yes, samples

#1256 feat: add LogCommitStats sample for Spanner
  spanner/api/Spanner.Samples.Tests/LogCommitStatsAsyncTest.cs
  spanner/api/Spanner.Samples/LogCommitStatsAsync.cs
  spanner/api/Spanner.Samples/Spanner.Samples.csproj
Labels: cla: yes, samples

#1255 feat: add NUMERIC column to table with all data types
  spanner/api/Spanner/Program.cs
Labels: cla: yes, samples

#1250 docs: add samples for pitr
  spanner/api/QuickStart/QuickStart.csproj
  spanner/api/Spanner.Samples.Tests/CreateDatabaseWithRetentionPeriodAsyncTest.cs
  spanner/api/Spanner.Samples/CreateBackup.cs
  spanner/api/Spanner.Samples/CreateDatabaseWithRetentionPeriodAsync.cs
  spanner/api/Spanner/CreateBackup.cs
  spanner/api/Spanner/RestoreDatabase.cs
  spanner/api/Spanner/Spanner.csproj
Labels: api: spanner, cla: yes, samples

#1259 chore: re-enable disabled test since quotas already increased
  dialogflow/api/DialogflowSamples/DialogflowSamples.csproj
  dialogflow/api/Test/DetectIntentStreamTest.cs
  dialogflow/api/Test/DialogflowSampleTests.csproj
Labels: cla: yes, samples

#1263 fix: use earliest version time for CreateBackup
  spanner/api/Spanner.Samples.Tests/CreateBackupTest.cs
  spanner/api/Spanner.Samples.Tests/SpannerFixture.cs
  spanner/api/Spanner.Samples/CreateBackup.cs
Labels: cla: yes, samples

#1264 Remove hardcoded image name in CloudDemo manifests
  applications/clouddemo/net4/Dockerfile
  applications/clouddemo/net4/README.md
  applications/clouddemo/net4/deployment.yaml
  applications/clouddemo/netcore/README.md
  applications/clouddemo/netcore/deployment.yaml
Labels: cla: yes, samples
