Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2021-11, with the labels that each got.

#1516 feat(Game Servers): Add samples and tests
  game-servers/api/GameServers.Samples.Tests/ClusterIdentifier.cs
  game-servers/api/GameServers.Samples.Tests/ConfigIdentifier.cs
  game-servers/api/GameServers.Samples.Tests/CreateClusterAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/CreateConfigAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/CreateDeploymentAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/CreateRealmAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/DeleteClusterTests.cs
  game-servers/api/GameServers.Samples.Tests/DeleteConfigTests.cs
  game-servers/api/GameServers.Samples.Tests/DeleteDeploymentTests.cs
  game-servers/api/GameServers.Samples.Tests/DeleteRealmTests.cs
  game-servers/api/GameServers.Samples.Tests/GameServers.Samples.Tests.csproj
  game-servers/api/GameServers.Samples.Tests/GameServersFixture.cs
  game-servers/api/GameServers.Samples.Tests/GetClusterTests.cs
  game-servers/api/GameServers.Samples.Tests/GetConfigTests.cs
  game-servers/api/GameServers.Samples.Tests/GetDeploymentTests.cs
  game-servers/api/GameServers.Samples.Tests/GetRealmTests.cs
  game-servers/api/GameServers.Samples.Tests/GetRolloutTests.cs
  game-servers/api/GameServers.Samples.Tests/ListClustersTests.cs
  game-servers/api/GameServers.Samples.Tests/ListConfigsTests.cs
  game-servers/api/GameServers.Samples.Tests/ListDeploymentsTests.cs
  game-servers/api/GameServers.Samples.Tests/ListRealmsTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateClusterAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateDeploymentAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRealmAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRolloutDefaultConfigAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRolloutOverrideConfigAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRolloutRemoveDefaultConfigAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRolloutRemoveOverrideConfigAsyncTests.cs
  game-servers/api/GameServers.Samples/CreateClusterAsync.cs
  game-servers/api/GameServers.Samples/CreateConfigAsync.cs
  game-servers/api/GameServers.Samples/CreateDeploymentAsync.cs
  game-servers/api/GameServers.Samples/CreateRealmAsync.cs
  game-servers/api/GameServers.Samples/DeleteCluster.cs
  game-servers/api/GameServers.Samples/DeleteConfig.cs
  game-servers/api/GameServers.Samples/DeleteDeployment.cs
  game-servers/api/GameServers.Samples/DeleteRealm.cs
  game-servers/api/GameServers.Samples/GameServers.Samples.csproj
  game-servers/api/GameServers.Samples/GetCluster.cs
  game-servers/api/GameServers.Samples/GetConfig.cs
  game-servers/api/GameServers.Samples/GetDeployment.cs
  game-servers/api/GameServers.Samples/GetRealm.cs
  game-servers/api/GameServers.Samples/GetRollout.cs
  game-servers/api/GameServers.Samples/ListClusters.cs
  game-servers/api/GameServers.Samples/ListConfigs.cs
  game-servers/api/GameServers.Samples/ListDeployments.cs
  game-servers/api/GameServers.Samples/ListRealms.cs
  game-servers/api/GameServers.Samples/UpdateClusterAsync.cs
  game-servers/api/GameServers.Samples/UpdateDeploymentAsync.cs
  game-servers/api/GameServers.Samples/UpdateRealmAsync.cs
  game-servers/api/GameServers.Samples/UpdateRolloutDefaultConfigAsync.cs
  game-servers/api/GameServers.Samples/UpdateRolloutOverrideConfigAsync.cs
  game-servers/api/GameServers.Samples/UpdateRolloutRemoveDefaultConfigAsync.cs
  game-servers/api/GameServers.Samples/UpdateRolloutRemoveOverrideConfigAsync.cs
  game-servers/api/GameServers.sln
  game-servers/api/runTests.ps1
Labels: cla: yes, samples

#1545 tests(Compute): Load tools from the correct path.
  compute/api/runTests.ps1
Labels: cla: yes, api: compute, samples

#1552 tests(transcoder): Retry some more the job poller.
  media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
Labels: cla: yes, samples, api: transcoder
