Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2021-06, with the labels that each got.

#1323 feat(compute): Adds first samples for Google.Cloud.Compute.V1
  compute/api/Compute.Samples.Tests/Compute.Samples.Tests.csproj
  compute/api/Compute.Samples.Tests/ComputeFixture.cs
  compute/api/Compute.Samples.Tests/CreateInstanceAsyncTest.cs
  compute/api/Compute.Samples.Tests/DeleteInstanceAsyncTest.cs
  compute/api/Compute.Samples.Tests/ListAllInstancesAsyncTest.cs
  compute/api/Compute.Samples.Tests/ListZonenstancesAsyncTest.cs
  compute/api/Compute.Samples.Tests/OperationPollerTest.cs
  compute/api/Compute.Samples/Compute.Samples.csproj
  compute/api/Compute.Samples/CreateInstanceAsync.cs
  compute/api/Compute.Samples/DeleteInstanceAsync.cs
  compute/api/Compute.Samples/ListAllInstancesAsync.cs
  compute/api/Compute.Samples/ListZoneInstancesAsync.cs
  compute/api/Compute.Samples/OperationPoller.cs
  compute/api/Compute.sln
  compute/api/runTests.ps1
Labels: api: compute, cla: yes, samples

#1319 samples(spanner): add statistics package samples
  spanner/api/QuickStart/QuickStart.csproj
  spanner/api/Spanner.Samples/CreateConnectionWithQueryOptionsAsync.cs
  spanner/api/Spanner.Samples/RunCommandWithQueryOptionsAsync.cs
  spanner/api/Spanner.Samples/Spanner.Samples.csproj
  spanner/api/Spanner/Program.cs
  spanner/api/Spanner/Spanner.csproj
Labels: api: spanner, cla: yes, samples

#1320 samples(spanner): use an explicit transaction ...
  spanner/api/Spanner.Samples/InsertDataAsync.cs
  spanner/api/Spanner/Program.cs
Labels: api: spanner, cla: yes, samples

#1325 CloudAsset: Add sample code for ListAssets
  asset/api/Asset.Samples.Tests/ListAssetsTest.cs
  asset/api/Asset.Samples/Asset.Samples.csproj
  asset/api/Asset.Samples/ListAssets.cs
Labels: api: cloudasset, cla: yes, samples

#1327 feat(Pub/Sub): Set correct names for avro examples
  pubsub/api/Pubsub.Samples/PublishAvroMessagesAsync.cs
  pubsub/api/Pubsub.Samples/PullAvroMessagesAsync.cs
Labels: cla: yes, samples
