Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2022-04, with the labels that each got.

#1672 chore(functions/helloGcs): add explanatory comment
  functions/helloworld/HelloGcs/Function.cs
Labels: api: cloudfunctions, samples

#1633 Retail-Products samples
  retail/interactive-tutorial/Retail.sln
  retail/interactive-tutorial/RetailProducts.Samples.Tests/CreateProductTest.cs
  retail/interactive-tutorial/RetailProducts.Samples.Tests/CrudProductTest.cs
  retail/interactive-tutorial/RetailProducts.Samples.Tests/DeleteProductTest.cs
  retail/interactive-tutorial/RetailProducts.Samples.Tests/GetProductTest.cs
  retail/interactive-tutorial/RetailProducts.Samples.Tests/RetailProducts.Samples.Tests.csproj
  retail/interactive-tutorial/RetailProducts.Samples.Tests/UpdateProductTest.cs
  retail/interactive-tutorial/RetailProducts.Samples/CreateProductSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/CrudProductSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/DeleteProductSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/GetProductSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/Program.cs
  retail/interactive-tutorial/RetailProducts.Samples/RetailProducts.Samples.csproj
  retail/interactive-tutorial/RetailProducts.Samples/UpdateProductSample.cs
Labels: samples

#1663 Cross region backup
  spanner/api/Spanner.Samples.Tests/CopyBackupTest.cs
  spanner/api/Spanner.Samples/CopyBackup.cs
  spanner/api/Spanner.Samples/Spanner.Samples.csproj
Labels: samples

#1679 fix(BigQuery.Storage):Removed ToProto Extension method.
  bigquery-storage/api/BigQueryStorage.Samples/AppendRowsPending.cs
  bigquery-storage/api/BigQueryStorage.Samples/BigQueryStorage.Samples.csproj
  bigquery-storage/api/BigQueryStorage.Samples/Extensions/Extensions.cs
Labels: api: bigquery, samples

#1671 Sample for setting client endpoint on storage client
  storage/api/Storage.Samples.Tests/SetClientEndpointTest.cs
  storage/api/Storage.Samples/SetClientEndpointSample.cs
Labels: samples

#1683 samples(cloud-sql): Update cloud sql sample apps to netcoreapp 3.1
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/mysql/Filters/DbExceptionFilter.cs
  cloud-sql/mysql/Startup.cs
  cloud-sql/postgres/CloudSql.csproj
  cloud-sql/postgres/Filters/DbExceptionFilter.cs
  cloud-sql/postgres/Startup.cs
  cloud-sql/sql-server/CloudSql.csproj
  cloud-sql/sql-server/Controllers/HomeController.cs
  cloud-sql/sql-server/Filters/DbExceptionFilter.cs
  cloud-sql/sql-server/Startup.cs
Labels: samples, api: cloudsql

#1691 samples(cloud-sql/mysql): Fix README to refer to MySQL instead of Postgres
  cloud-sql/mysql/README.md
Labels: samples, api: cloudsql

#1697 Enable SQL Server integration tests.
  cloud-sql/sql-server/runTestsWithSqlServer.ps1
Labels: samples, api: cloudsql
