Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2022-08, with the labels that each got.

#1840 Use new Ingress resource for CloudDemo app
  applications/clouddemo/net4/deployment.yaml
  applications/clouddemo/netcore/deployment.yaml
Labels: samples

#1837 Added fields and description
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithPageSizeSample.cs
Labels: samples

#1841 Retail search console output
  retail/interactive-tutorial/RetailSearch.Samples/SearchSimpleQuerySample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithBoostSpecSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithFacetSpecSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithFilteringSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithNextPageTokenSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithOffsetSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithOrderingSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithPageSizeSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithQueryExpansionSample.cs
Labels: samples

#1851 docs: Updated .NET Core version in readme.md
  applications/leaderboard/README.md
Labels: samples

#1855 Create json files in buckets with invalid product/event
  retail/interactive-tutorial/TestResourcesSetupCleanup/CreateTestResources.cs
Labels: samples

#1817 Added importing user events, tests, resources and setups
  retail/interactive-tutorial/RetailEvents.Samples.Tests/ImportUserEventsBigQueryTableTest.cs
  retail/interactive-tutorial/RetailEvents.Samples.Tests/ImportUserEventsGcsTest.cs
  retail/interactive-tutorial/RetailEvents.Samples.Tests/ImportUserEventsInlineSourceTest.cs
  retail/interactive-tutorial/RetailEvents.Samples/ImportUserEventsBigQuerySample.cs
  retail/interactive-tutorial/RetailEvents.Samples/ImportUserEventsGcsSample.cs
  retail/interactive-tutorial/RetailEvents.Samples/ImportUserEventsInlineSourceSample.cs
  retail/interactive-tutorial/RetailEvents.Samples/RetailEvents.Samples.csproj
  retail/interactive-tutorial/RetailEvents.Samples/setup/EventsCreateBigQueryTable.cs
  retail/interactive-tutorial/RetailEvents.Samples/setup/EventsCreateGcsBucket.cs
  retail/interactive-tutorial/RetailEvents.Samples/setup/EventsDeleteBigQueryTable.cs
  retail/interactive-tutorial/RetailEvents.Samples/setup/EventsDeleteGcsBucket.cs
  retail/interactive-tutorial/RetailEvents.Samples/setup/UpdateUserEventsJson.cs
Labels: samples

#1850 feat(Livestream): Add samples and tests
  media/livestream/api/LiveStream.Samples.Tests/CreateInputAsyncTests.cs
  media/livestream/api/LiveStream.Samples.Tests/DeleteInputAsyncTests.cs
  media/livestream/api/LiveStream.Samples.Tests/GetInputTests.cs
  media/livestream/api/LiveStream.Samples.Tests/ListInputsTests.cs
  media/livestream/api/LiveStream.Samples.Tests/LiveStream.Samples.Tests.csproj
  media/livestream/api/LiveStream.Samples.Tests/LiveStreamFixture.cs
  media/livestream/api/LiveStream.Samples.Tests/UpdateInputAsyncTests.cs
  media/livestream/api/LiveStream.Samples/CreateInputAsync.cs
  media/livestream/api/LiveStream.Samples/DeleteInputAsync.cs
  media/livestream/api/LiveStream.Samples/GetInput.cs
  media/livestream/api/LiveStream.Samples/ListInputs.cs
  media/livestream/api/LiveStream.Samples/LiveStream.Samples.csproj
  media/livestream/api/LiveStream.Samples/UpdateInputAsync.cs
  media/livestream/api/LiveStream.sln
  media/livestream/api/runTests.ps1
Labels: samples, api: livestream

#1849 docs(secretmanager): Add sample for creating Secret with UserManaged replication
  secretmanager/api/SecretManager.Samples.Tests/CreateUserManagedReplicationSecretTests.cs
  secretmanager/api/SecretManager.Samples.Tests/SecretManagerFixture.cs
  secretmanager/api/SecretManager.Samples/CreateUserManagedReplicationSecret.cs
Labels: api: secretmanager, samples

#1863 Environment setup and import data scripts
  retail/interactive-tutorial/user_environment_setup.sh
  retail/interactive-tutorial/user_import_data_to_catalog.sh
Labels: samples

#1869 Missing $ in the defaultCatalog string was fixed
  retail/interactive-tutorial/RetailEvents.Samples/PurgeUserEventSample.cs
  retail/interactive-tutorial/RetailEvents.Samples/RejoinUserEventSample.cs
  retail/interactive-tutorial/RetailEvents.Samples/WriteUserEventSample.cs
Labels: samples

#1862 Invalid test resources creation
  retail/interactive-tutorial/RetailEvents.Samples/setup/EventsCreateBigQueryTable.cs
  retail/interactive-tutorial/RetailProducts.Samples/setup/ProductsCreateBigQueryTable.cs
  retail/interactive-tutorial/TestResourcesSetupCleanup/CreateTestResources.cs
Labels: samples

#1875 Update CODEOWNERS
  CODEOWNERS
Labels: samples

#1871 fix(functions): add 2nd-gen region tags
  functions/helloworld/HelloGcs/Function.cs
  functions/helloworld/HelloPubSub/Function.cs
  functions/helloworld/HelloWorld.Tests/HelloGcsUnitTest.cs
  functions/helloworld/HelloWorld.Tests/HelloPubSubUnitTest.cs
Labels: api: cloudfunctions, samples

#1883 feat: Exactly once delivery subscriber sample.
  pubsub/api/Pubsub.Samples.Tests/CreateSubscriptionWithExactlyOnceDeliveryTest.cs
  pubsub/api/Pubsub.Samples.Tests/ExactlyOnceDeliverySubscriberAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PubsubFixture.cs
  pubsub/api/Pubsub.Samples/CreateSubscriptionWithExactlyOnceDelivery.cs
  pubsub/api/Pubsub.Samples/ExactlyOnceDeliverySubscriberAsync.cs
Labels: samples

#1884 Add SSL certificate support to Cloud SQL sample app.
  cloud-sql/mysql/ConnectTcp.cs
  cloud-sql/mysql/README.md
  cloud-sql/postgres/ConnectTcp.cs
  cloud-sql/postgres/README.md
  cloud-sql/sql-server/ConnectTcp.cs
  cloud-sql/sql-server/README.md
Labels: samples
