Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2022-11, with the labels that each got.

#1962 chore: Remove dependencies on coverlet.collector as we don't use it.
  functions/concepts/Concepts.Tests/Concepts.Tests.csproj
  functions/firebase/Firebase.Tests/Firebase.Tests.csproj
  functions/helloworld/HelloWorld.Tests/HelloWorld.Tests.csproj
  functions/http/Http.Tests/Http.Tests.csproj
  functions/logging/Logging.Tests/Logging.Tests.csproj
  media/livestream/api/LiveStream.Samples.Tests/LiveStream.Samples.Tests.csproj
  media/stitcher/api/Stitcher.Samples.Tests/Stitcher.Samples.Tests.csproj
  media/transcoder/api/Transcoder.Samples.Tests/Transcoder.Samples.Tests.csproj
  retail/interactive-tutorial/RetailEvents.Samples.Tests/RetailEvents.Samples.Tests.csproj
  retail/interactive-tutorial/RetailProducts.Samples.Tests/RetailProducts.Samples.Tests.csproj
  run/markdown-preview/Samples.Run.MarkdownPreview.Editor.Tests/Samples.Run.MarkdownPreview.Editor.Tests.csproj
  run/markdown-preview/Samples.Run.MarkdownPreview.Renderer.Tests/Samples.Run.MarkdownPreview.Renderer.Tests.csproj
  run/pubsub/Run.Samples.Pubsub.MinimalApi.Tests/Run.Samples.Pubsub.MinimalApi.Tests.csproj
  storage/api/Storage.Samples.Tests/Storage.Samples.Tests.csproj
  storagetransfer/api/StorageTransfer.Samples.Tests/StorageTransfer.Samples.Tests.csproj
Labels: samples

#1965 fix(Retail): Fix SearchWithQueryExpansionTest
  retail/interactive-tutorial/RetailSearch.Samples.Tests/SearchWithQueryExpansionTest.cs
Labels: samples, api: retail, owlbot:run

#1951 Storage Autoclass samples
  storage/api/Storage.Samples.Tests/GetAutoclassTest.cs
  storage/api/Storage.Samples.Tests/SetAutoclassTest.cs
  storage/api/Storage.Samples.Tests/StorageFixture.cs
  storage/api/Storage.Samples/GetAutoclass.cs
  storage/api/Storage.Samples/SetAutoclass.cs
Labels: samples

#1950 feat:PgJsonb samples
  spanner/api/Spanner.Samples.Tests/AddJsonbColumnAsyncPostgreTest.cs
  spanner/api/Spanner.Samples.Tests/CreateInterleavedTablesAsyncPostgreTest.cs
  spanner/api/Spanner.Samples.Tests/QueryJsonbDataUsingParameterAsyncPostgreTest.cs
  spanner/api/Spanner.Samples.Tests/SpannerFixture.cs
  spanner/api/Spanner.Samples.Tests/UpdateDataWithJsonbAsyncPostgreTest.cs
  spanner/api/Spanner.Samples/AddJsonbColumnAsyncPostgre.cs
  spanner/api/Spanner.Samples/QueryJsonbDataUsingParameterAsyncPostgre.cs
  spanner/api/Spanner.Samples/UpdateDataWithJsonbAsyncPostgre.cs
Labels: samples

#1957 chore: removing obsolete region tags
  firestore/api/AddData/Program.cs
  firestore/api/DataModel/Program.cs
  firestore/api/DeleteData/Program.cs
  firestore/api/GetData/Program.cs
  firestore/api/ListenData/Program.cs
  firestore/api/OrderLimitData/Program.cs
  firestore/api/PaginateData/Program.cs
  firestore/api/QueryData/Program.cs
  firestore/api/Quickstart/Program.cs
  firestore/api/SolutionCounter/Program.cs
  firestore/api/TransactionsAndBatchedWrites/Program.cs
Labels: samples

#1971 chore(firestore): update region tags to use product prefix
  firestore/api/ManageIndexes/Program.cs
Labels: api: firestore, samples

#1976 Fix publishing profile of CloudDemo app
  applications/clouddemo/net4/CloudDemo.Mvc/Properties/PublishProfiles/PackageProfile.pubxml
Labels: samples

#1977 docs: typo
  appengine/flexible/Pubsub/Controllers/HomeController.cs
Labels: samples

#1975 Update CloudDemo app to .NET 6
  applications/clouddemo/netcore/CloudDemo.MvcCore/CloudDemo.MvcCore.csproj
  applications/clouddemo/netcore/CloudDemo.MvcCore/Controllers/HomeController.cs
  applications/clouddemo/netcore/CloudDemo.MvcCore/Models/ErrorViewModel.cs
  applications/clouddemo/netcore/CloudDemo.MvcCore/Models/HomeViewModel.cs
  applications/clouddemo/netcore/Dockerfile
  applications/clouddemo/netcore/runTests.ps1
Labels: samples

#1981 Update dockerignore to use net6.0 publishing path
  applications/clouddemo/netcore/.dockerignore
Labels: samples
