Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2022-06, with the labels that each got.

#1752 tests: Skip Bigtable samples tests as dependencies are now too old.
  bigtable/api/BigtableTest/runTests.ps1
  bigtable/api/SnippetsTest/runTest.ps1
Labels: samples

#1681 Pub-Sub Auth Push sample
  appengine/flexible/Pubsub/Controllers/HomeController.cs
  appengine/flexible/Pubsub/Pubsub.csproj
  appengine/flexible/Pubsub/PubsubOptions.cs
  appengine/flexible/Pubsub/Startup.cs
  appengine/flexible/Pubsub/ViewModels/MessageList.cs
  appengine/flexible/Pubsub/Views/Home/Index.cshtml
  appengine/flexible/Pubsub/appsettings.json
  appengine/flexible/Pubsub/deployTest.js
Labels: api: pubsub, samples

#1753 ci: Makes sharding print more dianogsing information.
  .kokoro/main.ps1
Labels: samples

#1751 feat: Update CloudSql samples to use latest Google.Cloud.Diagnostics …
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/mysql/Program.cs
  cloud-sql/mysql/Startup.cs
  cloud-sql/postgres/CloudSql.csproj
  cloud-sql/postgres/Program.cs
  cloud-sql/postgres/Startup.cs
  cloud-sql/sql-server/CloudSql.csproj
  cloud-sql/sql-server/Program.cs
  cloud-sql/sql-server/Startup.cs
Labels: samples, product: Cloud-SQL

#1761 build(Datastore): Update dependencines to GAX V4.
  datastore/admin-api/DatastoreAdmin.Samples.Tests/DatastoreAdmin.Samples.Tests.csproj
  datastore/admin-api/DatastoreAdmin.Samples/DatastoreAdmin.Samples.csproj
  datastore/api/QuickStart/QuickStart.csproj
  datastore/api/QuickStartTest/QuickStartTest.csproj
  datastore/api/TaskList/TaskList.csproj
  datastore/api/TaskListTest/DatastoreTest.csproj
Labels: api: datastore, samples

#1624 feat(run/pubsub): add Cloud Run sample for Pub/Sub tutorial
  run/pubsub/Run.Samples.Pubsub.MinimalApi.Tests/PostHandlerTests.cs
  run/pubsub/Run.Samples.Pubsub.MinimalApi.Tests/Run.Samples.Pubsub.MinimalApi.Tests.csproj
  run/pubsub/Run.Samples.Pubsub.MinimalApi/.gcloudignore
  run/pubsub/Run.Samples.Pubsub.MinimalApi/Dockerfile
  run/pubsub/Run.Samples.Pubsub.MinimalApi/Program.cs
  run/pubsub/Run.Samples.Pubsub.MinimalApi/Run.Samples.Pubsub.MinimalApi.csproj
  run/pubsub/Run.Samples.Pubsub.sln
  run/pubsub/runTests.ps1
Labels: api: run, samples

#1786 build(CloudTasks): Update dependencies to GAX V4
  cloudtasks/api/TasksSample/TasksSample.csproj
  cloudtasks/appengine/CloudTasks.csproj
  cloudtasks/appengine/Program.cs
  cloudtasks/appengine/Startup.cs
Labels: api: cloudtasks, samples

#1794 tests(Spanner): Improve cleanup as it was becoming flaky again.
  spanner/api/QuickStart/QuickStart.csproj
  spanner/api/Spanner.Samples.Tests/AddNumericColumnAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/CopyBackupTest.cs
  spanner/api/Spanner.Samples.Tests/CreateDatabaseAsyncPostgreTest.cs
  spanner/api/Spanner.Samples.Tests/CreateDatabaseAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/CreateDatabaseWithDefaultLeaderAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/CreateDatabaseWithRetentionPeriodAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/CreateInterleavedTablesAsyncPostgreTest.cs
  spanner/api/Spanner.Samples.Tests/DeleteDataAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/ExecutePartitionedDmlAsyncPostgreTest.cs
  spanner/api/Spanner.Samples.Tests/GetDatabaseDdlAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/GetDatabaseDefaultLeaderFromInformationSchemaAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/OrderNullsAsyncPostgreTest.cs
  spanner/api/Spanner.Samples.Tests/QueryUsingParametersAsyncPostgreTest.cs
  spanner/api/Spanner.Samples.Tests/SpannerFixture.cs
  spanner/api/Spanner.Samples.Tests/UpdateUsingDmlAsyncPostgreTest.cs
  spanner/api/Spanner.Samples/Spanner.Samples.csproj
  spanner/api/Spanner/Spanner.csproj
Labels: api: spanner, samples

#1803 refactor(Spanner): Some fixture improvements.
  spanner/api/Spanner.Samples.Tests/CopyBackupTest.cs
  spanner/api/Spanner.Samples.Tests/GetDatabaseDdlAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/SpannerFixture.cs
Labels: api: spanner, samples
