Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2022-02, with the labels that each got.

#1620 chore: Remove dead code from CreateSink sample
  logging/api/LoggingSample/Program.cs
Labels: samples

#1628 Retail search samples with tests (new)
  CODEOWNERS
  retail/interactive-tutorial/Retail.sln
  retail/interactive-tutorial/RetailSearch.Samples.Tests/RetailSearch.Samples.Tests.csproj
  retail/interactive-tutorial/RetailSearch.Samples.Tests/SearchSimpleQueryTest.cs
  retail/interactive-tutorial/RetailSearch.Samples.Tests/SearchWithBoostSpecTest.cs
  retail/interactive-tutorial/RetailSearch.Samples.Tests/SearchWithFacetSpecTest.cs
  retail/interactive-tutorial/RetailSearch.Samples.Tests/SearchWithFilteringTest.cs
  retail/interactive-tutorial/RetailSearch.Samples.Tests/SearchWithOrderingTest.cs
  retail/interactive-tutorial/RetailSearch.Samples.Tests/SearchWithQueryExpansionTest.cs
  retail/interactive-tutorial/RetailSearch.Samples/Program.cs
  retail/interactive-tutorial/RetailSearch.Samples/RetailSearch.Samples.csproj
  retail/interactive-tutorial/RetailSearch.Samples/SearchSimpleQuerySample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithBoostSpecSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithFacetSpecSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithFilteringSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithOrderingSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithQueryExpansionSample.cs
  retail/interactive-tutorial/Runner/Attributes/ExampleAttribute.cs
  retail/interactive-tutorial/Runner/Attributes/ExampleAttributeHelper.cs
  retail/interactive-tutorial/Runner/Program.cs
  retail/interactive-tutorial/Runner/Runner.csproj
  retail/interactive-tutorial/runTests.ps1
Labels: samples

#1629 pubsub_create_subscription_with_filter sample
  pubsub/api/Pubsub.Samples.Tests/CreateSubscriptionWithFilteringTest.cs
  pubsub/api/Pubsub.Samples/CreateSubscriptionWithFiltering.cs
Labels: api: pubsub, samples

#1635 Flaky copy file
  storage/api/Storage.Samples.Tests/CopyFileArchivedGenerationTest.cs
Labels: samples

#1601 BigQuery Storage AppendRows Sample
  bigquery-storage/api/BigQueryStorage.Samples.Tests/AppendRowsPendingTests.cs
  bigquery-storage/api/BigQueryStorage.Samples.Tests/BigQueryStorage.Samples.Tests.csproj
  bigquery-storage/api/BigQueryStorage.Samples.Tests/BigQueryStorageFixture.cs
  bigquery-storage/api/BigQueryStorage.Samples/AppendRowsPending.cs
  bigquery-storage/api/BigQueryStorage.Samples/BigQueryStorage.Samples.csproj
  bigquery-storage/api/BigQueryStorage.Samples/Data/CustomerRecord.g.cs
  bigquery-storage/api/BigQueryStorage.Samples/Extensions/Extensions.cs
  bigquery-storage/api/BigQueryStorage.Samples/README.md
  bigquery-storage/api/BigQueryStorage.Samples/Resources/customer_record.proto
  bigquery-storage/api/BigQueryStorage.sln
  bigquery-storage/api/runTests.ps1
Labels: api: bigquery, samples

#1643 fix(BigQuery.Storage): Code clean-up
  bigquery-storage/api/BigQueryStorage.Samples.Tests/AppendRowsPendingTests.cs
Labels: api: bigquery, samples
