Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2022-07, with the labels that each got.

#1788 feat(run/markdown-preview): add C# sample for Securing Cloud Run services tutorial
  run/markdown-preview/README.md
  run/markdown-preview/Samples.Run.MarkdownPreview.Editor.Tests/FakeHttpMessageHandler.cs
  run/markdown-preview/Samples.Run.MarkdownPreview.Editor.Tests/HomeControllerTests.cs
  run/markdown-preview/Samples.Run.MarkdownPreview.Editor.Tests/RenderControllerTests.cs
  run/markdown-preview/Samples.Run.MarkdownPreview.Editor.Tests/Samples.Run.MarkdownPreview.Editor.Tests.csproj
  run/markdown-preview/Samples.Run.MarkdownPreview.Editor/.gcloudignore
  run/markdown-preview/Samples.Run.MarkdownPreview.Editor/Controllers/HomeController.cs
  run/markdown-preview/Samples.Run.MarkdownPreview.Editor/Controllers/RenderController.cs
  run/markdown-preview/Samples.Run.MarkdownPreview.Editor/Dockerfile
  run/markdown-preview/Samples.Run.MarkdownPreview.Editor/Models/RenderModel.cs
  run/markdown-preview/Samples.Run.MarkdownPreview.Editor/Program.cs
  run/markdown-preview/Samples.Run.MarkdownPreview.Editor/Samples.Run.MarkdownPreview.Editor.csproj
  run/markdown-preview/Samples.Run.MarkdownPreview.Editor/Views/Home/Index.cshtml
  run/markdown-preview/Samples.Run.MarkdownPreview.Editor/appsettings.Development.json
  run/markdown-preview/Samples.Run.MarkdownPreview.Editor/appsettings.json
  run/markdown-preview/Samples.Run.MarkdownPreview.Editor/markdown.md
  run/markdown-preview/Samples.Run.MarkdownPreview.Renderer.Tests/PostHandlerTests.cs
  run/markdown-preview/Samples.Run.MarkdownPreview.Renderer.Tests/Samples.Run.MarkdownPreview.Renderer.Tests.csproj
  run/markdown-preview/Samples.Run.MarkdownPreview.Renderer/.gcloudignore
  run/markdown-preview/Samples.Run.MarkdownPreview.Renderer/Dockerfile
  run/markdown-preview/Samples.Run.MarkdownPreview.Renderer/Program.cs
  run/markdown-preview/Samples.Run.MarkdownPreview.Renderer/Samples.Run.MarkdownPreview.Renderer.csproj
  run/markdown-preview/Samples.Run.MarkdownPreview.Renderer/appsettings.Development.json
  run/markdown-preview/Samples.Run.MarkdownPreview.Renderer/appsettings.json
  run/markdown-preview/Samples.Run.MarkdownPreview.sln
  run/markdown-preview/runTests.ps1
Labels: api: run, samples

#1808 fix(run/markdown-preview): fix typo 'Repsonse --> Response'
  run/markdown-preview/Samples.Run.MarkdownPreview.Editor/Controllers/RenderController.cs
Labels: api: run, samples

#1809 samples: create Pub/Sub BigQuery subscription
  pubsub/api/Pubsub.Samples.Tests/CreateBigQuerySubscriptionTest.cs
  pubsub/api/Pubsub.Samples.Tests/Pubsub.Samples.Tests.csproj
  pubsub/api/Pubsub.Samples.Tests/PubsubFixture.cs
  pubsub/api/Pubsub.Samples/CreateBigQuerySubscription.cs
Labels: samples

#1819 docs(contributing): add link to Google Cloud Samples Style Guide
  CONTRIBUTING.md
Labels: samples

#1827 feat: Updated gcs dual-region sample and test for updated api.
  storage/api/Storage.Samples.Tests/CreateDualRegionBucketTest.cs
  storage/api/Storage.Samples/CreateDualRegionBucket.cs
Labels: samples

#1831 Update README.md
  functions/imagemagick/README.md
Labels: samples

#1832 tests(Retail): Fixed SearchWithQueryExpansionTest.
  retail/interactive-tutorial/RetailSearch.Samples.Tests/SearchWithQueryExpansionTest.cs
Labels: samples, api: retail

#1826 Fixed console output
  retail/interactive-tutorial/RetailProducts.Samples/UpdateProductSample.cs
Labels: samples

#1815 Added long-running samples and tests(copy)
  retail/interactive-tutorial/RetailProducts.Samples.Tests/AddFulfillmentPlacesTest.cs
  retail/interactive-tutorial/RetailProducts.Samples.Tests/RemoveFulfillmentInfoTest.cs
  retail/interactive-tutorial/RetailProducts.Samples.Tests/SetInventoryTest.cs
  retail/interactive-tutorial/RetailProducts.Samples/AddFulfillmentPlacesSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/RemoveFulfillmentPlacesSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/SetInventorySample.cs
Labels: samples

#1814 Added test resources setup cleanup(copy)
  retail/interactive-tutorial/Retail.sln
  retail/interactive-tutorial/TestResourcesSetupCleanup/CreateTestResources.cs
  retail/interactive-tutorial/TestResourcesSetupCleanup/Program.cs
  retail/interactive-tutorial/TestResourcesSetupCleanup/README.md
  retail/interactive-tutorial/TestResourcesSetupCleanup/RemoveTestResources.cs
  retail/interactive-tutorial/TestResourcesSetupCleanup/TestResourcesSetupCleanup.csproj
  retail/interactive-tutorial/TestResourcesSetupCleanup/resources/events_schema.json
  retail/interactive-tutorial/TestResourcesSetupCleanup/resources/product_schema.json
  retail/interactive-tutorial/TestResourcesSetupCleanup/resources/products.json
  retail/interactive-tutorial/TestResourcesSetupCleanup/resources/products_some_invalid.json
  retail/interactive-tutorial/TestResourcesSetupCleanup/resources/user_events.json
  retail/interactive-tutorial/TestResourcesSetupCleanup/resources/user_events_some_invalid.json
Labels: samples

#1835 chore(GameServers): Delete unused samples.
  game-servers/api/GameServers.Samples.Tests/ClusterIdentifier.cs
  game-servers/api/GameServers.Samples.Tests/ConfigIdentifier.cs
  game-servers/api/GameServers.Samples.Tests/CreateClusterAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/CreateConfigAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/CreateDeploymentAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/CreateRealmAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/DeleteClusterTests.cs
  game-servers/api/GameServers.Samples.Tests/DeleteConfigTests.cs
  game-servers/api/GameServers.Samples.Tests/DeleteDeploymentTests.cs
  game-servers/api/GameServers.Samples.Tests/DeleteRealmTests.cs
  game-servers/api/GameServers.Samples.Tests/GameServers.Samples.Tests.csproj
  game-servers/api/GameServers.Samples.Tests/GameServersFixture.cs
  game-servers/api/GameServers.Samples.Tests/GetClusterTests.cs
  game-servers/api/GameServers.Samples.Tests/GetConfigTests.cs
  game-servers/api/GameServers.Samples.Tests/GetDeploymentTests.cs
  game-servers/api/GameServers.Samples.Tests/GetRealmTests.cs
  game-servers/api/GameServers.Samples.Tests/GetRolloutTests.cs
  game-servers/api/GameServers.Samples.Tests/ListClustersTests.cs
  game-servers/api/GameServers.Samples.Tests/ListConfigsTests.cs
  game-servers/api/GameServers.Samples.Tests/ListDeploymentsTests.cs
  game-servers/api/GameServers.Samples.Tests/ListRealmsTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateClusterAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateDeploymentAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRealmAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRolloutDefaultConfigAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRolloutOverrideConfigAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRolloutRemoveDefaultConfigAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRolloutRemoveOverrideConfigAsyncTests.cs
  game-servers/api/GameServers.Samples/CreateClusterAsync.cs
  game-servers/api/GameServers.Samples/CreateConfigAsync.cs
  game-servers/api/GameServers.Samples/CreateDeploymentAsync.cs
  game-servers/api/GameServers.Samples/CreateRealmAsync.cs
  game-servers/api/GameServers.Samples/DeleteCluster.cs
  game-servers/api/GameServers.Samples/DeleteConfig.cs
  game-servers/api/GameServers.Samples/DeleteDeployment.cs
  game-servers/api/GameServers.Samples/DeleteRealm.cs
  game-servers/api/GameServers.Samples/GameServers.Samples.csproj
  game-servers/api/GameServers.Samples/GetCluster.cs
  game-servers/api/GameServers.Samples/GetConfig.cs
  game-servers/api/GameServers.Samples/GetDeployment.cs
  game-servers/api/GameServers.Samples/GetRealm.cs
  game-servers/api/GameServers.Samples/GetRollout.cs
  game-servers/api/GameServers.Samples/ListClusters.cs
  game-servers/api/GameServers.Samples/ListConfigs.cs
  game-servers/api/GameServers.Samples/ListDeployments.cs
  game-servers/api/GameServers.Samples/ListRealms.cs
  game-servers/api/GameServers.Samples/UpdateClusterAsync.cs
  game-servers/api/GameServers.Samples/UpdateDeploymentAsync.cs
  game-servers/api/GameServers.Samples/UpdateRealmAsync.cs
  game-servers/api/GameServers.Samples/UpdateRolloutDefaultConfigAsync.cs
  game-servers/api/GameServers.Samples/UpdateRolloutOverrideConfigAsync.cs
  game-servers/api/GameServers.Samples/UpdateRolloutRemoveDefaultConfigAsync.cs
  game-servers/api/GameServers.Samples/UpdateRolloutRemoveOverrideConfigAsync.cs
  game-servers/api/GameServers.sln
  game-servers/api/runTests.ps1
Labels: samples
