Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2022-09, with the labels that each got.

#1886 feat(Livestream): Add samples and tests
  media/livestream/api/LiveStream.Samples.Tests/CreateChannelEventTests.cs
  media/livestream/api/LiveStream.Samples.Tests/DeleteChannelEventTests.cs
  media/livestream/api/LiveStream.Samples.Tests/GetChannelEventTests.cs
  media/livestream/api/LiveStream.Samples.Tests/ListChannelEventsTests.cs
  media/livestream/api/LiveStream.Samples.Tests/LiveStreamFixture.cs
  media/livestream/api/LiveStream.Samples/CreateChannelEvent.cs
  media/livestream/api/LiveStream.Samples/DeleteChannelEvent.cs
  media/livestream/api/LiveStream.Samples/GetChannelEvent.cs
  media/livestream/api/LiveStream.Samples/ListChannelEvents.cs
Labels: samples, api: livestream

#1892 LRO without timestamps
  retail/interactive-tutorial/RetailProducts.Samples/AddFulfillmentPlacesSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/RemoveFulfillmentPlacesSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/SetInventorySample.cs
Labels: samples

#1861 Added comments to indicate where to paste piece of code
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithPageSizeSample.cs
Labels: samples

#1893 RetailSearch samples "if" condition
  retail/interactive-tutorial/RetailSearch.Samples/SearchSimpleQuerySample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithBoostSpecSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithFacetSpecSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithFilteringSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithNextPageTokenSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithOffsetSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithOrderingSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithPageSizeSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithQueryExpansionSample.cs
Labels: samples

#1898 Update invalid events table name
  retail/interactive-tutorial/TestResourcesSetupCleanup/CreateTestResources.cs
Labels: samples

#1894 feat(Video Stitcher): Add samples and tests
  media/stitcher/api/Stitcher.Samples.Tests/CreateCdnKeyTests.cs
  media/stitcher/api/Stitcher.Samples.Tests/CreateSlateTests.cs
  media/stitcher/api/Stitcher.Samples.Tests/DeleteCdnKeyTests.cs
  media/stitcher/api/Stitcher.Samples.Tests/DeleteSlateTests.cs
  media/stitcher/api/Stitcher.Samples.Tests/GetCdnKeyTests.cs
  media/stitcher/api/Stitcher.Samples.Tests/GetSlateTests.cs
  media/stitcher/api/Stitcher.Samples.Tests/ListCdnKeysTests.cs
  media/stitcher/api/Stitcher.Samples.Tests/ListSlatesTests.cs
  media/stitcher/api/Stitcher.Samples.Tests/Stitcher.Samples.Tests.csproj
  media/stitcher/api/Stitcher.Samples.Tests/StitcherFixture.cs
  media/stitcher/api/Stitcher.Samples.Tests/UpdateCdnKeyTests.cs
  media/stitcher/api/Stitcher.Samples.Tests/UpdateSlateTests.cs
  media/stitcher/api/Stitcher.Samples/CreateCdnKey.cs
  media/stitcher/api/Stitcher.Samples/CreateSlate.cs
  media/stitcher/api/Stitcher.Samples/DeleteCdnKey.cs
  media/stitcher/api/Stitcher.Samples/DeleteSlate.cs
  media/stitcher/api/Stitcher.Samples/GetCdnKey.cs
  media/stitcher/api/Stitcher.Samples/GetSlate.cs
  media/stitcher/api/Stitcher.Samples/ListCdnKeys.cs
  media/stitcher/api/Stitcher.Samples/ListSlates.cs
  media/stitcher/api/Stitcher.Samples/Stitcher.Samples.csproj
  media/stitcher/api/Stitcher.Samples/UpdateCdnKey.cs
  media/stitcher/api/Stitcher.Samples/UpdateSlate.cs
  media/stitcher/api/Stitcher.sln
  media/stitcher/api/runTests.ps1
Labels: samples, api: videostitcher

#1895 Remove region tags from retail samples
  retail/interactive-tutorial/RetailEvents.Samples/ImportUserEventsBigQuerySample.cs
  retail/interactive-tutorial/RetailEvents.Samples/ImportUserEventsGcsSample.cs
  retail/interactive-tutorial/RetailEvents.Samples/ImportUserEventsInlineSourceSample.cs
  retail/interactive-tutorial/RetailEvents.Samples/PurgeUserEventSample.cs
  retail/interactive-tutorial/RetailEvents.Samples/RejoinUserEventSample.cs
  retail/interactive-tutorial/RetailEvents.Samples/WriteUserEventSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/AddFulfillmentPlacesSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/CreateProductSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/CrudProductSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/DeleteProductSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/GetProductSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/ImportProductsBigQueryTableSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/ImportProductsGcsSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/ImportProductsInlineSourceSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/RemoveFulfillmentPlacesSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/SetInventorySample.cs
  retail/interactive-tutorial/RetailProducts.Samples/UpdateProductSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchSimpleQuerySample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithBoostSpecSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithFacetSpecSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithFilteringSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithNextPageTokenSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithOffsetSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithOrderingSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithQueryExpansionSample.cs
Labels: samples

#1902 Update invalid events table name
  retail/interactive-tutorial/RetailEvents.Samples/setup/EventsCreateBigQueryTable.cs
Labels: samples

#1904 chore(IoT): Deactivate tests.
  iot/api/CloudIotMqttExampleTest/runTests.ps1
  iot/api/CloudIotTest/runTests.ps1
Labels: api: cloudiot, samples

#1905 fix(Live Stream): delete inputs and channels more than 2 hours old
  media/livestream/api/LiveStream.Samples.Tests/LiveStreamFixture.cs
Labels: samples, api: livestream

#1907 fix(Spanner): Test was expecting ordered data without order by.
  spanner/api/Spanner.Samples.Tests/QueryDataWithArrayOfStructAsyncTest.cs
Labels: api: spanner, samples

#1906 feat(Video Stitcher): Add samples and tests
  media/stitcher/api/Stitcher.Samples.Tests/CreateVodSessionTests.cs
  media/stitcher/api/Stitcher.Samples.Tests/GetVodAdTagDetailTests.cs
  media/stitcher/api/Stitcher.Samples.Tests/GetVodSessionTests.cs
  media/stitcher/api/Stitcher.Samples.Tests/GetVodStitchDetailTests.cs
  media/stitcher/api/Stitcher.Samples.Tests/ListVodAdTagDetailsTests.cs
  media/stitcher/api/Stitcher.Samples.Tests/ListVodStitchDetailsTests.cs
  media/stitcher/api/Stitcher.Samples.Tests/StitcherFixture.cs
  media/stitcher/api/Stitcher.Samples/CreateVodSession.cs
  media/stitcher/api/Stitcher.Samples/GetVodAdTagDetail.cs
  media/stitcher/api/Stitcher.Samples/GetVodSession.cs
  media/stitcher/api/Stitcher.Samples/GetVodStitchDetail.cs
  media/stitcher/api/Stitcher.Samples/ListVodAdTagDetails.cs
  media/stitcher/api/Stitcher.Samples/ListVodStitchDetails.cs
Labels: samples, api: videostitcher

#1911 Update RemoveTime property
  retail/interactive-tutorial/RetailProducts.Samples/RemoveFulfillmentPlacesSample.cs
Labels: samples

#1912 Update user env setup
  retail/interactive-tutorial/user_environment_setup.sh
Labels: samples

#1924 Delete unused RetailSearch samples and tests
  retail/interactive-tutorial/RetailSearch.Samples.Tests/SearchWithNextPageTokenTest.cs
  retail/interactive-tutorial/RetailSearch.Samples.Tests/SearchWithOffsetTest.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithNextPageTokenSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithOffsetSample.cs
Labels: samples

#1923 Rename SearchWithPageSize sample
  retail/interactive-tutorial/RetailSearch.Samples.Tests/SearchWithPaginationTest.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithPaginationSample.cs
Labels: samples

#1928 Spanner CMMR2 changes
  spanner/api/Spanner.Samples.Tests/CreateInstanceConfigAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/DeleteInstanceConfigAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/ListInstanceConfigOperationsAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/ListInstanceConfigsTest.cs
  spanner/api/Spanner.Samples.Tests/SpannerFixture.cs
  spanner/api/Spanner.Samples.Tests/UpdateInstanceConfigAsyncTest.cs
  spanner/api/Spanner.Samples/CreateInstanceConfigAsync.cs
  spanner/api/Spanner.Samples/DeleteInstanceConfigAsync.cs
  spanner/api/Spanner.Samples/ListInstanceConfigOperationsAsync.cs
  spanner/api/Spanner.Samples/ListInstanceConfigs.cs
  spanner/api/Spanner.Samples/UpdateInstanceConfigAsync.cs
Labels: samples
