Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2022-01, with the labels that each got.

#1589 tests(Spanner): Deactivates test for listing backup operations.
  spanner/api/Spanner.Samples.Tests/ListBackupOperationsTest.cs
Labels: api: spanner, samples

#1590 chore: Remove last remnants of MSTest references.
  TESTING.md
  securitycenter/api/tests/Tests.csproj
Labels: samples

#1577 Turbo replication changes
  storage/api/Storage.Samples.Tests/CreateBucketWithTurboReplicationTest.cs
  storage/api/Storage.Samples.Tests/GetRpoTest.cs
  storage/api/Storage.Samples.Tests/SetRpoAsyncTurboTest.cs
  storage/api/Storage.Samples.Tests/SetRpoDefaultTest.cs
  storage/api/Storage.Samples.Tests/StorageFixture.cs
  storage/api/Storage.Samples/CreateBucketWithTurboReplication.cs
  storage/api/Storage.Samples/GetBucketMetadata.cs
  storage/api/Storage.Samples/GetRpo.cs
  storage/api/Storage.Samples/SetRpoAsyncTurbo.cs
  storage/api/Storage.Samples/SetRpoDefault.cs
Labels: samples

#1518 cleanup(Storage): Deletes PAP `unspecified` sample.
  storage/api/Storage.Samples/SetPublicAccessPreventionUnspecified.cs
Labels: cla: yes, api: storage, samples

#1597 Add a Cloud Run hello world sample using .NET 6.0 #1596
  run/helloworld/Dockerfile
  run/helloworld/Program.cs
  run/helloworld/helloworld.csproj
Labels: samples

#1598 fix(storage): correct region tag
  storage/api/Storage.Samples/DownloadObjectIntoMemory.cs
Labels: api: storage, samples

#1578 PubSub Notification samples
  storage/api/Storage.Samples.Tests/CreatePubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/DeletePubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/GetPubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/ListPubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/Storage.Samples.Tests.csproj
  storage/api/Storage.Samples.Tests/StorageFixture.cs
  storage/api/Storage.Samples/CreatePubSubNotification.cs
  storage/api/Storage.Samples/DeletePubSubNotification.cs
  storage/api/Storage.Samples/GetPubSubNotification.cs
  storage/api/Storage.Samples/ListPubSubNotification.cs
Labels: samples

#1610 docs(iam-samples): extract PrivateKeyData from ServiceAccountKey
  iam/api/ServiceAccountKeys/ServiceAccountKeysCreate.cs
Labels: samples
