Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2023-08, with the labels that each got.

#2205 DLP: Added sample for inspect big query table with SCC integration
  dlp/api/Snippets.Tests/InspectBigQueryWithSCCIntegrationTests.cs
  dlp/api/Snippets.Tests/runTest.ps1
  dlp/api/Snippets/InspectBigQueryWithSCCIntergration.cs
Labels: api: dlp, samples

#2269 DLP: Added sample for inspect image file
  dlp/api/Snippets.Tests/InspectImagesTests.cs
  dlp/api/Snippets.Tests/resources/test_inspect_image.png
  dlp/api/Snippets/InspectImage.cs
Labels: api: dlp, samples

#2284 DLP: Added sample for Inspect table with custom hotwords
  dlp/api/Snippets.Tests/InspectTableWithCustomHotwordsTests.cs
  dlp/api/Snippets/InspectTableWithCustomHotwords.cs
Labels: api: dlp, samples

#2285 DLP: Added sample for Deidentify and Reidentify content using deterministic
  dlp/api/Snippets.Tests/DeidentifyWithDeterministicTests.cs
  dlp/api/Snippets.Tests/ReidenitifyContentUsingDeterministicTests.cs
  dlp/api/Snippets/DeidentifyWithDeterministic.cs
  dlp/api/Snippets/ReidentifyContentUsingDeterministic.cs
Labels: api: dlp, samples

#2283 feat(Transcoder): Add batch mode sample and test
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromPresetBatchModeTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/Transcoder.Samples.Tests.csproj
  media/transcoder/api/Transcoder.Samples/CreateJobFromPresetBatchMode.cs
Labels: samples, api: transcoder

#2230 feat: Adds samples for foreign key on delete cascade action.
  spanner/api/Spanner.Samples.Tests/AlterTableWithForeignKeyDeleteCascadeAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/CreateTableWithForeignKeyDeleteCascadeAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/DropForeignKeyConstraintAsyncTest.cs
  spanner/api/Spanner.Samples/AlterTableWithForeignKeyDeleteCascadeAsync.cs
  spanner/api/Spanner.Samples/CreateTableWithForeignKeyDeleteCascadeAsync.cs
  spanner/api/Spanner.Samples/DropForeignKeyConstraintAsync.cs
Labels: api: spanner, samples

#2224 feat: add samples for bit reversal sequence spanner
  spanner/api/Spanner.Samples.Tests/AlterSequencePostgresqlTest.cs
  spanner/api/Spanner.Samples.Tests/AlterSequenceTest.cs
  spanner/api/Spanner.Samples.Tests/CreateSequencePostgresqlTest.cs
  spanner/api/Spanner.Samples.Tests/CreateSequenceTest.cs
  spanner/api/Spanner.Samples.Tests/DropSequenceAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/SpannerFixture.cs
  spanner/api/Spanner.Samples/AlterSequence.cs
  spanner/api/Spanner.Samples/AlterSequencePostgresql.cs
  spanner/api/Spanner.Samples/CreateSequence.cs
  spanner/api/Spanner.Samples/CreateSequencePostgresql.cs
  spanner/api/Spanner.Samples/DropSequence.cs
Labels: samples

#2301 chore: Update gcs samples
  storage/api/Storage.Samples.Tests/GenerateV4ReadSignedUrlTest.cs
  storage/api/Storage.Samples.Tests/GenerateV4UploadSignedUrlTest.cs
  storage/api/Storage.Samples/GenerateV4ReadSignedUrl.cs
  storage/api/Storage.Samples/GenerateV4UploadSignedUrl.cs
Labels: samples

#2207 DLP: Added sample of inspect data using hybrid job trigger
  dlp/api/Snippets.Tests/SendDataToTheHybridJobTriggerTests.cs
  dlp/api/Snippets/SendDataToTheHybridJobTrigger.cs
Labels: api: dlp, samples

#2286 DLP: Added sample for create, update and inspect with stored infoTypes
  dlp/api/Snippets.Tests/CreateStoredInfoTypesTests.cs
  dlp/api/Snippets.Tests/InspectDataWithStoredInfotypesTests.cs
  dlp/api/Snippets.Tests/UpdateStoredInfoTypesTests.cs
  dlp/api/Snippets/CreateStoredInfoTypes.cs
  dlp/api/Snippets/InspectDataWithStoredInfotypes.cs
  dlp/api/Snippets/UpdateStoredInfoTypes.cs
Labels: api: dlp, samples

#2315 chore: update code owners to infra-db-sdk
  .github/blunderbuss.yml
  CODEOWNERS
Labels: samples

#2320 DLP: Fixed test cases where bucket deletion process was failing
  dlp/api/Snippets.Tests/CreateStoredInfoTypesTests.cs
  dlp/api/Snippets.Tests/InspectDataWithStoredInfotypesTests.cs
  dlp/api/Snippets.Tests/UpdateStoredInfoTypesTests.cs
Labels: api: dlp, samples

#2302 DLP: Added sample for reidentify free text using FPE and test cases
  dlp/api/Snippets.Tests/ReidentifyFreeTextFpeTests.cs
  dlp/api/Snippets/ReidentifyFreeTextFpe.cs
Labels: api: dlp, samples
