Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2023-03, with the labels that each got.

#2078 chore(storage): remove nested region tag
  storage/api/Storage.Samples/MakePublic.cs
Labels: api: storage, samples

#2088 feat: Samples for DML Returning
  spanner/api/Spanner.Samples.Tests/DeleteUsingDmlReturningAsyncPostgreTest.cs
  spanner/api/Spanner.Samples.Tests/DeleteUsingDmlReturningAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/ExecutePartitionedDmlAsyncPostgreTest.cs
  spanner/api/Spanner.Samples.Tests/InsertUsingDmlReturningAsyncPostgreTest.cs
  spanner/api/Spanner.Samples.Tests/InsertUsingDmlReturningAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/LogCommitStatsAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/SpannerFixture.cs
  spanner/api/Spanner.Samples.Tests/UpdateUsingDmlReturningAsyncPostgreTest.cs
  spanner/api/Spanner.Samples.Tests/UpdateUsingDmlReturningAsyncTest.cs
  spanner/api/Spanner.Samples/CreateDatabaseAsync.cs
  spanner/api/Spanner.Samples/CreateDatabaseAsyncPostgre.cs
  spanner/api/Spanner.Samples/DeleteUsingDmlReturningAsync.cs
  spanner/api/Spanner.Samples/DeleteUsingDmlReturningAsyncPostgre.cs
  spanner/api/Spanner.Samples/ExecutePartitionedDmlAsyncPostgre.cs
  spanner/api/Spanner.Samples/InsertUsingDmlReturningAsync.cs
  spanner/api/Spanner.Samples/InsertUsingDmlReturningAsyncPostgre.cs
  spanner/api/Spanner.Samples/UpdateUsingDmlReturningAsync.cs
  spanner/api/Spanner.Samples/UpdateUsingDmlReturningAsyncPostgre.cs
Labels: samples

#2089 fix: Add missing product region tags for Cloud CDN snippets
  cdn/signUrl/SignUrlSample/Program.cs
Labels: samples

#2096 chore: cleanup un-wanted region tags
  cdn/signUrl/SignUrlSample/Program.cs
Labels: samples

#2097 Validate that the IAP JWT was actually issued by IAP
  identity-aware-proxy/IAPClient/IAPTokenVerification.cs
Labels: samples

#2079 feat : add big query sample to demonstrate AVRO format usage
  bigquery-storage/api/BigQueryStorage.Samples.Tests/QuickstartTests.cs
  bigquery-storage/api/BigQueryStorage.Samples/BigQueryStorage.Samples.csproj
  bigquery-storage/api/BigQueryStorage.Samples/Quickstart.cs
  bigquery-storage/api/BigQueryStorage.Samples/Utilities/BabyNamesData.g.cs
Labels: samples

#2062 fix: spanner integration test conflict resolution
  spanner/api/Spanner.Samples.Tests/QueryDataWithTimestampColumnAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/QueryNewColumnAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/ReadStaleDataAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/ReadWriteWithTransactionAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/ReadWriteWithTransactionCoreAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/SpannerFixture.cs
  spanner/api/Spanner.Samples.Tests/UpdateDataAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/UpdateDataWithTimestampColumnTest.cs
  spanner/api/Spanner.Samples.Tests/UpdateUsingBatchDmlCoreAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/UpdateUsingDmlCoreAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/UpdateUsingDmlWithTimestampCoreAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/UpdateUsingPartitionedDmlCoreAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/WriteWithTransactionUsingDmlCoreAsyncTest.cs
Labels: samples

#2103 chore(functions/firebase/FirebaseFirestore): Upgrade Google.Events.Protobuf to make sample gen2 compatible
  functions/firebase/FirebaseFirestore/FirebaseFirestore.csproj
  functions/firebase/FirebaseFirestore/Function.cs
Labels: api: cloudfunctions, samples
