Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2023-04, with the labels that each got.

#2117 chore: update bigquery quickstart to fetch project id from env variable
  bigquery/api/SimpleApp/Program.cs
Labels: samples

#2126 docs: skip testing temporarily
  media/stitcher/api/runTests.ps1
Labels: samples

#2105 chore(functions/firebase/FirebaseReactive): Add new region tag to gen 2 compatible sample
  functions/firebase/FirestoreReactive/Function.cs
Labels: api: cloudfunctions, samples

#2129 docs: remove restriction of JPEGs only for overlay images
  media/transcoder/api/Transcoder.Samples/CreateJobWithAnimatedOverlay.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithStaticOverlay.cs
Labels: samples

#2128 chore: updated runTests.ps1 file of bigquery Quickstart
  bigquery/api/SimpleApp/runTests.ps1
Labels: samples

#2131 ci: Fix script so that CI runs in Windows again
  .kokoro/main.ps1
Labels: samples

#2138 Fixing typos
  cloud-sql/mysql/README.md
  cloud-sql/postgres/README.md
  logging/api/WithGitId/README.md
Labels: samples

#2142 chore: Update AppEngine Flex ownership group.
  CODEOWNERS
Labels: samples

#2145 ci: Skip CloudDemo .NET Framework 4.5 build as it fails.
  applications/clouddemo/net4/runTests.ps1
Labels: samples

#2146 ci: Improves Windows CI so that tests are only run for modifications.
  .kokoro/main.ps1
Labels: samples

#2149 fix(Monitoring): Loose the check on the name of the monitored resources.
  monitoring/api/MonitoringSample/Program.cs
  monitoring/api/MonitoringTest/MonitoringTest.cs
Labels: api: monitoring, samples

#2116 DLP: Added sample for Deidentify data using redact
  dlp/api/Snippets.Tests/DeidentifyDataUsingRedactWithMatchedInputValuesTests.cs
  dlp/api/Snippets/DeidentifyDataUsingRedactWithMatchedInputValues.cs
Labels: api: dlp, samples

#2115 DLP: Added sample for Inspect phone number
  dlp/api/Snippets.Tests/InspectPhoneNumberTests.cs
  dlp/api/Snippets/InspectPhoneNumber.cs
Labels: api: dlp, samples

#2118 DLP: Added sample for Inspect custom regex
  dlp/api/Snippets.Tests/InspectDataWithCustomRegexTests.cs
  dlp/api/Snippets/InspectDataWithCustomRegex.cs
Labels: api: dlp, samples

#2119 DLP: Added sample for deidentifying content with replacement
  dlp/api/Snippets.Tests/DeidentifyWithReplacementTests.cs
  dlp/api/Snippets/DeidentifyWithReplacement.cs
Labels: api: dlp, samples

#2152 chore: Deletes remaining sample files ending with `postgre`.
  spanner/api/Spanner.Samples/AddJsonbColumnAsyncPostgre.cs
  spanner/api/Spanner.Samples/DeleteUsingDmlReturningAsyncPostgre.cs
  spanner/api/Spanner.Samples/InsertUsingDmlReturningAsyncPostgre.cs
  spanner/api/Spanner.Samples/QueryJsonbDataUsingParameterAsyncPostgre.cs
  spanner/api/Spanner.Samples/UpdateDataWithJsonbAsyncPostgre.cs
  spanner/api/Spanner.Samples/UpdateUsingDmlReturningAsyncPostgre.cs
Labels: samples

#2125 DLP: Added sample for deidentify table with row suppress
  dlp/api/Snippets.Tests/DeidentifyTableWithRowSuppressTests.cs
  dlp/api/Snippets/DeidentifyTableWithRowSuppress.cs
Labels: api: dlp, samples

#2124 DLP: Added sample for deidentify table data using fixed bucketing
  dlp/api/Snippets.Tests/DeidentifyUsingTableBucketingTests.cs
  dlp/api/Snippets/DeidentifyUsingTableBucketing.cs
Labels: api: dlp, samples

#2123 DLP: Added sample for deidentify table using condition and infotypes
  dlp/api/Snippets.Tests/DeidentifyTableUsingLogicInfoTypesTests.cs
  dlp/api/Snippets/DeidentifyTableUsingLogicInfoTypes.cs
Labels: api: dlp, samples

#2122 DLP: Added sample for deidentify table using condition and masking
  dlp/api/Snippets.Tests/DeidentifyTableUsingMaskingAndLogicTests.cs
  dlp/api/Snippets/DeidentifyTableUsingMaskingAndLogic.cs
Labels: api: dlp, samples

#2120 DLP: Added sample for inspecting data with hotword rule
  dlp/api/Snippets.Tests/InspectDataWithHotwordRuleTests.cs
  dlp/api/Snippets/InspectDataWithHotwordRule.cs
Labels: api: dlp, samples

#2162 fix: Fixes PubSub flaky test.
  pubsub/api/Pubsub.Samples.Tests/ExactlyOnceDeliverySubscriberAsyncTest.cs
Labels: samples

#2158 DLP: Added sample for inspect image with all infotypes
  dlp/api/Snippets.Tests/InspectImagesForSensitiveDataWithInfoTypesTests.cs
  dlp/api/Snippets/InspectImageForSensitiveDataWithInfoTypes.cs
Labels: api: dlp, samples

#2160 DLP: Added sample for inspect table
  dlp/api/Snippets.Tests/InspectTableTests.cs
  dlp/api/Snippets/InspectTable.cs
Labels: api: dlp, samples
