Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2023-06, with the labels that each got.

#2177 DLP: Added sample for deidentify data with replace infotypes
  dlp/api/Snippets.Tests/DeidentifyWithReplaceInfotypesTests.cs
  dlp/api/Snippets.Tests/runTest.ps1
  dlp/api/Snippets/DeidentifyWithReplaceInfotypes.cs
Labels: api: dlp, samples

#2179 DLP: Added sample for deidentify table with time extraction
  dlp/api/Snippets.Tests/DeidentifyWithTimeExtractionTests.cs
  dlp/api/Snippets/DeidentifyWithTimeExtraction.cs
Labels: api: dlp, samples

#2208 DLP: Fixed the region tag of redact image with listed infoTypes
  dlp/api/Snippets.Tests/RedactImageWithListedInfotypesTests.cs
  dlp/api/Snippets/RedactImageWithListedInfotypes.cs
Labels: api: dlp, samples

#2209 fix: Update logging sample to use structured logging.
  logging/api/LoggingSample/Program.cs
Labels: samples

#2212 fix: firestore flaky test issue#1162
  firestore/api/FirestoreTest/FirestoreTest.cs
  firestore/api/ListenData/Program.cs
Labels: samples

#2217 chore: Add console statements to catch the reason when disposal fail
  pubsub/api/Pubsub.Samples.Tests/PubsubFixture.cs
Labels: samples

#2218 feat: Add support for editorconfig
  .editorconfig
  Directory.Build.props
Labels: samples

#2219 chore(endpoints): Remove deprecated region tag
  endpoints/getting-started/src/IO.Swagger/app.yaml
Labels: samples, api: endpoints

#2203 feat(appengine): Update Pubsub sample to .NET 6
  appengine/flexible/Pubsub/Program.cs
  appengine/flexible/Pubsub/Pubsub.Sample/Controllers/HomeController.cs
  appengine/flexible/Pubsub/Pubsub.Sample/Program.cs
  appengine/flexible/Pubsub/Pubsub.Sample/Properties/launchSettings.json
  appengine/flexible/Pubsub/Pubsub.Sample/Pubsub.Sample.csproj
  appengine/flexible/Pubsub/Pubsub.Sample/PubsubOptions.cs
  appengine/flexible/Pubsub/Pubsub.Sample/ViewModels/MessageList.cs
  appengine/flexible/Pubsub/Pubsub.Sample/Views/Home/Index.cshtml
  appengine/flexible/Pubsub/Pubsub.Sample/Views/Shared/Error.cshtml
  appengine/flexible/Pubsub/Pubsub.Sample/Views/Shared/_Layout.cshtml
  appengine/flexible/Pubsub/Pubsub.Sample/Views/_ViewImports.cshtml
  appengine/flexible/Pubsub/Pubsub.Sample/Views/_ViewStart.cshtml
  appengine/flexible/Pubsub/Pubsub.Sample/app.yaml
  appengine/flexible/Pubsub/Pubsub.Sample/sample_message.json
  appengine/flexible/Pubsub/Pubsub.Tests/FunctionalTests.cs
  appengine/flexible/Pubsub/Pubsub.Tests/Pubsub.Tests.csproj
  appengine/flexible/Pubsub/Pubsub.csproj
  appengine/flexible/Pubsub/Pubsub.sln
  appengine/flexible/Pubsub/README.md
  appengine/flexible/Pubsub/Startup.cs
  appengine/flexible/Pubsub/app.yaml
  appengine/flexible/Pubsub/appsettings.json
  appengine/flexible/Pubsub/deployTest.js
  appengine/flexible/Pubsub/deployTests.ps1
  appengine/flexible/Pubsub/localTest.js
  appengine/flexible/Pubsub/runTests.ps1
Labels: api: appengine, samples

#2228 feat(appengine): Cleanup flexible folder, fix sln file
  appengine/flexible/.resources/powershell.png
  appengine/flexible/.resources/visual-studio.png
  appengine/flexible/Analytics/Analytics.Sample/app.yaml
  appengine/flexible/AppEngineFlex.sln
  appengine/flexible/CloudStorage/CloudStorage.Sample/app.yaml
  appengine/flexible/Datastore/Datastore.Sample/app.yaml
  appengine/flexible/README.md
Labels: api: appengine, samples

#2206 DLP: Added sample for deidentify free text using surrogate with fpe
  dlp/api/Snippets.Tests/DeidentifyFreeTextWithFpeUsingSurrogateTests.cs
  dlp/api/Snippets/DeidentifyFreeTextWithFpeUsingSurrogate.cs
Labels: api: dlp, samples

#2239 DLP: Added sample for reidentify free text with fpe using surrogate
  dlp/api/Snippets.Tests/ReidentifyFreeTextWithFpeUsingSurrogateTests.cs
  dlp/api/Snippets/ReidentifyFreeTextWithFpeUsingSurrogate.cs
Labels: api: dlp, samples

#2240 DLP: Added sample for deidentify table with fpe
  dlp/api/Snippets.Tests/DeidentifyTableWithFpeTests.cs
  dlp/api/Snippets/DeidentifyTableWithFpe.cs
Labels: api: dlp, samples

#2248 chore: Archive the Google Home meets .NET containers demo app.
  applications/googlehome-meets-dotnetcontainers/.gitignore
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemo.sln
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Controllers/ConversationController.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Controllers/HomeController.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Dialogflow/ConvState.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Dialogflow/Conversation.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Dialogflow/DialogflowApp.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Dialogflow/IntentAttribute.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Dialogflow/Intents/BaseHandler.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Dialogflow/Intents/BigQuery/BaseBigQueryHandler.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Dialogflow/Intents/BigQuery/BigQueryHackernewsHandler.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Dialogflow/Intents/BigQuery/BigQueryNoaaextremeHandler.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Dialogflow/Intents/BigQuery/FipsIsoCountryMap.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Dialogflow/Intents/ExceptionThrowHandler.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Dialogflow/Intents/PlatformDescribeHandler.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Dialogflow/Intents/Translation/TranslateEnglishHandler.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Dialogflow/Intents/Vision/BaseVisionHandler.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Dialogflow/Intents/Vision/VisionBacktoallHandler.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Dialogflow/Intents/Vision/VisionDescribeHandler.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Dialogflow/Intents/Vision/VisionLandmarksHandler.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Dialogflow/Intents/Vision/VisionSafeHandler.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Dialogflow/Intents/Vision/VisionSearchHandler.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Dialogflow/Intents/Vision/VisionSelectHandler.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Dockerfile
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/GoogleHomeAspNetCoreDemoServer.csproj
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Program.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Settings/AppSettings.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Settings/CustomSearchSettings.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Settings/GoogleCloudSettings.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Startup.cs
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/Views/Home/Index.cshtml
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/app.yaml
  applications/googlehome-meets-dotnetcontainers/GoogleHomeAspNetCoreDemoServer/appsettings.json
  applications/googlehome-meets-dotnetcontainers/GoogleHomeMeetsDotNetAgent.zip
  applications/googlehome-meets-dotnetcontainers/Readme.md
  applications/googlehome-meets-dotnetcontainers/runTests.ps1
Labels: samples

#2256 chore(deps): update dependency google.cloud.spanner.data to v4.6.0 in Spanner.Samples.csproj
  spanner/api/Spanner.Samples/Spanner.Samples.csproj
Labels: samples

#2262 Don't use merge:exact on the renovate PRs
  .github/renovate.json
Labels: samples

#2250 feat: Adds sample for updateDatabase.
  spanner/api/Spanner.Samples.Tests/UpdateDatabaseAsyncTest.cs
  spanner/api/Spanner.Samples/UpdateDatabaseAsync.cs
Labels: samples
