Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2023-05, with the labels that each got.

#2169 DLP: Fixed test case in redact_image
  dlp/api/Snippets.Tests/RedactImageTests.cs
  dlp/api/Snippets.Tests/resources/test_redact_image.png
Labels: api: dlp, samples

#2172 feat(appengine): Update Datastore sample to .NET 6
  appengine/flexible/AppEngineFlex.sln
  appengine/flexible/Datastore/Datastore.Sample/Datastore.Sample.csproj
  appengine/flexible/Datastore/Datastore.Sample/Program.cs
  appengine/flexible/Datastore/Datastore.Sample/Properties/launchSettings.json
  appengine/flexible/Datastore/Datastore.Sample/app.yaml
  appengine/flexible/Datastore/Datastore.Tests/Datastore.Tests.csproj
  appengine/flexible/Datastore/Datastore.Tests/FunctionalTests.cs
  appengine/flexible/Datastore/Datastore.csproj
  appengine/flexible/Datastore/Datastore.sln
  appengine/flexible/Datastore/Program.cs
  appengine/flexible/Datastore/README.md
  appengine/flexible/Datastore/Startup.cs
  appengine/flexible/Datastore/app.yaml
  appengine/flexible/Datastore/appsettings.json
  appengine/flexible/Datastore/deployTests.ps1
  appengine/flexible/Datastore/runTests.ps1
  appengine/flexible/Datastore/test.js
Labels: api: appengine, samples

#2157 DLP: Added sample for inspect big query with sampling
  dlp/api/Snippets.Tests/DlpTestFixture.cs
  dlp/api/Snippets.Tests/InspectBigQueryWithSamplingTests.cs
  dlp/api/Snippets/InspectBigQueryWithSampling.cs
  dlp/api/Snippets/README.md
Labels: api: dlp, samples

#2184 chore: Improve renovate bot configuration.
  .github/renovate.json
Labels: samples

#2186 fix: Renovate config JSON missing a comma.
  .github/renovate.json
Labels: samples

#2165 DLP: Added sample for redact all text in an image
  dlp/api/Snippets.Tests/RedactDetectedTextInImageTests.cs
  dlp/api/Snippets.Tests/resources/test_redact_detected_text.png
  dlp/api/Snippets/RedactDetectedTextInImage.cs
Labels: api: dlp, samples

#2166 DLP: Added sample for redact sensitive data using all infotypes
  dlp/api/Snippets.Tests/RedactSensitiveDataFromImageUsingDefaultInfoTypesTests.cs
  dlp/api/Snippets.Tests/resources/test_redact_sensitive_data.png
  dlp/api/Snippets/RedactSensitiveDataFromImageUsingDefaultInfoTypes.cs
Labels: api: dlp, samples

#2181 fix(appengine): Small fixes re: recent .NET 6 upgrades
  appengine/flexible/AppEngineFlex.sln
  appengine/flexible/HelloWorld/HelloWorld.Sample/Properties/launchSettings.json
Labels: api: appengine, samples

#2192 chore: Removes unused `using directive` from Spanner samples
  spanner/api/Spanner.Samples/DeleteUsingDmlReturningAsyncPostgres.cs
  spanner/api/Spanner.Samples/UpdateUsingDmlReturningAsyncPostgres.cs
Labels: samples

#2180 DLP: Added sample for deidentify data using dictionary replacements
  dlp/api/Snippets.Tests/DeidentifyDataUsingDictionaryReplacementTests.cs
  dlp/api/Snippets/DeidentifyDataUsingDictionaryReplacement.cs
Labels: api: dlp, samples

#2195 feat(appengine): Update analytics sample to .NET 6
  appengine/flexible/Analytics/Analytics.Sample/Analytics.Sample.csproj
  appengine/flexible/Analytics/Analytics.Sample/Program.cs
  appengine/flexible/Analytics/Analytics.Sample/Properties/launchSettings.json
  appengine/flexible/Analytics/Analytics.Sample/app.yaml
  appengine/flexible/Analytics/Analytics.Tests/Analytics.Tests.csproj
  appengine/flexible/Analytics/Analytics.Tests/FunctionalTests.cs
  appengine/flexible/Analytics/Analytics.sln
  appengine/flexible/Analytics/Program.cs
  appengine/flexible/Analytics/README.md
  appengine/flexible/Analytics/Startup.cs
  appengine/flexible/Analytics/app.yaml
  appengine/flexible/Analytics/appsettings.json
  appengine/flexible/Analytics/deployTests.ps1
  appengine/flexible/Analytics/runTests.ps1
  appengine/flexible/Analytics/test.js
Labels: api: appengine, samples

#2196 feat(appengine): Update Metadata sample to .NET 6
  appengine/flexible/Metadata/Metadata.Sample/Metadata.Sample.csproj
  appengine/flexible/Metadata/Metadata.Sample/Program.cs
  appengine/flexible/Metadata/Metadata.Sample/Properties/launchSettings.json
  appengine/flexible/Metadata/Metadata.Sample/app.yaml
  appengine/flexible/Metadata/Metadata.Tests/FunctionalTests.cs
  appengine/flexible/Metadata/Metadata.Tests/Metadata.Tests.csproj
  appengine/flexible/Metadata/Metadata.csproj
  appengine/flexible/Metadata/Metadata.sln
  appengine/flexible/Metadata/Program.cs
  appengine/flexible/Metadata/README.md
  appengine/flexible/Metadata/Startup.cs
  appengine/flexible/Metadata/cloudTest.js
  appengine/flexible/Metadata/deployTests.ps1
  appengine/flexible/Metadata/localTest.js
  appengine/flexible/Metadata/runTests.ps1
Labels: api: appengine, samples

#2199 feat(appengine): Update CloudStorage sample to .NET 6
  appengine/flexible/CloudStorage/CloudStorage.Sample/CloudStorage.Sample.csproj
  appengine/flexible/CloudStorage/CloudStorage.Sample/CloudStorageOptions.cs
  appengine/flexible/CloudStorage/CloudStorage.Sample/Controllers/HomeController.cs
  appengine/flexible/CloudStorage/CloudStorage.Sample/Program.cs
  appengine/flexible/CloudStorage/CloudStorage.Sample/Properties/launchSettings.json
  appengine/flexible/CloudStorage/CloudStorage.Sample/ViewModels/Form.cs
  appengine/flexible/CloudStorage/CloudStorage.Sample/ViewModels/HomeIndex.cs
  appengine/flexible/CloudStorage/CloudStorage.Sample/Views/Home/Index.cshtml
  appengine/flexible/CloudStorage/CloudStorage.Sample/Views/Shared/_Layout.cshtml
  appengine/flexible/CloudStorage/CloudStorage.Sample/Views/_ViewImports.cshtml
  appengine/flexible/CloudStorage/CloudStorage.Sample/Views/_ViewStart.cshtml
  appengine/flexible/CloudStorage/CloudStorage.Sample/app.yaml
  appengine/flexible/CloudStorage/CloudStorage.Tests/CloudStorage.Tests.csproj
  appengine/flexible/CloudStorage/CloudStorage.Tests/FunctionalTests.cs
  appengine/flexible/CloudStorage/CloudStorage.csproj
  appengine/flexible/CloudStorage/CloudStorage.sln
  appengine/flexible/CloudStorage/Program.cs
  appengine/flexible/CloudStorage/README.md
  appengine/flexible/CloudStorage/Startup.cs
  appengine/flexible/CloudStorage/Views/Shared/Error.cshtml
  appengine/flexible/CloudStorage/app.yaml
  appengine/flexible/CloudStorage/appsettings.json
  appengine/flexible/CloudStorage/deployTests.ps1
  appengine/flexible/CloudStorage/runTests.ps1
  appengine/flexible/CloudStorage/test.js
Labels: api: appengine, samples

#2197 feat(appengine): Delete unused Redis sample
  appengine/flexible/RedisCache/Controllers/HomeController.cs
  appengine/flexible/RedisCache/Program.cs
  appengine/flexible/RedisCache/Properties/launchSettings.json
  appengine/flexible/RedisCache/README.md
  appengine/flexible/RedisCache/RedisCache.csproj
  appengine/flexible/RedisCache/Startup.cs
  appengine/flexible/RedisCache/ViewModels/WhoCount.cs
  appengine/flexible/RedisCache/Views/Home/Index.cshtml
  appengine/flexible/RedisCache/Views/Shared/Error.cshtml
  appengine/flexible/RedisCache/Views/Shared/_Layout.cshtml
  appengine/flexible/RedisCache/Views/_ViewImports.cshtml
  appengine/flexible/RedisCache/Views/_ViewStart.cshtml
  appengine/flexible/RedisCache/app.yaml
  appengine/flexible/RedisCache/appsettings.json
  appengine/flexible/RedisCache/deployTests.ps1
  appengine/flexible/RedisCache/runTests.ps1
  appengine/flexible/RedisCache/test.js
Labels: api: appengine, samples

#2159 DLP: Added sample for inspect storage with sampling
  dlp/api/Snippets.Tests/DlpTestFixture.cs
  dlp/api/Snippets.Tests/InspectStorageWithSamplingTests.cs
  dlp/api/Snippets/InspectStorageWithSampling.cs
  dlp/api/Snippets/README.md
Labels: api: dlp, samples

#2201 chore(endpoints): Update region tag with product prefix
  endpoints/getting-started/src/IO.Swagger/app.yaml
Labels: samples, api: endpoints, automerge: exact

#2178 DLP: Added sample for reidentify content using fpe
  dlp/api/Snippets.Tests/ReidentifyContentUsingFpeTests.cs
  dlp/api/Snippets.Tests/runTest.ps1
  dlp/api/Snippets/README.md
  dlp/api/Snippets/ReidentifyContentUsingFpe.cs
Labels: api: dlp, samples

#2202 DLP: Fix of the issue #510
  dlp/api/Snippets.Tests/DeidentifyWithDateShiftTests.cs
  dlp/api/Snippets.Tests/DeidentifyWithFpeTests.cs
Labels: api: dlp, samples

#2150 Update target framework to 4.7.2
  applications/clouddemo/net4/CloudDemo.Mvc/CloudDemo.Mvc.csproj
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-grid.css
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-grid.css.map
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-grid.min.css
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-grid.min.css.map
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-grid.rtl.css
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-grid.rtl.css.map
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-grid.rtl.min.css
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-grid.rtl.min.css.map
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-reboot.css
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-reboot.css.map
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-reboot.min.css
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-reboot.min.css.map
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-reboot.rtl.css
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-reboot.rtl.css.map
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-reboot.rtl.min.css
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-reboot.rtl.min.css.map
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-utilities.css
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-utilities.css.map
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-utilities.min.css
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-utilities.min.css.map
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-utilities.rtl.css
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-utilities.rtl.css.map
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-utilities.rtl.min.css
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap-utilities.rtl.min.css.map
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap.css
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap.css.map
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap.min.css
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap.min.css.map
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap.rtl.css
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap.rtl.css.map
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap.rtl.min.css
  applications/clouddemo/net4/CloudDemo.Mvc/Content/bootstrap.rtl.min.css.map
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/bootstrap.bundle.js
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/bootstrap.bundle.js.map
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/bootstrap.bundle.min.js
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/bootstrap.bundle.min.js.map
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/bootstrap.esm.js
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/bootstrap.esm.js.map
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/bootstrap.esm.min.js
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/bootstrap.esm.min.js.map
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/bootstrap.js
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/bootstrap.js.map
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/bootstrap.min.js
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/bootstrap.min.js.map
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/jquery-3.6.4.intellisense.js
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/jquery-3.6.4.js
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/jquery-3.6.4.min.js
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/jquery-3.6.4.min.map
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/jquery-3.6.4.slim.js
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/jquery-3.6.4.slim.min.js
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/jquery-3.6.4.slim.min.map
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/jquery.validate-vsdoc.js
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/jquery.validate.js
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/jquery.validate.min.js
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/jquery.validate.unobtrusive.js
  applications/clouddemo/net4/CloudDemo.Mvc/Scripts/jquery.validate.unobtrusive.min.js
  applications/clouddemo/net4/CloudDemo.Mvc/Web.config
  applications/clouddemo/net4/CloudDemo.Mvc/packages.config
  applications/clouddemo/net4/runTests.ps1
Labels: samples

#2204 feat(appengine): Delete AntiForgery sample
  appengine/flexible/AntiForgery/AntiForgery.csproj
  appengine/flexible/AntiForgery/AntiForgery.sln
  appengine/flexible/AntiForgery/Clean-Up.ps1
  appengine/flexible/AntiForgery/Controllers/HomeController.cs
  appengine/flexible/AntiForgery/Models/ErrorViewModel.cs
  appengine/flexible/AntiForgery/Models/HomeIndexViewModel.cs
  appengine/flexible/AntiForgery/Program.cs
  appengine/flexible/AntiForgery/README.md
  appengine/flexible/AntiForgery/Set-Up.ps1
  appengine/flexible/AntiForgery/SetUp.psm1
  appengine/flexible/AntiForgery/Startup.cs
  appengine/flexible/AntiForgery/Views/Home/Index.cshtml
  appengine/flexible/AntiForgery/Views/Shared/Error.cshtml
  appengine/flexible/AntiForgery/Views/Shared/_Layout.cshtml
  appengine/flexible/AntiForgery/Views/_ViewImports.cshtml
  appengine/flexible/AntiForgery/Views/_ViewStart.cshtml
  appengine/flexible/AntiForgery/app.yaml
  appengine/flexible/AntiForgery/appsettings.Development.json
  appengine/flexible/AntiForgery/appsettings.json
  appengine/flexible/AntiForgery/runTests.ps1
  appengine/flexible/AntiForgery/test.js
Labels: api: appengine, samples
