Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2024-03, with the labels that each got.

#2527 Fix failing InspectImage test from issue #2511
  dlp/api/Snippets.Tests/InspectImagesForSensitiveDataWithInfoTypesTests.cs
  dlp/api/Snippets/InspectImageForSensitiveDataWithInfoTypes.cs
Labels: api: dlp, samples

#2536 docs(aiplatform): Add MultiTurnChatSample.cs #2535
  aiplatform/api/AIPlatform.Samples.Tests/MultiTurnChatSampleTest.cs
  aiplatform/api/AIPlatform.Samples/MultiTurnChatSample.cs
Labels: samples, api: aiplatform

#2537 chore: Update blunderbuss config
  .github/blunderbuss.yml
Labels: samples

#2569 tests: Implement pubsub_list_schema_revisions sample
  pubsub/api/Pubsub.Samples.Tests/ListSchemaRevisionsTest.cs
  pubsub/api/Pubsub.Samples/ListSchemaRevisions.cs
Labels: samples
