Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2024-06, with the labels that each got.

#2678 tests[BigQuery]: Use `max_iterations` instead of deprecated `max_iteration`
  bigquery/api/Snippets/Test.cs
Labels: samples

#2679 feat: Use an appropriate CancellationToken in all Functions Frameworks samples
  functions/concepts/EnvironmentVariables/Function.cs
  functions/concepts/ExecutionCount/Function.cs
  functions/concepts/FileSystem/Function.cs
  functions/concepts/LazyFields/Function.cs
  functions/concepts/Scopes/Function.cs
  functions/firebase/FirestoreReactive/Function.cs
  functions/helloworld/HelloHttp/Function.cs
  functions/helloworld/HelloWorld/Function.cs
  functions/http/Cors/Function.cs
  functions/http/HttpFormData/Function.cs
  functions/http/HttpRequestMethod/Function.cs
  functions/http/ParseContentType/Function.cs
  functions/http/SendHttpRequest/Function.cs
  functions/logging/LogHelloWorld/Function.cs
  functions/responsestreaming/StreamBigQuery/Function.cs
  functions/slack/SlackKnowledgeGraphSearch/Function.cs
Labels: samples

#2681 feat(aiplatform): update quickstart samples to use the Gemini Flash m…
  aiplatform/api/AIPlatform.Samples/GeminiQuickstart.cs
Labels: samples, api: aiplatform

#2692 feat(aiplatform): update samples to Gemini Flash; add updated region …
  aiplatform/api/AIPlatform.Samples/FunctionCalling.cs
  aiplatform/api/AIPlatform.Samples/GeminiQuickstart.cs
  aiplatform/api/AIPlatform.Samples/GetTokenCount.cs
  aiplatform/api/AIPlatform.Samples/GroundingVertexAiSearchSample.cs
  aiplatform/api/AIPlatform.Samples/GroundingWebSample.cs
  aiplatform/api/AIPlatform.Samples/MultiTurnChatSample.cs
  aiplatform/api/AIPlatform.Samples/MultimodalMultiImage.cs
  aiplatform/api/AIPlatform.Samples/MultimodalVideoInput.cs
  aiplatform/api/AIPlatform.Samples/WithSafetySettings.cs
Labels: samples, api: aiplatform

#2693 Added additional docs tag for GetTokenCount.cs sample
  aiplatform/api/AIPlatform.Samples/GetTokenCount.cs
Labels: samples

#2697 [Gemini] Create C# samples for Controlled Generation
  aiplatform/api/AIPlatform.Samples.Tests/ControllerGenerationTest.cs
  aiplatform/api/AIPlatform.Samples/ControlledGeneration.cs
Labels: samples

#2703 feat(storage): add HNS sample
  storage/api/Storage.Samples.Tests/CreateBucketWithHierarchicalNamespaceEnabledTest.cs
  storage/api/Storage.Samples/CreateBucketWithHierarchicalNamespaceEnabled.cs
Labels: api: storage, samples
