Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2024-02, with the labels that each got.

#2461 docs(aiplatform): Add GeminiQuickstart.cs #2460
  aiplatform/api/AIPlatform.Samples.Tests/GeminiQuickstartTest.cs
  aiplatform/api/AIPlatform.Samples/GeminiQuickstart.cs
Labels: samples, api: aiplatform

#2463 docs(aiplatform): Add MultimodalMultiImage.cs #2462
  aiplatform/api/AIPlatform.Samples.Tests/MultimodalMultiImageTest.cs
  aiplatform/api/AIPlatform.Samples/MultimodalMultiImage.cs
Labels: samples, api: aiplatform

#2477 docs(pubsub): Add sample for pubsub_publisher_with_compression
  pubsub/api/Pubsub.Samples.Tests/PublishCompressedMessagesTest.cs
  pubsub/api/Pubsub.Samples/PublishCompressedMessagesAsync.cs
Labels: api: pubsub, samples

#2482 docs(aiplatform): Add WithSafetySettings.cs #2481
  aiplatform/api/AIPlatform.Samples.Tests/WithSafetySettingsTest.cs
  aiplatform/api/AIPlatform.Samples/WithSafetySettings.cs
Labels: samples, api: aiplatform

#2480 docs(aiplatform): Add MultimodalVideoInput.cs #2479
  aiplatform/api/AIPlatform.Samples.Tests/MultimodalVideoInputTest.cs
  aiplatform/api/AIPlatform.Samples/MultimodalVideoInput.cs
Labels: samples, api: aiplatform

#2491 Update Gemini samples with the latest version names #2490
  aiplatform/api/AIPlatform.Samples/GeminiQuickstart.cs
  aiplatform/api/AIPlatform.Samples/MultimodalMultiImage.cs
  aiplatform/api/AIPlatform.Samples/MultimodalVideoInput.cs
  aiplatform/api/AIPlatform.Samples/WithSafetySettings.cs
Labels: samples
