Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2024-05, with the labels that each got.

#2623 Fix code style in all AIPlatform.Samples #2622
  aiplatform/api/AIPlatform.Samples/AudioInputSummarization.cs
  aiplatform/api/AIPlatform.Samples/AudioInputTranscription.cs
  aiplatform/api/AIPlatform.Samples/GeminiQuickstart.cs
  aiplatform/api/AIPlatform.Samples/MultiTurnChatSample.cs
  aiplatform/api/AIPlatform.Samples/MultimodalAllInput.cs
  aiplatform/api/AIPlatform.Samples/MultimodalVideoInput.cs
  aiplatform/api/AIPlatform.Samples/PdfInput.cs
  aiplatform/api/AIPlatform.Samples/PredictCodeCompletionCommentSample.cs
  aiplatform/api/AIPlatform.Samples/SystemInstruction.cs
  aiplatform/api/AIPlatform.Samples/VideoInputWithAudio.cs
Labels: samples

#2621 feat(storage): add quickstart sample for storage control
  storage/api/Storage.Samples.Tests/StorageControlQuickstartTest.cs
  storage/api/Storage.Samples/Storage.Samples.csproj
  storage/api/Storage.Samples/StorageControlQuickstart.cs
Labels: api: storage, samples

#2625 docs(aiplatform): Add GroundingWebSample.cs and GroundingVertexAiSearchSample.cs #2624
  aiplatform/api/AIPlatform.Samples.Tests/GroundingWebTest.cs
  aiplatform/api/AIPlatform.Samples/GroundingVertexAiSearchSample.cs
  aiplatform/api/AIPlatform.Samples/GroundingWebSample.cs
Labels: samples, api: aiplatform

#2630 docs(aiplatform): Change all samples to use inline initialization #2626
  aiplatform/api/AIPlatform.Samples/AudioInputSummarization.cs
  aiplatform/api/AIPlatform.Samples/AudioInputTranscription.cs
  aiplatform/api/AIPlatform.Samples/GeminiQuickstart.cs
  aiplatform/api/AIPlatform.Samples/MultiTurnChatSample.cs
  aiplatform/api/AIPlatform.Samples/MultimodalAllInput.cs
  aiplatform/api/AIPlatform.Samples/MultimodalMultiImage.cs
  aiplatform/api/AIPlatform.Samples/MultimodalVideoInput.cs
  aiplatform/api/AIPlatform.Samples/PdfInput.cs
  aiplatform/api/AIPlatform.Samples/SystemInstruction.cs
  aiplatform/api/AIPlatform.Samples/VideoInputWithAudio.cs
  aiplatform/api/AIPlatform.Samples/WithSafetySettings.cs
Labels: samples, api: aiplatform

#2612 feat(storageinsights): Adds samples for storage insights
  storageinsights/api/StorageInsights.Samples.Tests/CreateInventoryReportConfigTest.cs
  storageinsights/api/StorageInsights.Samples.Tests/DeleteInventoryReportConfigTest.cs
  storageinsights/api/StorageInsights.Samples.Tests/EditInventoryReportConfigTest.cs
  storageinsights/api/StorageInsights.Samples.Tests/GetInventoryReportNamesTest.cs
  storageinsights/api/StorageInsights.Samples.Tests/ListInventoryReportConfigsTest.cs
  storageinsights/api/StorageInsights.Samples.Tests/StorageFixture.cs
  storageinsights/api/StorageInsights.Samples.Tests/StorageInsights.Samples.Tests.csproj
  storageinsights/api/StorageInsights.Samples/CreateInventoryReportConfig.cs
  storageinsights/api/StorageInsights.Samples/DeleteInventoryReportConfig.cs
  storageinsights/api/StorageInsights.Samples/EditInventoryReportConfig.cs
  storageinsights/api/StorageInsights.Samples/GetInventoryReportNames.cs
  storageinsights/api/StorageInsights.Samples/ListInventoryReportConfigs.cs
  storageinsights/api/StorageInsights.Samples/StorageInsights.Samples.csproj
  storageinsights/api/StorageInsights.sln
  storageinsights/api/runTests.ps1
Labels: samples

#2638 feat: refactor text-only Gemini prompt
  aiplatform/api/AIPlatform.Samples.Tests/TextInputTest.cs
  aiplatform/api/AIPlatform.Samples/TextInputSample.cs
Labels: samples

#2637 docs(aiplatform): Add FunctionCalling sample
  aiplatform/api/AIPlatform.Samples.Tests/FunctionCallingTest.cs
  aiplatform/api/AIPlatform.Samples/FunctionCalling.cs
Labels: samples, api: aiplatform

#2653 docs(aiplatform): Add GenerateImage sample #2652
  aiplatform/api/AIPlatform.Samples.Tests/GenerateImageTest.cs
  aiplatform/api/AIPlatform.Samples/GenerateImage.cs
Labels: samples, api: aiplatform

#2668 Update C# samples for Gemini 1.5 GA
  aiplatform/api/AIPlatform.Samples.Tests/MultimodalAllInputTest.cs
  aiplatform/api/AIPlatform.Samples/AudioInputSummarization.cs
  aiplatform/api/AIPlatform.Samples/AudioInputTranscription.cs
  aiplatform/api/AIPlatform.Samples/MultimodalAllInput.cs
  aiplatform/api/AIPlatform.Samples/PdfInput.cs
  aiplatform/api/AIPlatform.Samples/SystemInstruction.cs
  aiplatform/api/AIPlatform.Samples/TextInputSample.cs
  aiplatform/api/AIPlatform.Samples/VideoInputWithAudio.cs
Labels: samples
