Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2025-06, with the labels that each got.

#2988 chore(secretmanager): Add Regional Code Samples for Delayed Destroy
  secretmanager/api/SecretManager.Samples.Tests/CreateRegionalSecretWithDelayedDestroyTests.cs
  secretmanager/api/SecretManager.Samples.Tests/DisableRegionalSecretDelayedDestroyTests.cs
  secretmanager/api/SecretManager.Samples.Tests/RegionalSecretManagerFixture.cs
  secretmanager/api/SecretManager.Samples.Tests/UpdateRegionalSecretWithDelayedDestroyTests.cs
  secretmanager/api/SecretManager.Samples/CreateRegionalSecretWithDelayedDestroy.cs
  secretmanager/api/SecretManager.Samples/DisableRegionalSecretDelayedDestroy.cs
  secretmanager/api/SecretManager.Samples/UpdateRegionalSecretWithDelayedDestroy.cs
Labels: api: secretmanager, samples

#2857 samples(storage transfer): add samples and test cases for storage transfer services
  storagetransfer/api/StorageTransfer.Samples.Tests/CheckLatestTransferOperationTest.cs
  storagetransfer/api/StorageTransfer.Samples.Tests/CreateEventDrivenGcsTransferTest.cs
  storagetransfer/api/StorageTransfer.Samples.Tests/DownloadToPosixTest.cs
  storagetransfer/api/StorageTransfer.Samples.Tests/QuickStartTest.cs
  storagetransfer/api/StorageTransfer.Samples.Tests/StorageFixture.cs
  storagetransfer/api/StorageTransfer.Samples.Tests/StorageTransfer.Samples.Tests.csproj
  storagetransfer/api/StorageTransfer.Samples.Tests/TransferBetweenPosixTest.cs
  storagetransfer/api/StorageTransfer.Samples.Tests/TransferFromPosixTest.cs
  storagetransfer/api/StorageTransfer.Samples.Tests/TransferToNearlineTest.cs
  storagetransfer/api/StorageTransfer.Samples.Tests/TransferUsingManifestTest.cs
  storagetransfer/api/StorageTransfer.Samples/CheckLatestTransferOperationSample.cs
  storagetransfer/api/StorageTransfer.Samples/CreateEventDrivenGcsTransferSample.cs
  storagetransfer/api/StorageTransfer.Samples/DownloadToPosixSample.cs
  storagetransfer/api/StorageTransfer.Samples/QuickStartSample.cs
  storagetransfer/api/StorageTransfer.Samples/QuickstartSample.cs
  storagetransfer/api/StorageTransfer.Samples/TransferBetweenPosixSample.cs
  storagetransfer/api/StorageTransfer.Samples/TransferFromPosixSample.cs
  storagetransfer/api/StorageTransfer.Samples/TransferToNearlineSample.cs
  storagetransfer/api/StorageTransfer.Samples/TransferUsingManifestSample.cs
Labels: api: storagetransfer, samples

#3100 fix(PubSub): Fix flakiness on CreateSchema tests
  pubsub/api/Pubsub.Samples.Tests/CreateAvroSchemaTest.cs
  pubsub/api/Pubsub.Samples.Tests/CreateProtoSchemaTest.cs
Labels: api: pubsub, samples

#3083 feat(modelarmor): Added snippets to create template with basic and advanced SDP
  modelarmor/api/ModelArmor.Samples.Tests/CreateTemplateWithAdvanceSdpTest.cs
  modelarmor/api/ModelArmor.Samples.Tests/CreateTemplateWithBasicSdpTest.cs
  modelarmor/api/ModelArmor.Samples.Tests/ModelArmor.Samples.Tests.csproj
  modelarmor/api/ModelArmor.Samples.Tests/ModelArmorFixture.cs
  modelarmor/api/ModelArmor.Samples.Tests/QuickStartTest.cs
  modelarmor/api/ModelArmor.Samples/CreateTemplateWithAdvancedSdp.cs
  modelarmor/api/ModelArmor.Samples/CreateTemplateWithBasicSdp.cs
  modelarmor/api/ModelArmor.Samples/QuickStart.cs
Labels: samples, api: modelarmor

#3110 fix(retail): add region tag for CS - Update Search with pagination.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchSimpleQuerySample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithPaginationSample.cs
Labels: samples, api: retail

#3118 chore(BigQuery): Log row level errors in AppendRowsPendingSample
  bigquery-storage/api/BigQueryStorage.Samples/AppendRowsPending.cs
Labels: api: bigquery, samples

#3120 fix(retail): add region tag for Dotnet - Update DeleteProductSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/DeleteProductSample.cs
Labels: samples, api: retail
