Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2025-07, with the labels that each got.

#3122 fix(retail): add region tag for CS - Update GetProductSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/GetProductSample.cs
Labels: samples, api: retail

#3134 fix(retail): add region tag for dotnet - Update WriteUserEventSample.cs
  retail/interactive-tutorial/RetailEvents.Samples/WriteUserEventSample.cs
Labels: samples, api: retail

#3135 fix(retail): add region tag for CS - Update ImportProductsInlineSourceSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/ImportProductsInlineSourceSample.cs
Labels: samples, api: retail

#3137 fix(retail): add region tag for CS - Update AddFulfillmentPlacesSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/AddFulfillmentPlacesSample.cs
Labels: samples, api: retail

#3138 fix(retail): add region tag for CS - Update RemoveFulfillmentPlacesSample.cs
  retail/interactive-tutorial/RetailProducts.Samples/RemoveFulfillmentPlacesSample.cs
Labels: samples, api: retail

#3145 fix(retail): add region tag for dotnet -Update SearchWithBoostSpecSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithBoostSpecSample.cs
Labels: samples, api: retail

#3146 fix(retail): add region tag for dotnet - Update ImportUserEventsBigQuerySample.cs
  retail/interactive-tutorial/RetailEvents.Samples/ImportUserEventsBigQuerySample.cs
Labels: samples, api: retail

#3147 fix(retail): add region tag for dotnet - Update ImportUserEventsInlineSourceSample.cs
  retail/interactive-tutorial/RetailEvents.Samples/ImportUserEventsInlineSourceSample.cs
Labels: samples, api: retail

#3149 fix(retail): add region tag for dotnet - Update PurgeUserEventSample.cs
  retail/interactive-tutorial/RetailEvents.Samples/PurgeUserEventSample.cs
Labels: samples, api: retail

#3150 fix(retail): add region tag for dotnet - Update RejoinUserEventSample.cs
  retail/interactive-tutorial/RetailEvents.Samples/RejoinUserEventSample.cs
Labels: samples, api: retail

#3153 fix(retail): add region tag for dotnet - Update SearchWithFilteringSample.cs
  retail/interactive-tutorial/RetailSearch.Samples/SearchWithFilteringSample.cs
Labels: samples, api: retail

#3094 feat(modelarmor): Added snippets to sanitizer user prompt and model response
  modelarmor/api/ModelArmor.Samples.Tests/ListTemplatesTest.cs
  modelarmor/api/ModelArmor.Samples.Tests/ModelArmorFixture.cs
  modelarmor/api/ModelArmor.Samples.Tests/SanitizeModelResponseTest.cs
  modelarmor/api/ModelArmor.Samples.Tests/SanitizeModelResponseWithUserPromptTest.cs
  modelarmor/api/ModelArmor.Samples.Tests/SanitizeUserPromptTest.cs
  modelarmor/api/ModelArmor.Samples.Tests/ScanPdfFileTest.cs
  modelarmor/api/ModelArmor.Samples.Tests/test_sample.pdf
  modelarmor/api/ModelArmor.Samples/ModelArmor.Samples.csproj
  modelarmor/api/ModelArmor.Samples/SanitizeModelResponse.cs
  modelarmor/api/ModelArmor.Samples/SanitizeModelResponseWithUserPrompt.cs
  modelarmor/api/ModelArmor.Samples/SanitizeUserPrompt.cs
  modelarmor/api/ModelArmor.Samples/ScanPdfFile.cs
Labels: samples, api: modelarmor

#2994 feat(parametermanager): Added samples for kms_key field in global parameter
  parametermanager/api/ParameterManager.Samples.Tests/CreateParameterWithKmsKeyTests.cs
  parametermanager/api/ParameterManager.Samples.Tests/ParameterManager.Samples.Tests.csproj
  parametermanager/api/ParameterManager.Samples.Tests/ParameterManagerFixture.cs
  parametermanager/api/ParameterManager.Samples.Tests/RemoveParameterKmsKeyTests.cs
  parametermanager/api/ParameterManager.Samples.Tests/UpdateParameterKmsKeyTests.cs
  parametermanager/api/ParameterManager.Samples/CreateParameterWithKmsKey.cs
  parametermanager/api/ParameterManager.Samples/RemoveParameterKmsKey.cs
  parametermanager/api/ParameterManager.Samples/UpdateParameterKmsKey.cs
  parametermanager/api/ParameterManager.sln
  parametermanager/api/runTests.ps1
Labels: samples

#3082 feat(modelarmor): Added snippets for Create Template with labels and metadata
  modelarmor/api/ModelArmor.Samples.Tests/CreateTemplateTest.cs
  modelarmor/api/ModelArmor.Samples.Tests/CreateTemplateWithLabelsTest.cs
  modelarmor/api/ModelArmor.Samples.Tests/CreateTemplateWithMetadataTest.cs
  modelarmor/api/ModelArmor.Samples.Tests/QuickStartTest.cs
  modelarmor/api/ModelArmor.Samples/CreateTemplateWithLabels.cs
  modelarmor/api/ModelArmor.Samples/CreateTemplateWithMetadata.cs
  modelarmor/api/ModelArmor.Samples/ModelArmor.Samples.csproj
Labels: samples, api: modelarmor
