Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2025-05, with the labels that each got.

#2981 feat(parametermanager): Added samples for create global parameter and parameter version
  parametermanager/api/ParameterManager.Samples.Tests/CreateParameterTests.cs
  parametermanager/api/ParameterManager.Samples.Tests/CreateParameterVersionTests.cs
  parametermanager/api/ParameterManager.Samples.Tests/CreateParameterVersionWithSecretTests.cs
  parametermanager/api/ParameterManager.Samples.Tests/CreateStructuredParameterTests.cs
  parametermanager/api/ParameterManager.Samples.Tests/CreateStructuredParameterVersionTests.cs
  parametermanager/api/ParameterManager.Samples.Tests/ParameterManager.Samples.Tests.csproj
  parametermanager/api/ParameterManager.Samples.Tests/ParameterManagerFixture.cs
  parametermanager/api/ParameterManager.Samples/CreateParameter.cs
  parametermanager/api/ParameterManager.Samples/CreateParameterVersion.cs
  parametermanager/api/ParameterManager.Samples/CreateParameterVersionWithSecret.cs
  parametermanager/api/ParameterManager.Samples/CreateStructuredParameter.cs
  parametermanager/api/ParameterManager.Samples/CreateStructuredParameterVersion.cs
  parametermanager/api/ParameterManager.Samples/ParameterManager.Samples.csproj
  parametermanager/api/ParameterManager.sln
  parametermanager/api/runTests.ps1
Labels: samples

#3030 tests(PubSub): Adds RandomKinesisIngestionParams method to PubSubFixture
  pubsub/api/Pubsub.Samples.Tests/PubsubFixture.cs
Labels: samples

#3059 build(Functions Framework): Update some samples to target .NET 8.
  functions/helloworld/HelloPubSubFSharp/HelloPubSubFSharp.fsproj
  functions/helloworld/HelloPubSubVb/HelloPubSubVb.vbproj
  functions/helloworld/HelloWorldFSharp/HelloWorldFSharp.fsproj
  functions/helloworld/HelloWorldVb/HelloWorldVb.vbproj
Labels: samples

#3050 feat(PubSub): Add comments about AvroUtilities on PullAvroMessagesAsync sample
  pubsub/api/Pubsub.Samples/PullAvroMessagesAsync.cs
Labels: api: pubsub, samples

#3049 fix(PubSub): Add locational endpoint to ExactlyOnceDeliverySubscriberAsync sample
  pubsub/api/Pubsub.Samples/ExactlyOnceDeliverySubscriberAsync.cs
Labels: api: pubsub, samples

#3047 feat(PubSub): Add CreateTopicWithCloudStorageIngestion Sample
  pubsub/api/Pubsub.Samples.Tests/CreateTopicWithCloudStorageIngestionTest.cs
  pubsub/api/Pubsub.Samples/CreateTopicWithCloudStorageIngestion.cs
Labels: api: pubsub, samples

#3044 feat(PubSub): Add methods to generate random ingestion params for samples
  pubsub/api/Pubsub.Samples.Tests/PubsubFixture.cs
Labels: api: pubsub, samples

#3060 tests(Secret Manager): Some tests were using the wrong resource.
  secretmanager/api/SecretManager.Samples.Tests/IamGrantAccessTests.cs
  secretmanager/api/SecretManager.Samples.Tests/IamRevokeAccessTests.cs
  secretmanager/api/SecretManager.Samples.Tests/UpdateSecretWithAliasTests.cs
Labels: api: secretmanager, samples

#3046 feat(PubSub): Add CreateTopicWithAzureEventHubs Sample
  pubsub/api/Pubsub.Samples.Tests/CreateTopicWithAzureEventHubsIngestionTest.cs
  pubsub/api/Pubsub.Samples/CreateTopicWIthAzureEventHubsIngestion.cs
Labels: api: pubsub, samples

#3045 feat(PubSub): Add CreateTopicWithConfluentCloudIngestion Sample
  pubsub/api/Pubsub.Samples.Tests/CreateTopicWithConfluentCloudIngestionTest.cs
  pubsub/api/Pubsub.Samples/CreateTopicWithConfluentCloudIngestion.cs
Labels: api: pubsub, samples

#3043 feat(PubSub): Add CreateTopicWithAwsMskIngestion Sample
  pubsub/api/Pubsub.Samples.Tests/CreateTopicWithAwsMskIngestionTest.cs
  pubsub/api/Pubsub.Samples/CreateTopicWithAwsMskIngestion.cs
Labels: api: pubsub, samples

#3031 feat(PubSub): Add CreateTopicWithKinesisIngestion Sample
  pubsub/api/Pubsub.Samples.Tests/CreateTopicWithKinesisIngestionTest.cs
  pubsub/api/Pubsub.Samples/CreateTopicWithKinesisIngestion.cs
Labels: api: pubsub, samples

#3029 feat(PubSub): Add UpdateTopicType Sample
  pubsub/api/Pubsub.Samples.Tests/UpdateTopicTypeTest.cs
  pubsub/api/Pubsub.Samples/UpdateTopicType.cs
Labels: api: pubsub, samples

#3028 feat(PubSub): Add OptimisticSubscribe Sample
  pubsub/api/Pubsub.Samples.Tests/OptimisticSubscribeTest.cs
  pubsub/api/Pubsub.Samples/OptimisticSubscribe.cs
Labels: api: pubsub, samples

#3027 feat(PubSub): Add SubscriberErrorListener Sample
  pubsub/api/Pubsub.Samples.Tests/SubscriberErrorListenerTest.cs
  pubsub/api/Pubsub.Samples/SubscriberErrorListener.cs
Labels: samples

#2989 feat(parametermanager): Added samples for create regional parameter and parameter version
  parametermanager/api/ParameterManager.RegionalSamples.Tests/CreateRegionalParameterTests.cs
  parametermanager/api/ParameterManager.RegionalSamples.Tests/CreateRegionalParameterVersionTests.cs
  parametermanager/api/ParameterManager.RegionalSamples.Tests/CreateRegionalParameterVersionWithSecretTests.cs
  parametermanager/api/ParameterManager.RegionalSamples.Tests/CreateStructuredRegionalParameterTests.cs
  parametermanager/api/ParameterManager.RegionalSamples.Tests/CreateStructuredRegionalParameterVersionTests.cs
  parametermanager/api/ParameterManager.RegionalSamples.Tests/ParameterManager.RegionalSamples.Tests.csproj
  parametermanager/api/ParameterManager.RegionalSamples.Tests/ParameterManagerRegionalFixture.cs
  parametermanager/api/ParameterManager.RegionalSamples/CreateRegionalParameter.cs
  parametermanager/api/ParameterManager.RegionalSamples/CreateRegionalParameterVersion.cs
  parametermanager/api/ParameterManager.RegionalSamples/CreateRegionalParameterVersionWithSecret.cs
  parametermanager/api/ParameterManager.RegionalSamples/CreateStructuredRegionalParameter.cs
  parametermanager/api/ParameterManager.RegionalSamples/CreateStructuredRegionalParameterVersion.cs
  parametermanager/api/ParameterManager.RegionalSamples/ParameterManager.RegionalSamples.csproj
  parametermanager/api/ParameterManager.sln
Labels: samples

#3072 chore: Delete parametermanager/README.md
  parametermanager/README.md
Labels: samples

#2990 feat(parametermanager): Added samples for get, list and render global parameter
  parametermanager/api/ParameterManager.Samples.Tests/GetParameterTests.cs
  parametermanager/api/ParameterManager.Samples.Tests/GetParameterVersionTests.cs
  parametermanager/api/ParameterManager.Samples.Tests/ListParameterVersionsTests.cs
  parametermanager/api/ParameterManager.Samples.Tests/ListParametersTests.cs
  parametermanager/api/ParameterManager.Samples.Tests/ParameterManagerFixture.cs
  parametermanager/api/ParameterManager.Samples.Tests/RenderParameterVersionTests.cs
  parametermanager/api/ParameterManager.Samples/GetParameter.cs
  parametermanager/api/ParameterManager.Samples/GetParameterVersion.cs
  parametermanager/api/ParameterManager.Samples/ListParameterVersions.cs
  parametermanager/api/ParameterManager.Samples/ListParameters.cs
  parametermanager/api/ParameterManager.Samples/RenderParameterVersion.cs
Labels: samples

#2991 feat(parametermanager): Added samples for get, list and render regional parameter
  parametermanager/api/ParameterManager.RegionalSamples.Tests/GetRegionalParameterTests.cs
  parametermanager/api/ParameterManager.RegionalSamples.Tests/GetRegionalParameterVersionTests.cs
  parametermanager/api/ParameterManager.RegionalSamples.Tests/ListRegionalParameterVersionsTests.cs
  parametermanager/api/ParameterManager.RegionalSamples.Tests/ListRegionalParametersTests.cs
  parametermanager/api/ParameterManager.RegionalSamples.Tests/ParameterManagerRegionalFixture.cs
  parametermanager/api/ParameterManager.RegionalSamples.Tests/RenderRegionalParameterVersionTests.cs
  parametermanager/api/ParameterManager.RegionalSamples/GetRegionalParameter.cs
  parametermanager/api/ParameterManager.RegionalSamples/GetRegionalParameterVersion.cs
  parametermanager/api/ParameterManager.RegionalSamples/ListRegionalParameterVersions.cs
  parametermanager/api/ParameterManager.RegionalSamples/ListRegionalParameters.cs
  parametermanager/api/ParameterManager.RegionalSamples/RenderRegionalParameterVersion.cs
Labels: samples

#2993 feat(parametermanager): Added samples for delete, disable and enable regional parameter
  parametermanager/api/ParameterManager.RegionalSamples.Tests/DeleteRegionalParameterTests.cs
  parametermanager/api/ParameterManager.RegionalSamples.Tests/DeleteRegionalParameterVersionTests.cs
  parametermanager/api/ParameterManager.RegionalSamples.Tests/DisableRegionalParameterVersionTests.cs
  parametermanager/api/ParameterManager.RegionalSamples.Tests/EnableRegionalParameterVersionTests.cs
  parametermanager/api/ParameterManager.RegionalSamples.Tests/ParameterManagerRegionalFixture.cs
  parametermanager/api/ParameterManager.RegionalSamples/DeleteRegionalParameter.cs
  parametermanager/api/ParameterManager.RegionalSamples/DeleteRegionalParameterVersion.cs
  parametermanager/api/ParameterManager.RegionalSamples/DisbleRegionalParameterVersion.cs
  parametermanager/api/ParameterManager.RegionalSamples/EnableRegionalParameterVersion.cs
  parametermanager/api/ParameterManager.RegionalSamples/ParameterManager.RegionalSamples.csproj
Labels: samples
