Repository GoogleCloudPlatform/dotnet-docs-samples, pull requests merged in 2025-04, with the labels that each got.

#2978 Grounding Web with Gemini Flash 2.0 - google_search field instead of …
  aiplatform/api/AIPlatform.Samples/GroundingWebSample.cs
Labels: samples

#2980 tests[KMS]: Share a single KMS client across tests.
  kms/api/Kms.Samples.Tests/CreateKeyAsymmetricDecryptTests.cs
  kms/api/Kms.Samples.Tests/CreateKeyAsymmetricSignTests.cs
  kms/api/Kms.Samples.Tests/CreateKeyHsmTests.cs
  kms/api/Kms.Samples.Tests/CreateKeyLabelsTests.cs
  kms/api/Kms.Samples.Tests/CreateKeyMacTests.cs
  kms/api/Kms.Samples.Tests/CreateKeyRingTests.cs
  kms/api/Kms.Samples.Tests/CreateKeyRotationScheduleTests.cs
  kms/api/Kms.Samples.Tests/CreateKeySymmetricEncryptDecryptTests.cs
  kms/api/Kms.Samples.Tests/CreateKeyVersionTests.cs
  kms/api/Kms.Samples.Tests/DecryptAsymmetricTests.cs
  kms/api/Kms.Samples.Tests/DecryptSymmetricTests.cs
  kms/api/Kms.Samples.Tests/EncryptAsymmetricTests.cs
  kms/api/Kms.Samples.Tests/EncryptSymmetricTests.cs
  kms/api/Kms.Samples.Tests/KmsFixture.cs
  kms/api/Kms.Samples.Tests/RestoreCryptoKeyVersionTests.cs
  kms/api/Kms.Samples.Tests/SignAsymmetricTests.cs
  kms/api/Kms.Samples.Tests/SignMacTests.cs
  kms/api/Kms.Samples.Tests/UpdateKeyAddRotationTests.cs
  kms/api/Kms.Samples.Tests/UpdateKeyRemoveLabelsTests.cs
  kms/api/Kms.Samples.Tests/VerifyAsymmetricRsaTests.cs
  kms/api/Kms.Samples.Tests/VerifyMacTests.cs
Labels: samples

#2983 Fixes: Update all Gemini 1.5 samples to 2.0 #2982
  aiplatform/api/AIPlatform.Samples/AudioInputSummarization.cs
  aiplatform/api/AIPlatform.Samples/AudioInputTranscription.cs
  aiplatform/api/AIPlatform.Samples/ControlledGeneration.cs
  aiplatform/api/AIPlatform.Samples/FunctionCalling.cs
  aiplatform/api/AIPlatform.Samples/GeminiQuickstart.cs
  aiplatform/api/AIPlatform.Samples/GetTokenCount.cs
  aiplatform/api/AIPlatform.Samples/GroundingVertexAiSearchSample.cs
  aiplatform/api/AIPlatform.Samples/MultiTurnChatSample.cs
  aiplatform/api/AIPlatform.Samples/MultimodalAllInput.cs
  aiplatform/api/AIPlatform.Samples/MultimodalMultiImage.cs
  aiplatform/api/AIPlatform.Samples/MultimodalVideoInput.cs
  aiplatform/api/AIPlatform.Samples/PdfInput.cs
  aiplatform/api/AIPlatform.Samples/SystemInstruction.cs
  aiplatform/api/AIPlatform.Samples/TextInputSample.cs
  aiplatform/api/AIPlatform.Samples/VideoInputWithAudio.cs
  aiplatform/api/AIPlatform.Samples/WithSafetySettings.cs
Labels: samples

#2963 samples(storage): add samples and test cases for storage to support bucket restore feature
  storage/api/Storage.Samples.Tests/GetSoftDeleteBucketTest.cs
  storage/api/Storage.Samples.Tests/ListSoftDeleteBucketsTest.cs
  storage/api/Storage.Samples.Tests/RestoreSoftDeleteBucketTest.cs
  storage/api/Storage.Samples.Tests/StorageFixture.cs
  storage/api/Storage.Samples/GetSoftDeletedBucket.cs
  storage/api/Storage.Samples/ListSoftDeletedBuckets.cs
  storage/api/Storage.Samples/RestoreSoftDeletedBucket.cs
  storage/api/Storage.Samples/Storage.Samples.csproj
Labels: api: storage, samples

#2729 chore: Update all Functions samples to .NET 8.0
  functions/concepts/Concepts.Tests/Concepts.Tests.csproj
  functions/concepts/EnvironmentVariables/EnvironmentVariables.csproj
  functions/concepts/ExecutionCount/ExecutionCount.csproj
  functions/concepts/FileSystem/FileSystem.csproj
  functions/concepts/LazyFields/LazyFields.csproj
  functions/concepts/Retry/Retry.csproj
  functions/concepts/Scopes/Scopes.csproj
  functions/concepts/TimeBoundedRetries/TimeBoundedRetries.csproj
  functions/firebase/Firebase.Tests/Firebase.Tests.csproj
  functions/firebase/FirebaseAnalytics/FirebaseAnalytics.csproj
  functions/firebase/FirebaseAuth/FirebaseAuth.csproj
  functions/firebase/FirebaseFirestore/FirebaseFirestore.csproj
  functions/firebase/FirebaseRemoteConfig/FirebaseRemoteConfig.csproj
  functions/firebase/FirebaseRtdb/FirebaseRtdb.csproj
  functions/firebase/FirestoreReactive/FirestoreReactive.csproj
  functions/helloworld/HelloGcs/HelloGcs.csproj
  functions/helloworld/HelloHttp/HelloHttp.csproj
  functions/helloworld/HelloPubSub/HelloPubSub.csproj
  functions/helloworld/HelloWorld.Tests/HelloWorld.Tests.csproj
  functions/helloworld/HelloWorld/HelloWorld.csproj
  functions/http/Cors/Cors.csproj
  functions/http/Http.Tests/Http.Tests.csproj
  functions/http/HttpFormData/HttpFormData.csproj
  functions/http/HttpRequestMethod/HttpRequestMethod.csproj
  functions/http/ParseContentType/ParseContentType.csproj
  functions/http/SendHttpRequest/SendHttpRequest.csproj
  functions/imagemagick/ImageMagick/ImageMagick.csproj
  functions/logging/LogHelloWorld/LogHelloWorld.csproj
  functions/logging/Logging.Tests/Logging.Tests.csproj
  functions/responsestreaming/StreamBigQuery.Tests/StreamBigQuery.Tests.csproj
  functions/responsestreaming/StreamBigQuery/StreamBigQuery.csproj
  functions/slack/SlackKnowledgeGraphSearch/SlackKnowledgeGraphSearch.csproj
  functions/typed/Greeting/Greeting.csproj
  functions/typed/Typed.Tests/Typed.Tests.csproj
Labels: samples

#2985 chore(secretmanager): Add global samples for delayed destroy
  secretmanager/api/SecretManager.Samples.Tests/CreateSecretWithDelayedDestroyTests.cs
  secretmanager/api/SecretManager.Samples.Tests/DestroySecretVersionTests.cs
  secretmanager/api/SecretManager.Samples.Tests/DisableSecretDelayedDestroyTests.cs
  secretmanager/api/SecretManager.Samples.Tests/DisableSecretVersionTests.cs
  secretmanager/api/SecretManager.Samples.Tests/EnableSecretVersionTests.cs
  secretmanager/api/SecretManager.Samples.Tests/SecretManagerFixture.cs
  secretmanager/api/SecretManager.Samples.Tests/UpdateSecretWithDelayedDestroyTests.cs
  secretmanager/api/SecretManager.Samples/CreateSecretWithDelayedDestroy.cs
  secretmanager/api/SecretManager.Samples/DisableSecretDelayedDestroy.cs
  secretmanager/api/SecretManager.Samples/UpdateSecretWithDelayedDestroy.cs
Labels: api: secretmanager, samples
