Repository GoogleCloudPlatform/dotnet-docs-samples, changes with the owners that CODEOWNERS names for each.
All owners: @amanda-tarafa, @jskeet, @GoogleCloudPlatform/cloud-native-db-dpes, @GoogleCloudPlatform/infra-db-dpes, @gcseh, @GoogleCloudPlatform/api-iot, @GoogleCloudPlatform/storage-dpe, @jsimonweb, @skuruppu, @sethvargo, @simonz130, @meteatamel, @SurferJeffAtGoogle, @hsanchez94, @pheonixblade9

CODEOWNERS:

# There are two aspects that should be taken into account when reviewing samples on this repo.
#   * That the samples are meaningful and consistent with similar samples in other languages
#     and with what is stated in documentation. Some sample sets have specific owners that
#     are in charge of this aspect.
#   * The extent to which the sample is idiomatic C# and consistent with the rest of the samples in this repo.
#     Currently @amanda-tarafa, @jskeet, in that order of availability, are in charge of this aspect.
# Any PR will require two reviewers, one for each of the aspects mentioned above. For those sample sets
# that don't have a specific owner, idiomatic reviewers will do their best effort to either review this
# aspect themselves or find someone who can.

*           @amanda-tarafa @jskeet

bigtable/   @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
datastore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
cloud-sql/  @GoogleCloudPlatform/infra-db-dpes @amanda-tarafa @jskeet
firestore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
iot/        @gcseh @GoogleCloudPlatform/api-iot @amanda-tarafa @jskeet
storage/    @GoogleCloudPlatform/storage-dpe @amanda-tarafa @jskeet

bigquery/                  @jsimonweb @amanda-tarafa @jskeet
applications/leaderboard/  @jsimonweb @amanda-tarafa @jskeet

spanner/  @skuruppu @amanda-tarafa @jskeet

kms/            @sethvargo @amanda-tarafa @jskeet
secretmanager/  @sethvargo @amanda-tarafa @jskeet

applications/liftAndShiftPetshop/  @simonz130 @amanda-tarafa @jskeet

applications/googlehome-meets-dotnetcontainers/  @meteatamel @amanda-tarafa @jskeet
run/                                             @meteatamel @jskeet @amanda-tarafa

applications/sudokumb  @SurferJeffAtGoogle @amanda-tarafa @jskeet

securitycenter/  @hsanchez94 @amanda-tarafa @jskeet

dlp/ @pheonixblade9 @amanda-tarafa @jskeet

chore(deps): update dependency google.cloud.spanner.data to v3.12.0
  applications/leaderboard/Leaderboard/Leaderboard.csproj
  applications/leaderboard/step4/Leaderboard.csproj
  applications/leaderboard/step5/Leaderboard.csproj
  applications/leaderboard/step6/Leaderboard.csproj
Owners: @jsimonweb, @amanda-tarafa, @jskeet

chore(deps): update mstest monorepo to v2.2.6
  securitycenter/api/tests/Tests.csproj
Owners: @hsanchez94, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.spanner.data to v3.12.0
  applications/leaderboard/Leaderboard/Leaderboard.csproj
  applications/leaderboard/step4/Leaderboard.csproj
  applications/leaderboard/step5/Leaderboard.csproj
  applications/leaderboard/step6/Leaderboard.csproj
Owners: @jsimonweb, @amanda-tarafa, @jskeet

Update media/transcoder/api/Transcoder.Samples/Transcoder.Samples.csproj
  media/transcoder/api/Transcoder.Samples/Transcoder.Samples.csproj
Owners: @amanda-tarafa, @jskeet

Update media/transcoder/api/Transcoder.Samples.Tests/Transcoder.Samples.Tests.csproj
  media/transcoder/api/Transcoder.Samples.Tests/Transcoder.Samples.Tests.csproj
Owners: @amanda-tarafa, @jskeet

Update media/transcoder/api/Transcoder.Samples/CreateJobFromAdHoc.cs
  media/transcoder/api/Transcoder.Samples/CreateJobFromAdHoc.cs
Owners: @amanda-tarafa, @jskeet

Update media/transcoder/api/Transcoder.Samples/CreateJobFromAdHoc.cs
  media/transcoder/api/Transcoder.Samples/CreateJobFromAdHoc.cs
Owners: @amanda-tarafa, @jskeet

Update media/transcoder/api/Transcoder.Samples/CreateJobFromAdHoc.cs
  media/transcoder/api/Transcoder.Samples/CreateJobFromAdHoc.cs
Owners: @amanda-tarafa, @jskeet

Update media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromAdHocTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromAdHocTests.cs
Owners: @amanda-tarafa, @jskeet

Address feedback.
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromAdHocTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromPresetTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithAnimatedOverlayTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithPeriodicImagesSpritesheetTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithSetNumberImagesSpritesheetTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithStaticOverlayTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/DeleteJobTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/GetJobTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/GetJobTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/ListJobTemplatesTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/ListJobsTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
  media/transcoder/api/Transcoder.Samples/CreateJobFromAdHoc.cs
  media/transcoder/api/Transcoder.Samples/CreateJobFromPreset.cs
  media/transcoder/api/Transcoder.Samples/CreateJobFromTemplate.cs
  media/transcoder/api/Transcoder.Samples/CreateJobTemplate.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithAnimatedOverlay.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithPeriodicImagesSpritesheet.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithSetNumberImagesSpritesheet.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithStaticOverlay.cs
  media/transcoder/api/Transcoder.Samples/GetJob.cs
  media/transcoder/api/Transcoder.Samples/GetJobState.cs
  media/transcoder/api/Transcoder.Samples/GetJobTemplate.cs
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudiot.v1 to v1.54.0.2419
  iot/api/CloudIotMqttExample/CloudIotMqttExample.csproj
  iot/api/CloudIotSample/CloudIotSample.csproj
Owners: @gcseh, @GoogleCloudPlatform/api-iot, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudiot.v1 to v1.54.0.2419
  iot/api/CloudIotMqttExample/CloudIotMqttExample.csproj
  iot/api/CloudIotSample/CloudIotSample.csproj
Owners: @gcseh, @GoogleCloudPlatform/api-iot, @amanda-tarafa, @jskeet

chore: Disable renovate dashboard. Closes #1472
  .github/renovate.json
Owners: @amanda-tarafa, @jskeet

chore: Disable renovate dashboard. Closes #1472
  .github/renovate.json
Owners: @amanda-tarafa, @jskeet

Updating README.md for PubSub, Bigtable, IOT, and Spanner
  appengine/flexible/Pubsub/README.md
  applications/googlehome-meets-dotnetcontainers/Readme.md
  bigtable/api/README.md
  iot/api/README.md
  spanner/api/README.md
Owners: @amanda-tarafa, @jskeet, @meteatamel, @GoogleCloudPlatform/cloud-native-db-dpes, @gcseh, @GoogleCloudPlatform/api-iot, @skuruppu

Updating README.md for PubSub, Bigtable, IOT, and Spanner
  appengine/flexible/Pubsub/README.md
  applications/googlehome-meets-dotnetcontainers/Readme.md
  bigtable/api/README.md
  iot/api/README.md
  spanner/api/README.md
Owners: @amanda-tarafa, @jskeet, @meteatamel, @GoogleCloudPlatform/cloud-native-db-dpes, @gcseh, @GoogleCloudPlatform/api-iot, @skuruppu

Add RetryRobot per feedback
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromAdHocTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromPresetTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithAnimatedOverlayTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithPeriodicImagesSpritesheetTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithSetNumberImagesSpritesheetTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithStaticOverlayTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/DeleteJobTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/DeleteJobTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/GetJobTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/GetJobTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/ListJobTemplatesTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/ListJobsTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.errorreporting.v1beta1 to v2.0.0-beta05
  error-reporting/api/ErrorReportingSample/ErrorReportingSample.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.language.v1 to v2.3.0
  auth/AuthSample/AuthSample.csproj
Owners: @amanda-tarafa, @jskeet

ci: Adjust test sharding
  .kokoro/main.ps1
Owners: @amanda-tarafa, @jskeet

tests(Asset): Unskipping test that might work. Also minor cleanups and improvements. Closes #1141 Closes #1295
  asset/api/Asset.Samples.Tests/AnalyzeIamPolicyLongrunningBigqueryTest.cs
  asset/api/Asset.Samples.Tests/AnalyzeIamPolicyLongrunningGcsTest.cs
  asset/api/Asset.Samples.Tests/AnalyzeIamPolicyTest.cs
  asset/api/Asset.Samples.Tests/AssetFixture.cs
  asset/api/Asset.Samples.Tests/BatchGetAssetsHistoryTest.cs
  asset/api/Asset.Samples.Tests/ExportAssetsTest.cs
  asset/api/Asset.Samples.Tests/ListAssetsTest.cs
  asset/api/Asset.Samples.Tests/SearchAllIamPoliciesTest.cs
  asset/api/Asset.Samples.Tests/SearchAllResourcesTest.cs
  asset/api/Asset.Samples/AnalyzeIamPolicy.cs
  asset/api/Asset.Samples/BatchGetAssetsHistory.cs
  asset/api/Asset.Samples/ExportAssets.cs
  asset/api/Asset.Samples/ListAssets.cs
Owners: @amanda-tarafa, @jskeet

ci(Cloud-SQL): Skips SQL Server tests which are failing. Tracked by #1471
  cloud-sql/sql-server/runTestsWithSqlServer.ps1
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

ci(testutil): Specify the project is not a test project.
  testutil/packages.config
  testutil/testutil.csproj
Owners: @amanda-tarafa, @jskeet

tests(Storage): Retries HMAC key modifications To allow for previous updates to have been propagated. Closes #1367
  storage/api/Storage.Samples.Tests/ActivateHmacKeyTest.cs
  storage/api/Storage.Samples.Tests/DeactivateHmacKeyTest.cs
  storage/api/Storage.Samples.Tests/DeleteHmacKeyTest.cs
  storage/api/Storage.Samples.Tests/GetHmacKeyTest.cs
  storage/api/Storage.Samples.Tests/ListHmacKeysTest.cs
  storage/api/Storage.Samples.Tests/Storage.Samples.Tests.csproj
  storage/api/Storage.Samples.Tests/StorageFixture.cs
  storage/api/Storage.sln
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

tests(Spanner): Increases overall timeout. And fixes a warning.
  spanner/api/Spanner.Samples.Tests/ListDatabasesTest.cs
  spanner/api/Spanner.Samples.Tests/runTests.ps1
Owners: @skuruppu, @amanda-tarafa, @jskeet

build(utils): Makes CommandLineUtil target netstandard2.1 as well.
  commandlineutil/Lib/CommandLineUtil.csproj
Owners: @amanda-tarafa, @jskeet

build(utils): Makes CommandLineUtil target netstandard2.1 as well.
  commandlineutil/Lib/CommandLineUtil.csproj
Owners: @amanda-tarafa, @jskeet

ci(Cloud-SQL): Skips SQL Server tests which are failing. Tracked by #1471
  cloud-sql/sql-server/runTestsWithSqlServer.ps1
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

tests(Spanner): Increases overall timeout. And fixes a warning.
  spanner/api/Spanner.Samples.Tests/ListDatabasesTest.cs
  spanner/api/Spanner.Samples.Tests/runTests.ps1
Owners: @skuruppu, @amanda-tarafa, @jskeet

tests(Storage): Retries HMAC key modifications To allow for previous updates to have been propagated. Closes #1367
  storage/api/Storage.Samples.Tests/ActivateHmacKeyTest.cs
  storage/api/Storage.Samples.Tests/DeactivateHmacKeyTest.cs
  storage/api/Storage.Samples.Tests/DeleteHmacKeyTest.cs
  storage/api/Storage.Samples.Tests/GetHmacKeyTest.cs
  storage/api/Storage.Samples.Tests/ListHmacKeysTest.cs
  storage/api/Storage.Samples.Tests/Storage.Samples.Tests.csproj
  storage/api/Storage.Samples.Tests/StorageFixture.cs
  storage/api/Storage.sln
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

ci(testutil): Specify the project is not a test project.
  testutil/packages.config
  testutil/testutil.csproj
Owners: @amanda-tarafa, @jskeet

tests(Asset): Unskipping test that might work. Also minor cleanups and improvements. Closes #1141 Closes #1295
  asset/api/Asset.Samples.Tests/AnalyzeIamPolicyLongrunningBigqueryTest.cs
  asset/api/Asset.Samples.Tests/AnalyzeIamPolicyLongrunningGcsTest.cs
  asset/api/Asset.Samples.Tests/AnalyzeIamPolicyTest.cs
  asset/api/Asset.Samples.Tests/AssetFixture.cs
  asset/api/Asset.Samples.Tests/BatchGetAssetsHistoryTest.cs
  asset/api/Asset.Samples.Tests/ExportAssetsTest.cs
  asset/api/Asset.Samples.Tests/ListAssetsTest.cs
  asset/api/Asset.Samples.Tests/SearchAllIamPoliciesTest.cs
  asset/api/Asset.Samples.Tests/SearchAllResourcesTest.cs
  asset/api/Asset.Samples/AnalyzeIamPolicy.cs
  asset/api/Asset.Samples/BatchGetAssetsHistory.cs
  asset/api/Asset.Samples/ExportAssets.cs
  asset/api/Asset.Samples/ListAssets.cs
Owners: @amanda-tarafa, @jskeet

ci: Adjust test sharding
  .kokoro/main.ps1
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.errorreporting.v1beta1 to v2.0.0-beta05
  error-reporting/api/ErrorReportingSample/ErrorReportingSample.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.language.v1 to v2.3.0
  auth/AuthSample/AuthSample.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.secretmanager.v1 to v1.7.0
  secretmanager/api/SecretManager.Samples/SecretManager.Samples.csproj
Owners: @sethvargo, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.securitycenter.v1 to v2.6.0
  securitycenter/api/src/Snippets.csproj
Owners: @hsanchez94, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.servicedirectory.v1 to v1.2.0
  servicedirectory/api/ServiceDirectory.Samples/ServiceDirectory.Samples.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudresourcemanager.v1 to v1.54.0.2433
  iam/api/Access/Access.csproj
  iam/api/QuickStart/QuickStart.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update mstest monorepo to v2.2.7
  securitycenter/api/tests/Tests.csproj
Owners: @hsanchez94, @amanda-tarafa, @jskeet
