Repository GoogleCloudPlatform/dotnet-docs-samples, changes with the owners that CODEOWNERS names for each.
All owners: @amanda-tarafa, @jskeet, @GoogleCloudPlatform/cloud-native-db-dpes, @GoogleCloudPlatform/infra-db-dpes, @gcseh, @GoogleCloudPlatform/api-iot, @GoogleCloudPlatform/storage-dpe, @jsimonweb, @skuruppu, @sethvargo, @simonz130, @meteatamel, @SurferJeffAtGoogle, @hsanchez94, @pheonixblade9

chore(deps): update dependency google.cloud.spanner.data to v3.13.0
  applications/leaderboard/Leaderboard/Leaderboard.csproj
  applications/leaderboard/step4/Leaderboard.csproj
  applications/leaderboard/step5/Leaderboard.csproj
  applications/leaderboard/step6/Leaderboard.csproj
  spanner/api/QuickStart/QuickStart.csproj
  spanner/api/Spanner.Samples/Spanner.Samples.csproj
  spanner/api/Spanner/Spanner.csproj
Owners: @jsimonweb, @amanda-tarafa, @jskeet, @skuruppu

chore(deps): update dependency google.cloud.tasks.v2 to v2.4.0
  cloudtasks/api/TasksSample/TasksSample.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.spanner.data to v3.13.0
  applications/leaderboard/Leaderboard/Leaderboard.csproj
  applications/leaderboard/step4/Leaderboard.csproj
  applications/leaderboard/step5/Leaderboard.csproj
  applications/leaderboard/step6/Leaderboard.csproj
  spanner/api/QuickStart/QuickStart.csproj
  spanner/api/Spanner.Samples/Spanner.Samples.csproj
  spanner/api/Spanner/Spanner.csproj
Owners: @jsimonweb, @amanda-tarafa, @jskeet, @skuruppu

chore(deps): update dependency google.cloud.tasks.v2 to v2.4.0
  cloudtasks/api/TasksSample/TasksSample.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.compute.v1 to v1.0.0-beta06
  compute/api/Compute.Samples/Compute.Samples.csproj
Owners: @amanda-tarafa, @jskeet

use TimeSpan instead of decimal or Seconds and Nanos
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithConcatenatedInputsTests.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithAnimatedOverlay.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithConcatenatedInputs.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithPeriodicImagesSpritesheet.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithStaticOverlay.cs
Owners: @amanda-tarafa, @jskeet

address feedback
  media/transcoder/api/Transcoder.Samples/CreateJobWithAnimatedOverlay.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithPeriodicImagesSpritesheet.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithStaticOverlay.cs
Owners: @amanda-tarafa, @jskeet

Update media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithConcatenatedInputsTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithConcatenatedInputsTests.cs
Owners: @amanda-tarafa, @jskeet

tests(Asset): Increase overall timeout
  asset/api/runTests.ps1
Owners: @amanda-tarafa, @jskeet

feat(Transcoder): Add sample and test for concatenated input videos (#1570)
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithConcatenatedInputsTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
  media/transcoder/api/Transcoder.Samples.Tests/testdata/ForBiggerEscapes.mp4
  media/transcoder/api/Transcoder.Samples.Tests/testdata/ForBiggerJoyrides.mp4
  media/transcoder/api/Transcoder.Samples/CreateJobWithAnimatedOverlay.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithConcatenatedInputs.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithStaticOverlay.cs
Owners: @amanda-tarafa, @jskeet

tests(Asset): Increase overall timeout
  asset/api/runTests.ps1
Owners: @amanda-tarafa, @jskeet

Incorporating review comments
  storage/api/Storage.Samples.Tests/CreatePubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/DeletePubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/GetPubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/ListPubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/MakeBucketPublicTest.cs
  storage/api/Storage.Samples/CreatePubSubNotification.cs
  storage/api/Storage.Samples/DeletePubSubNotification.cs
  storage/api/Storage.Samples/GetPubSubNotification.cs
  storage/api/Storage.Samples/ListPubSubNotification.cs
  storage/api/Storage.Samples/MakeBucketPublic.cs
  storage/api/Storage.Samples/MakePublic.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Revert "Incorporating review comments"
  storage/api/Storage.Samples.Tests/CreateBucketTest.cs
  storage/api/Storage.Samples.Tests/CreatePubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/DeletePubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/GetPubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/ListPubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/MakeBucketPublicTest.cs
  storage/api/Storage.Samples/CreatePubSubNotification.cs
  storage/api/Storage.Samples/DeletePubSubNotification.cs
  storage/api/Storage.Samples/GetPubSubNotification.cs
  storage/api/Storage.Samples/ListPubSubNotification.cs
  storage/api/Storage.Samples/MakeBucketPublic.cs
  storage/api/Storage.Samples/MakePublic.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Incorporate review comments
  storage/api/Storage.Samples.Tests/MakeBucketPublicTest.cs
  storage/api/Storage.Samples/MakeBucketPublic.cs
  storage/api/Storage.Samples/MakePublic.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

chore: auto-assign issues to new Spanner owner
  .github/blunderbuss.yml
Owners: @amanda-tarafa, @jskeet

chore: auto-assign issues to new Spanner owner
  .github/blunderbuss.yml
Owners: @amanda-tarafa, @jskeet

Review comments implemented
  storage/api/Storage.Samples.Tests/MakeBucketPublicTest.cs
  storage/api/Storage.Samples/MakeBucketPublic.cs
  storage/api/Storage.Samples/MakePublic.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

TurboReplication changes
  storage/api/Storage.Samples.Tests/CreateBucketWithTurboReplicationTest.cs
  storage/api/Storage.Samples.Tests/GetRpoTest.cs
  storage/api/Storage.Samples.Tests/SetRPOAsyncTurboTest.cs
  storage/api/Storage.Samples.Tests/SetRPODefaultTest.cs
  storage/api/Storage.Samples/CreateBucketWithTurboReplication.cs
  storage/api/Storage.Samples/GetBucketMetadata.cs
  storage/api/Storage.Samples/GetRpo.cs
  storage/api/Storage.Samples/SetRPOAsyncTurbo.cs
  storage/api/Storage.Samples/SetRPODefault.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Updating the turbo replication commits
  storage/api/Storage.Samples/CreateBucketWithTurboReplication.cs
  storage/api/Storage.Samples/SetRPOAsyncTurbo.cs
  storage/api/Storage.Samples/SetRPODefault.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Updating the test files
  storage/api/Storage.Samples.Tests/CreateBucketWithTurboReplicationTest.cs
  storage/api/Storage.Samples.Tests/GetRpoTest.cs
  storage/api/Storage.Samples.Tests/SetRPOAsyncTurboTest.cs
  storage/api/Storage.Samples.Tests/SetRPODefaultTest.cs
  storage/api/Storage.Samples/CreateBucketWithTurboReplication.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Remove extra line
  storage/api/Storage.Samples/CreateBucketWithTurboReplication.cs
  storage/api/Storage.Samples/GetRpo.cs
  storage/api/Storage.Samples/SetRPODefault.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Fixing mismatched tags
  storage/api/Storage.Samples/CreateBucketWithTurboReplication.cs
  storage/api/Storage.Samples/SetRPOAsyncTurbo.cs
  storage/api/Storage.Samples/SetRPODefault.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

PubSub Notification samples
  storage/api/Storage.Samples.Tests/CreatePubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/DeletePubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/GetPubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/ListPubSubNotificationTest.cs
  storage/api/Storage.Samples/CreatePubSubNotification.cs
  storage/api/Storage.Samples/DeletePubSubNotification.cs
  storage/api/Storage.Samples/GetPubSubNotification.cs
  storage/api/Storage.Samples/ListPubSubNotification.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Fix region tag and spaces
  storage/api/Storage.Samples/CreatePubSubNotification.cs
  storage/api/Storage.Samples/DeletePubSubNotification.cs
  storage/api/Storage.Samples/GetPubSubNotification.cs
  storage/api/Storage.Samples/ListPubSubNotification.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

File download/upload samples
  storage/api/Storage.Samples/DownloadFile.cs
  storage/api/Storage.Samples/UploadFile.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Fix region tag
  storage/api/Storage.Samples/DownloadFile.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Upload/Download object from memory samples
  storage/api/Storage.Samples.Tests/DownloadObjectIntoMemoryTest.cs
  storage/api/Storage.Samples.Tests/UploadObjectFromMemoryTest.cs
  storage/api/Storage.Samples/DownloadObjectIntoMemory.cs
  storage/api/Storage.Samples/UploadObjectFromMemory.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Update year in copyright
  storage/api/Storage.Samples.Tests/DownloadObjectIntoMemoryTest.cs
  storage/api/Storage.Samples.Tests/UploadObjectFromMemoryTest.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Removed deprecated set_public_access_prevention_unspecified
  storage/api/Storage.Samples/SetPublicAccessPreventionUnspecified.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

samples: delete old spanner_add_timestamp_column
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_dml_partitioned_update
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_dml_partitioned_delete
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_dml_batch_update
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_dml_standard_delete
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_dml_standard_update_with_timestamp
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_dml_standard_update
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_dml_standard_insert
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_dml_write_then_read
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_cancel_backup_create
  spanner/api/Spanner/CancelBackupOperation.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_create_backup
  spanner/api/Spanner/CreateBackup.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

CODEOWNERS:

# There are two aspects that should be taken into account when reviewing samples on this repo.
#   * That the samples are meaningful and consistent with similar samples in other languages
#     and with what is stated in documentation. Some sample sets have specific owners that
#     are in charge of this aspect.
#   * The extent to which the sample is idiomatic C# and consistent with the rest of the samples in this repo.
#     Currently @amanda-tarafa, @jskeet, in that order of availability, are in charge of this aspect.
# Any PR will require two reviewers, one for each of the aspects mentioned above. For those sample sets
# that don't have a specific owner, idiomatic reviewers will do their best effort to either review this
# aspect themselves or find someone who can.

*           @amanda-tarafa @jskeet

bigtable/   @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
datastore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
cloud-sql/  @GoogleCloudPlatform/infra-db-dpes @amanda-tarafa @jskeet
firestore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
iot/        @gcseh @GoogleCloudPlatform/api-iot @amanda-tarafa @jskeet
storage/    @GoogleCloudPlatform/storage-dpe @amanda-tarafa @jskeet

bigquery/                  @jsimonweb @amanda-tarafa @jskeet
applications/leaderboard/  @jsimonweb @amanda-tarafa @jskeet

spanner/  @skuruppu @amanda-tarafa @jskeet

kms/            @sethvargo @amanda-tarafa @jskeet
secretmanager/  @sethvargo @amanda-tarafa @jskeet

applications/liftAndShiftPetshop/  @simonz130 @amanda-tarafa @jskeet

applications/googlehome-meets-dotnetcontainers/  @meteatamel @amanda-tarafa @jskeet
run/                                             @meteatamel @jskeet @amanda-tarafa

applications/sudokumb  @SurferJeffAtGoogle @amanda-tarafa @jskeet

securitycenter/  @hsanchez94 @amanda-tarafa @jskeet

dlp/ @pheonixblade9 @amanda-tarafa @jskeet
