Repository GoogleCloudPlatform/dotnet-docs-samples, changes with the owners that CODEOWNERS names for each.
All owners: @amanda-tarafa, @jskeet, @GoogleCloudPlatform/cloud-native-db-dpes, @GoogleCloudPlatform/infra-db-dpes, @gcseh, @GoogleCloudPlatform/api-iot, @GoogleCloudPlatform/storage-dpe, @jsimonweb, @skuruppu, @sethvargo, @simonz130, @meteatamel, @SurferJeffAtGoogle, @hsanchez94, @pheonixblade9

CODEOWNERS:

# There are two aspects that should be taken into account when reviewing samples on this repo.
#   * That the samples are meaningful and consistent with similar samples in other languages
#     and with what is stated in documentation. Some sample sets have specific owners that
#     are in charge of this aspect.
#   * The extent to which the sample is idiomatic C# and consistent with the rest of the samples in this repo.
#     Currently @amanda-tarafa, @jskeet, in that order of availability, are in charge of this aspect.
# Any PR will require two reviewers, one for each of the aspects mentioned above. For those sample sets
# that don't have a specific owner, idiomatic reviewers will do their best effort to either review this
# aspect themselves or find someone who can.

*           @amanda-tarafa @jskeet

bigtable/   @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
datastore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
cloud-sql/  @GoogleCloudPlatform/infra-db-dpes @amanda-tarafa @jskeet
firestore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
iot/        @gcseh @GoogleCloudPlatform/api-iot @amanda-tarafa @jskeet
storage/    @GoogleCloudPlatform/storage-dpe @amanda-tarafa @jskeet

bigquery/                  @jsimonweb @amanda-tarafa @jskeet
applications/leaderboard/  @jsimonweb @amanda-tarafa @jskeet

spanner/  @skuruppu @amanda-tarafa @jskeet

kms/            @sethvargo @amanda-tarafa @jskeet
secretmanager/  @sethvargo @amanda-tarafa @jskeet

applications/liftAndShiftPetshop/  @simonz130 @amanda-tarafa @jskeet

applications/googlehome-meets-dotnetcontainers/  @meteatamel @amanda-tarafa @jskeet
run/                                             @meteatamel @jskeet @amanda-tarafa

applications/sudokumb  @SurferJeffAtGoogle @amanda-tarafa @jskeet

securitycenter/  @hsanchez94 @amanda-tarafa @jskeet

dlp/ @pheonixblade9 @amanda-tarafa @jskeet

chore(deps): update dependency google.apis.iam.v1 to v1.55.0.2499
  iam/api/Access/Access.csproj
  iam/api/CustomRoles/CustomRoles.csproj
  iam/api/QuickStart/QuickStart.csproj
  iam/api/ServiceAccountKeys/ServiceAccountKeys.csproj
  iam/api/ServiceAccounts/ServiceAccounts.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.monitoring.v3 to v2.5.0
  monitoring/api/AlertSample/AlertSample.csproj
  monitoring/api/AlertTestFixture/AlertTestFixture.csproj
  monitoring/api/MonitoringSample/Monitoring.csproj
  monitoring/api/QuickStart/QuickStart.csproj
  monitoring/api/UptimeCheckSample/UptimeCheck.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.monitoring.v3 to v2.5.0
  monitoring/api/AlertSample/AlertSample.csproj
  monitoring/api/AlertTestFixture/AlertTestFixture.csproj
  monitoring/api/MonitoringSample/Monitoring.csproj
  monitoring/api/QuickStart/QuickStart.csproj
  monitoring/api/UptimeCheckSample/UptimeCheck.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudiot.v1 to v1.55.0.2503
  iot/api/CloudIotMqttExample/CloudIotMqttExample.csproj
  iot/api/CloudIotSample/CloudIotSample.csproj
Owners: @gcseh, @GoogleCloudPlatform/api-iot, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudiot.v1 to v1.55.0.2503
  iot/api/CloudIotMqttExample/CloudIotMqttExample.csproj
  iot/api/CloudIotSample/CloudIotSample.csproj
Owners: @gcseh, @GoogleCloudPlatform/api-iot, @amanda-tarafa, @jskeet

Apply suggestions from code review
  storagetransfer/api/StorageTransfer.Samples.Tests/QuickstartTest.cs
Owners: @amanda-tarafa, @jskeet

fix misnamed variable
  storagetransfer/api/StorageTransfer.Samples.Tests/QuickstartTest.cs
Owners: @amanda-tarafa, @jskeet

feat(PubSub): Adds emulator support sample.
  pubsub/api/Pubsub.Samples.Tests/EmulatorSupportTest.cs
  pubsub/api/Pubsub.Samples/EmulatorSupport.cs
Owners: @amanda-tarafa, @jskeet

tests(PubSub): Fix async void in several test methods.
  pubsub/api/Pubsub.Samples.Tests/PublishAvroMessagesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PublishBatchMessageTest.cs
  pubsub/api/Pubsub.Samples.Tests/PublishMessageTest.cs
  pubsub/api/Pubsub.Samples.Tests/PublishMessageWithCustomAttributesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PublishMessageWithRetrySettingsAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PublishOrderedMessagesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PublishProtoMessagesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullAvroMessagesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessageWithLeaseManagementTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessagesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessagesAsyncWithDeliveryAttemptsTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessagesWithCustomAttributesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessagesWithFlowControlAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullProtoMessagesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/ResumePublishTest.cs
Owners: @amanda-tarafa, @jskeet

tests(iot): Improve tests assert. So we have better information on what happens when it fails.
  iot/api/CloudIotTest/CloudIotTest.cs
Owners: @gcseh, @GoogleCloudPlatform/api-iot, @amanda-tarafa, @jskeet

chore(deps): update mstest monorepo to v2.2.8
  securitycenter/api/tests/Tests.csproj
Owners: @hsanchez94, @amanda-tarafa, @jskeet

chore(deps): update mstest monorepo to v2.2.8
  securitycenter/api/tests/Tests.csproj
Owners: @hsanchez94, @amanda-tarafa, @jskeet

Apply suggestions from code review
  storagetransfer/api/StorageTransfer.Samples.Tests/QuickstartTest.cs
Owners: @amanda-tarafa, @jskeet

fix misnamed variable
  storagetransfer/api/StorageTransfer.Samples.Tests/QuickstartTest.cs
Owners: @amanda-tarafa, @jskeet

Add copyright and try catches
  storagetransfer/api/StorageTransfer.Samples.Tests/QuickstartTest.cs
  storagetransfer/api/StorageTransfer.Samples.Tests/StorageFixture.cs
Owners: @amanda-tarafa, @jskeet

Apply suggestions from code review
  storagetransfer/api/StorageTransfer.Samples.Tests/StorageFixture.cs
  storagetransfer/api/StorageTransfer.Samples/QuickstartSample.cs
Owners: @amanda-tarafa, @jskeet

Add transfer service quickstart
  storagetransfer/api/StorageTransfer.Samples.Tests/QuickstartTest.cs
  storagetransfer/api/StorageTransfer.Samples.Tests/StorageFixture.cs
  storagetransfer/api/StorageTransfer.Samples.Tests/StorageTransfer.Samples.Tests.csproj
  storagetransfer/api/StorageTransfer.Samples/QuickstartSample.cs
  storagetransfer/api/StorageTransfer.Samples/StorageTransfer.Samples.csproj
  storagetransfer/api/StorageTransfer.sln
  storagetransfer/api/runTests.ps1
Owners: @amanda-tarafa, @jskeet

feat(Compute): Update samples to use new enum representation.
  compute/api/Compute.Samples/Compute.Samples.csproj
  compute/api/Compute.Samples/CreateFirewallRuleAsync.cs
  compute/api/Compute.Samples/CreateInstanceAsync.cs
Owners: @amanda-tarafa, @jskeet

feat(Compute): Update samples to use new enum representation.
  compute/api/Compute.Samples/Compute.Samples.csproj
  compute/api/Compute.Samples/CreateFirewallRuleAsync.cs
  compute/api/Compute.Samples/CreateInstanceAsync.cs
Owners: @amanda-tarafa, @jskeet

- Reassigned storage_make_public to correct sample - Created storage_set_bucket_public_iam sample & test
  storage/api/Storage.Samples.Tests/MakeBucketPublicTest.cs
  storage/api/Storage.Samples/MakeBucketPublic.cs
  storage/api/Storage.Samples/MakePublic.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.gaming.v1 to v1.3.0
  game-servers/api/GameServers.Samples/GameServers.Samples.csproj
Owners: @amanda-tarafa, @jskeet

feat(Transcoder): Add sample and test for concatenated input videos
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithConcatenatedInputsTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
  media/transcoder/api/Transcoder.Samples.Tests/testdata/ForBiggerEscapes.mp4
  media/transcoder/api/Transcoder.Samples.Tests/testdata/ForBiggerJoyrides.mp4
  media/transcoder/api/Transcoder.Samples/CreateJobWithConcatenatedInputs.cs
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.securitycenter.v1 to v2.10.0
  securitycenter/api/src/Snippets.csproj
Owners: @hsanchez94, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.servicedirectory.v1 to v1.3.0
  servicedirectory/api/ServiceDirectory.Samples/ServiceDirectory.Samples.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.servicedirectory.v1 to v1.3.0
  servicedirectory/api/ServiceDirectory.Samples/ServiceDirectory.Samples.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.securitycenter.v1 to v2.10.0
  securitycenter/api/src/Snippets.csproj
Owners: @hsanchez94, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.gaming.v1 to v1.3.0
  game-servers/api/GameServers.Samples/GameServers.Samples.csproj
Owners: @amanda-tarafa, @jskeet

tests(Transcoder): Increase test suite timeout.
  media/transcoder/api/runTests.ps1
Owners: @amanda-tarafa, @jskeet

tests(Asset): Retry on gRPC deadline exceeded. An increase test suite overall timeout.
  asset/api/Asset.Samples.Tests/AssetFixture.cs
  asset/api/runTests.ps1
Owners: @amanda-tarafa, @jskeet

tests(Compute): Generate random names with more time granularity. We don't care about precission really, just that names don't clash, which they were.
  compute/api/Compute.Samples.Tests/ComputeFixture.cs
Owners: @amanda-tarafa, @jskeet

tests(Transcoder): Increase test suite timeout.
  media/transcoder/api/runTests.ps1
Owners: @amanda-tarafa, @jskeet

tests(Compute): Generate random names with more time granularity. We don't care about precission really, just that names don't clash, which they were.
  compute/api/Compute.Samples.Tests/ComputeFixture.cs
Owners: @amanda-tarafa, @jskeet

tests(Asset): Retry on gRPC deadline exceeded. An increase test suite overall timeout.
  asset/api/Asset.Samples.Tests/AssetFixture.cs
  asset/api/runTests.ps1
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.dlp.v2 to v3.4.0
  dlp/api/Snippets/Snippets.csproj
Owners: @pheonixblade9, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.dlp.v2 to v3.4.0
  dlp/api/Snippets/Snippets.csproj
Owners: @pheonixblade9, @amanda-tarafa, @jskeet

tests(Spanner): Improve how we delete stale instaces We were deleting some instances being used. We are now deleting all instances that are older than 5 hours, tests take roughly 30 minutes to run.
  spanner/api/Spanner.Samples.Tests/SpannerFixture.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

tests(Spanner): Makes temporary DB names Guid based Instead of timed based, which was provoking clashes between runs on different computers.
  spanner/api/Spanner.Samples.Tests/SpannerFixture.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

tests(Spanner): Improve how we delete stale instaces We were deleting some instances being used. We are now deleting all instances that are older than 5 hours, tests take roughly 30 minutes to run.
  spanner/api/Spanner.Samples.Tests/SpannerFixture.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

tests(Spanner): Makes temporary DB names Guid based Instead of timed based, which was provoking clashes between runs on different computers.
  spanner/api/Spanner.Samples.Tests/SpannerFixture.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.compute.v1 to v1.0.0-beta06
  compute/api/Compute.Samples/Compute.Samples.csproj
Owners: @amanda-tarafa, @jskeet
