Repository GoogleCloudPlatform/dotnet-docs-samples, changes with the owners that CODEOWNERS names for each.
All owners: @amanda-tarafa, @jskeet, @GoogleCloudPlatform/cloud-native-db-dpes, @GoogleCloudPlatform/infra-db-dpes, @gcseh, @GoogleCloudPlatform/api-iot, @GoogleCloudPlatform/storage-dpe, @jsimonweb, @skuruppu, @sethvargo, @simonz130, @meteatamel, @SurferJeffAtGoogle, @hsanchez94, @pheonixblade9

CODEOWNERS:

# There are two aspects that should be taken into account when reviewing samples on this repo.
#   * That the samples are meaningful and consistent with similar samples in other languages
#     and with what is stated in documentation. Some sample sets have specific owners that
#     are in charge of this aspect.
#   * The extent to which the sample is idiomatic C# and consistent with the rest of the samples in this repo.
#     Currently @amanda-tarafa, @jskeet, in that order of availability, are in charge of this aspect.
# Any PR will require two reviewers, one for each of the aspects mentioned above. For those sample sets
# that don't have a specific owner, idiomatic reviewers will do their best effort to either review this
# aspect themselves or find someone who can.

*           @amanda-tarafa @jskeet

bigtable/   @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
datastore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
cloud-sql/  @GoogleCloudPlatform/infra-db-dpes @amanda-tarafa @jskeet
firestore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
iot/        @gcseh @GoogleCloudPlatform/api-iot @amanda-tarafa @jskeet
storage/    @GoogleCloudPlatform/storage-dpe @amanda-tarafa @jskeet

bigquery/                  @jsimonweb @amanda-tarafa @jskeet
applications/leaderboard/  @jsimonweb @amanda-tarafa @jskeet

spanner/  @skuruppu @amanda-tarafa @jskeet

kms/            @sethvargo @amanda-tarafa @jskeet
secretmanager/  @sethvargo @amanda-tarafa @jskeet

applications/liftAndShiftPetshop/  @simonz130 @amanda-tarafa @jskeet

applications/googlehome-meets-dotnetcontainers/  @meteatamel @amanda-tarafa @jskeet
run/                                             @meteatamel @jskeet @amanda-tarafa

applications/sudokumb  @SurferJeffAtGoogle @amanda-tarafa @jskeet

securitycenter/  @hsanchez94 @amanda-tarafa @jskeet

dlp/ @pheonixblade9 @amanda-tarafa @jskeet

chore(deps): update dependency google.cloud.secretmanager.v1 to v1.7.0
  secretmanager/api/SecretManager.Samples/SecretManager.Samples.csproj
Owners: @sethvargo, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.securitycenter.v1 to v2.6.0
  securitycenter/api/src/Snippets.csproj
Owners: @hsanchez94, @amanda-tarafa, @jskeet

chore(deps): update mstest monorepo to v2.2.7
  securitycenter/api/tests/Tests.csproj
Owners: @hsanchez94, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudresourcemanager.v1 to v1.54.0.2433
  iam/api/Access/Access.csproj
  iam/api/QuickStart/QuickStart.csproj
Owners: @amanda-tarafa, @jskeet

ci: Forces Nuget to get packages from Nuget's index instead of local Closes #1278
  .kokoro-windows/New-BuildEnv.ps1
Owners: @amanda-tarafa, @jskeet

ci: Increase timeouts for some tests sets Spanner and Leaderboard
  applications/leaderboard/LeaderboardTest/runTests.ps1
  spanner/api/Spanner.Samples.Tests/runTests.ps1
Owners: @jsimonweb, @amanda-tarafa, @jskeet, @skuruppu

cleanup(Assets): Deletes old Quickstart samples. Closes #1470
  asset/quickstart/BatchGetAssetsHistory/BatchGetAssetsHistory.cs
  asset/quickstart/BatchGetAssetsHistory/BatchGetAssetsHistory.csproj
  asset/quickstart/BatchGetAssetsHistoryTest/BatchGetAssetsHistoryTest.cs
  asset/quickstart/BatchGetAssetsHistoryTest/BatchGetAssetsHistoryTest.csproj
  asset/quickstart/BatchGetAssetsHistoryTest/runTests.ps1
  asset/quickstart/ExportAssets/ExportAssets.cs
  asset/quickstart/ExportAssets/ExportAssets.csproj
  asset/quickstart/ExportAssetsTest/ExportAssetsTest.cs
  asset/quickstart/ExportAssetsTest/ExportAssetsTest.csproj
  asset/quickstart/ExportAssetsTest/runTests.ps1
  asset/quickstart/Quickstart.sln
Owners: @amanda-tarafa, @jskeet

cleanup(Assets): Deletes old Quickstart samples. Closes #1470
  asset/quickstart/BatchGetAssetsHistory/BatchGetAssetsHistory.cs
  asset/quickstart/BatchGetAssetsHistory/BatchGetAssetsHistory.csproj
  asset/quickstart/BatchGetAssetsHistoryTest/BatchGetAssetsHistoryTest.cs
  asset/quickstart/BatchGetAssetsHistoryTest/BatchGetAssetsHistoryTest.csproj
  asset/quickstart/BatchGetAssetsHistoryTest/runTests.ps1
  asset/quickstart/ExportAssets/ExportAssets.cs
  asset/quickstart/ExportAssets/ExportAssets.csproj
  asset/quickstart/ExportAssetsTest/ExportAssetsTest.cs
  asset/quickstart/ExportAssetsTest/ExportAssetsTest.csproj
  asset/quickstart/ExportAssetsTest/runTests.ps1
  asset/quickstart/Quickstart.sln
Owners: @amanda-tarafa, @jskeet

ci: Increase timeouts for some tests sets Spanner and Leaderboard
  applications/leaderboard/LeaderboardTest/runTests.ps1
  spanner/api/Spanner.Samples.Tests/runTests.ps1
Owners: @jsimonweb, @amanda-tarafa, @jskeet, @skuruppu

ci: Forces Nuget to get packages from Nuget's index instead of local Closes #1278
  .kokoro-windows/New-BuildEnv.ps1
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.servicedirectory.v1 to v1.2.0
  servicedirectory/api/ServiceDirectory.Samples/ServiceDirectory.Samples.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.iam.v1 to v1.54.0.2428
  iam/api/Access/Access.csproj
  iam/api/CustomRoles/CustomRoles.csproj
  iam/api/QuickStart/QuickStart.csproj
  iam/api/ServiceAccountKeys/ServiceAccountKeys.csproj
  iam/api/ServiceAccounts/ServiceAccounts.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.logging.v2 to v3.4.0
  logging/api/LoggingSample/LoggingSample.csproj
  logging/api/QuickStart/QuickStart.csproj
  logging/api/WithGitId/WithGitId.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.tasks.v2 to v2.3.0
  cloudtasks/api/TasksSample/TasksSample.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.tasks.v2 to v2.3.0
  cloudtasks/api/TasksSample/TasksSample.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.logging.v2 to v3.4.0
  logging/api/LoggingSample/LoggingSample.csproj
  logging/api/QuickStart/QuickStart.csproj
  logging/api/WithGitId/WithGitId.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.iam.v1 to v1.54.0.2428
  iam/api/Access/Access.csproj
  iam/api/CustomRoles/CustomRoles.csproj
  iam/api/QuickStart/QuickStart.csproj
  iam/api/ServiceAccountKeys/ServiceAccountKeys.csproj
  iam/api/ServiceAccounts/ServiceAccounts.csproj
Owners: @amanda-tarafa, @jskeet

tests(Monitoring): Retry tests with rate limitations.
  monitoring/api/MonitoringTest/MonitoringTest.cs
Owners: @amanda-tarafa, @jskeet

tests(Compute): Retry UsageExportBucket tests.
  compute/api/Compute.Samples.Tests/Compute.Samples.Tests.csproj
  compute/api/Compute.Samples.Tests/ComputeFixture.cs
  compute/api/Compute.Samples.Tests/DisableUsageExportBucketAsyncTest.cs
  compute/api/Compute.Samples.Tests/SetUsageExportBucketAsyncTest.cs
  compute/api/Compute.sln
Owners: @amanda-tarafa, @jskeet

tests(Compute): Retry UsageExportBucket tests.
  compute/api/Compute.Samples.Tests/Compute.Samples.Tests.csproj
  compute/api/Compute.Samples.Tests/ComputeFixture.cs
  compute/api/Compute.Samples.Tests/DisableUsageExportBucketAsyncTest.cs
  compute/api/Compute.Samples.Tests/SetUsageExportBucketAsyncTest.cs
  compute/api/Compute.sln
Owners: @amanda-tarafa, @jskeet

tests(Monitoring): Retry tests with rate limitations.
  monitoring/api/MonitoringTest/MonitoringTest.cs
Owners: @amanda-tarafa, @jskeet

Update media/transcoder/api/runTests.ps1
  media/transcoder/api/runTests.ps1
Owners: @amanda-tarafa, @jskeet

Update media/transcoder/api/Transcoder.Samples.Tests/Transcoder.Samples.Tests.csproj
  media/transcoder/api/Transcoder.Samples.Tests/Transcoder.Samples.Tests.csproj
Owners: @amanda-tarafa, @jskeet

Update media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
  media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
Owners: @amanda-tarafa, @jskeet

Update media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
  media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
Owners: @amanda-tarafa, @jskeet

Update media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
  media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
Owners: @amanda-tarafa, @jskeet

Update media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromAdHocTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromAdHocTests.cs
Owners: @amanda-tarafa, @jskeet

Address feedback
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromAdHocTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromPresetTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithAnimatedOverlayTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithPeriodicImagesSpritesheetTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithSetNumberImagesSpritesheetTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithStaticOverlayTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/DeleteJobTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/GetJobTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/GetJobTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/ListJobTemplatesTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/ListJobsTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.vision.v1 to v2.4.0
  functions/imagemagick/ImageMagick/ImageMagick.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.vision.v1 to v2.4.0
  functions/imagemagick/ImageMagick/ImageMagick.csproj
Owners: @amanda-tarafa, @jskeet

Update media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
  media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
Owners: @amanda-tarafa, @jskeet

Address feedback
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromAdHocTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromPresetTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithAnimatedOverlayTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithPeriodicImagesSpritesheetTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithSetNumberImagesSpritesheetTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithStaticOverlayTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/DeleteJobTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/DeleteJobTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/GetJobTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/GetJobTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/ListJobTemplatesTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/ListJobsTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
  media/transcoder/api/Transcoder.sln
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.auth to v1.55.0
  applications/clouddemo/netcore/CloudDemo.MvcCore/CloudDemo.MvcCore.csproj
  identity-aware-proxy/IAPClient/IAPClient.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.iam.v1 to v1.55.0.2428
  iam/api/Access/Access.csproj
  iam/api/CustomRoles/CustomRoles.csproj
  iam/api/QuickStart/QuickStart.csproj
  iam/api/ServiceAccountKeys/ServiceAccountKeys.csproj
  iam/api/ServiceAccounts/ServiceAccounts.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.auth to v1.55.0
  applications/clouddemo/netcore/CloudDemo.MvcCore/CloudDemo.MvcCore.csproj
  identity-aware-proxy/IAPClient/IAPClient.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.iam.v1 to v1.55.0.2428
  iam/api/Access/Access.csproj
  iam/api/CustomRoles/CustomRoles.csproj
  iam/api/QuickStart/QuickStart.csproj
  iam/api/ServiceAccountKeys/ServiceAccountKeys.csproj
  iam/api/ServiceAccounts/ServiceAccounts.csproj
Owners: @amanda-tarafa, @jskeet

tests(Spanner): Retry instance creation. We hit request per minutes quotas when many presubmits are run at the same time.
  spanner/api/Spanner.Samples.Tests/CreateInstanceTest.cs
  spanner/api/Spanner.Samples.Tests/CreateInstanceWithProcessingUnitsTest.cs
  spanner/api/Spanner.Samples.Tests/SpannerFixture.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

tests(Iam): Skip tests if we have reached role quota. Roles are marked as deleted by tests, but it takes 7 days for them to be actually deleted, in the meantime they count towards the quota.
  iam/api/AccessTest/AccessTest.cs
  iam/api/AccessTest/AccessTest.csproj
  iam/api/CustomRolesTest/CustomRolesTest.cs
  iam/api/CustomRolesTest/CustomRolesTest.csproj
  iam/api/Iam.sln
Owners: @amanda-tarafa, @jskeet

tests(Compute): Adjust concurrent retries.
  compute/api/Compute.Samples.Tests/ComputeFixture.cs
  compute/api/Compute.Samples.Tests/DisableUsageExportBucketAsyncTest.cs
  compute/api/Compute.Samples.Tests/SetUsageExportBucketAsyncTest.cs
Owners: @amanda-tarafa, @jskeet

tests(Monitoring): Adjust time points quota retries.
  monitoring/api/MonitoringTest/MonitoringTest.cs
Owners: @amanda-tarafa, @jskeet
