Repository GoogleCloudPlatform/dotnet-docs-samples, changes with the owners that CODEOWNERS names for each.
All owners: @amanda-tarafa, @jskeet, @GoogleCloudPlatform/cloud-native-db-dpes, @GoogleCloudPlatform/infra-db-dpes, @gcseh, @GoogleCloudPlatform/api-iot, @GoogleCloudPlatform/storage-dpe, @jsimonweb, @skuruppu, @sethvargo, @simonz130, @meteatamel, @SurferJeffAtGoogle, @hsanchez94, @pheonixblade9

CODEOWNERS:

# There are two aspects that should be taken into account when reviewing samples on this repo.
#   * That the samples are meaningful and consistent with similar samples in other languages
#     and with what is stated in documentation. Some sample sets have specific owners that
#     are in charge of this aspect.
#   * The extent to which the sample is idiomatic C# and consistent with the rest of the samples in this repo.
#     Currently @amanda-tarafa, @jskeet, in that order of availability, are in charge of this aspect.
# Any PR will require two reviewers, one for each of the aspects mentioned above. For those sample sets
# that don't have a specific owner, idiomatic reviewers will do their best effort to either review this
# aspect themselves or find someone who can.

*           @amanda-tarafa @jskeet

bigtable/   @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
datastore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
cloud-sql/  @GoogleCloudPlatform/infra-db-dpes @amanda-tarafa @jskeet
firestore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
iot/        @gcseh @GoogleCloudPlatform/api-iot @amanda-tarafa @jskeet
storage/    @GoogleCloudPlatform/storage-dpe @amanda-tarafa @jskeet

bigquery/                  @jsimonweb @amanda-tarafa @jskeet
applications/leaderboard/  @jsimonweb @amanda-tarafa @jskeet

spanner/  @skuruppu @amanda-tarafa @jskeet

kms/            @sethvargo @amanda-tarafa @jskeet
secretmanager/  @sethvargo @amanda-tarafa @jskeet

applications/liftAndShiftPetshop/  @simonz130 @amanda-tarafa @jskeet

applications/googlehome-meets-dotnetcontainers/  @meteatamel @amanda-tarafa @jskeet
run/                                             @meteatamel @jskeet @amanda-tarafa

applications/sudokumb  @SurferJeffAtGoogle @amanda-tarafa @jskeet

securitycenter/  @hsanchez94 @amanda-tarafa @jskeet

dlp/ @pheonixblade9 @amanda-tarafa @jskeet

tests(Spanner): Deactivates test for listing backup operations. Seems the API has stopped acceting metadata.database as part of the filer. We are looking into it. See #1583
  spanner/api/Spanner.Samples.Tests/ListBackupOperationsTest.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

tests(Spanner): Deactivates test for listing backup operations. Seems the API has stopped acceting metadata.database as part of the filer. We are looking into it. See #1583
  spanner/api/Spanner.Samples.Tests/ListBackupOperationsTest.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

chore(deps): update dependency xunit.runner.visualstudio to v2.4.3
  error-reporting/api/test/test.csproj
  securitycenter/api/tests/Tests.csproj
Owners: @amanda-tarafa, @jskeet, @hsanchez94

chore(deps): update dependency google.api.gax to v3.6.0
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/postgres/CloudSql.csproj
  cloud-sql/sql-server/CloudSql.csproj
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.compute.v1 to v1.0.0
  compute/api/Compute.Samples/Compute.Samples.csproj
Owners: @amanda-tarafa, @jskeet

chore: Remove last remnants of MSTest references.
  TESTING.md
  securitycenter/api/tests/Tests.csproj
Owners: @amanda-tarafa, @jskeet, @hsanchez94

Apply suggestions from code review
  storage/api/Storage.Samples/MakeBucketPublic.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

chore: Remove last remnants of MSTest references.
  TESTING.md
  securitycenter/api/tests/Tests.csproj
Owners: @amanda-tarafa, @jskeet, @hsanchez94

Review comments
  storage/api/Storage.Samples.Tests/CreateBucketWithTurboReplicationTest.cs
  storage/api/Storage.Samples.Tests/GetRpoTest.cs
  storage/api/Storage.Samples.Tests/SetRPOAsyncTurboTest.cs
  storage/api/Storage.Samples.Tests/SetRPODefaultTest.cs
  storage/api/Storage.Samples/CreateBucketWithTurboReplication.cs
  storage/api/Storage.Samples/SetRPOAsyncTurbo.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Rename SetRPODefaultTest.cs to SetRpoDefaultTest.cs
  storage/api/Storage.Samples.Tests/SetRpoDefaultTest.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Rename SetRPOAsyncTurboTest.cs to SetRpoAsyncTurboTest.cs
  storage/api/Storage.Samples.Tests/SetRpoAsyncTurboTest.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Rename SetRPODefault.cs to SetRpoDefault.cs
  storage/api/Storage.Samples/SetRpoDefault.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Rename SetRPOAsyncTurbo.cs to SetRpoAsyncTurbo.cs
  storage/api/Storage.Samples/SetRpoAsyncTurbo.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Review comments
  storage/api/Storage.Samples.Tests/CreateBucketWithTurboReplicationTest.cs
  storage/api/Storage.Samples.Tests/SetRPOAsyncTurboTest.cs
  storage/api/Storage.Samples.Tests/SetRPODefaultTest.cs
  storage/api/Storage.Samples.Tests/StorageFixture.cs
  storage/api/Storage.Samples/SetRPOAsyncTurbo.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Review comments
  storage/api/Storage.Samples.Tests/CreateBucketWithTurboReplicationTest.cs
  storage/api/Storage.Samples/CreateBucketWithTurboReplication.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Review comments
  storage/api/Storage.Samples.Tests/CreateBucketWithTurboReplicationTest.cs
  storage/api/Storage.Samples.Tests/SetRpoAsyncTurboTest.cs
  storage/api/Storage.Samples/CreateBucketWithTurboReplication.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Storage: Turbo replication samples
  storage/api/Storage.Samples.Tests/CreateBucketWithTurboReplicationTest.cs
  storage/api/Storage.Samples.Tests/GetRpoTest.cs
  storage/api/Storage.Samples.Tests/SetRpoAsyncTurboTest.cs
  storage/api/Storage.Samples.Tests/SetRpoDefaultTest.cs
  storage/api/Storage.Samples.Tests/StorageFixture.cs
  storage/api/Storage.Samples/CreateBucketWithTurboReplication.cs
  storage/api/Storage.Samples/GetBucketMetadata.cs
  storage/api/Storage.Samples/GetRpo.cs
  storage/api/Storage.Samples/SetRpoAsyncTurbo.cs
  storage/api/Storage.Samples/SetRpoDefault.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudresourcemanager.v1 to v1.55.0.2565
  iam/api/Access/Access.csproj
  iam/api/QuickStart/QuickStart.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudresourcemanager.v1 to v1.55.0.2565
  iam/api/Access/Access.csproj
  iam/api/QuickStart/QuickStart.csproj
Owners: @amanda-tarafa, @jskeet

Creating fresh bucket for tests
  storage/api/Storage.Samples.Tests/MakeBucketPublicTest.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Created seperate file for testing
  storage/api/Storage.Samples.Tests/UploadObjectFromMemoryTest.cs
  storage/api/Storage.Samples/DownloadObjectIntoMemory.cs
  storage/api/Storage.Samples/UploadObjectFromMemory.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.iam.v1 to v1.55.0.2561
  iam/api/Access/Access.csproj
  iam/api/CustomRoles/CustomRoles.csproj
  iam/api/QuickStart/QuickStart.csproj
  iam/api/ServiceAccountKeys/ServiceAccountKeys.csproj
  iam/api/ServiceAccounts/ServiceAccounts.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.datastore.admin.v1 to v1.4.0
  datastore/admin-api/DatastoreAdmin.Samples/DatastoreAdmin.Samples.csproj
Owners: @GoogleCloudPlatform/cloud-native-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.diagnostics.aspnetcore to v4.4.0
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/postgres/CloudSql.csproj
  cloud-sql/sql-server/CloudSql.csproj
  cloudtasks/appengine/CloudTasks.csproj
  getting-started/background-processing/TranslateUI/TranslateUI.csproj
  trace/api/Trace.csproj
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.iam.v1 to v1.55.0.2561
  iam/api/Access/Access.csproj
  iam/api/CustomRoles/CustomRoles.csproj
  iam/api/QuickStart/QuickStart.csproj
  iam/api/ServiceAccountKeys/ServiceAccountKeys.csproj
  iam/api/ServiceAccounts/ServiceAccounts.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.datastore.admin.v1 to v1.4.0
  datastore/admin-api/DatastoreAdmin.Samples/DatastoreAdmin.Samples.csproj
Owners: @GoogleCloudPlatform/cloud-native-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.diagnostics.aspnetcore to v4.4.0
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/postgres/CloudSql.csproj
  cloud-sql/sql-server/CloudSql.csproj
  cloudtasks/appengine/CloudTasks.csproj
  getting-started/background-processing/TranslateUI/TranslateUI.csproj
  trace/api/Trace.csproj
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency polly to v7.2.3
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/postgres/CloudSql.csproj
  cloud-sql/sql-server/CloudSql.csproj
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency polly to v7.2.3
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/postgres/CloudSql.csproj
  cloud-sql/sql-server/CloudSql.csproj
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

cleanup(Storage): Deletes PAP `unspecified` sample. Closes #1508
  storage/api/Storage.Samples/SetPublicAccessPreventionUnspecified.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Created bucket from fixture
  storage/api/Storage.Samples.Tests/MakeBucketPublicTest.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Review comments
  storage/api/Storage.Samples.Tests/UploadObjectFromMemoryTest.cs
  storage/api/Storage.Samples/DownloadObjectIntoMemory.cs
  storage/api/Storage.Samples/UploadObjectFromMemory.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Add a Cloud Run hello world sample using .NET 6.0 #1596
  run/helloworld/Dockerfile
  run/helloworld/Program.cs
  run/helloworld/helloworld.csproj
Owners: @meteatamel, @jskeet, @amanda-tarafa

Added license headers
  run/helloworld/Dockerfile
  run/helloworld/Program.cs
Owners: @meteatamel, @jskeet, @amanda-tarafa

Review comments
  storage/api/Storage.Samples.Tests/MakeBucketPublicTest.cs
  storage/api/Storage.Samples/MakePublic.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Created bucket from fixture
  storage/api/Storage.Samples.Tests/MakeBucketPublicTest.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Incorporating review comments
  storage/api/Storage.Samples.Tests/CreatePubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/DeletePubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/GetPubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/ListPubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/MakeBucketPublicTest.cs
  storage/api/Storage.Samples/CreatePubSubNotification.cs
  storage/api/Storage.Samples/DeletePubSubNotification.cs
  storage/api/Storage.Samples/GetPubSubNotification.cs
  storage/api/Storage.Samples/ListPubSubNotification.cs
  storage/api/Storage.Samples/MakeBucketPublic.cs
  storage/api/Storage.Samples/MakePublic.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Review comments implemented
  storage/api/Storage.Samples.Tests/MakeBucketPublicTest.cs
  storage/api/Storage.Samples/MakeBucketPublic.cs
  storage/api/Storage.Samples/MakePublic.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Revert "Incorporating review comments"
  storage/api/Storage.Samples.Tests/CreateBucketTest.cs
  storage/api/Storage.Samples.Tests/CreatePubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/DeletePubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/GetPubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/ListPubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/MakeBucketPublicTest.cs
  storage/api/Storage.Samples/CreatePubSubNotification.cs
  storage/api/Storage.Samples/DeletePubSubNotification.cs
  storage/api/Storage.Samples/GetPubSubNotification.cs
  storage/api/Storage.Samples/ListPubSubNotification.cs
  storage/api/Storage.Samples/MakeBucketPublic.cs
  storage/api/Storage.Samples/MakePublic.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Incorporate review comments
  storage/api/Storage.Samples.Tests/MakeBucketPublicTest.cs
  storage/api/Storage.Samples/MakeBucketPublic.cs
  storage/api/Storage.Samples/MakePublic.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet
