Repository GoogleCloudPlatform/dotnet-docs-samples, changes with the owners that CODEOWNERS names for each.
All owners: @amanda-tarafa, @jskeet, @GoogleCloudPlatform/cloud-native-db-dpes, @GoogleCloudPlatform/infra-db-dpes, @gcseh, @GoogleCloudPlatform/api-iot, @GoogleCloudPlatform/storage-dpe, @jsimonweb, @skuruppu, @sethvargo, @simonz130, @meteatamel, @SurferJeffAtGoogle, @hsanchez94, @pheonixblade9

samples: delete old spanner_delete_backup
  spanner/api/Spanner/DeleteBackup.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_list_backup_operations
  spanner/api/Spanner/GetBackupOperations.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_list_backups
  spanner/api/Spanner/GetBackups.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_list_database_operations
  spanner/api/Spanner/GetDatabaseOperations.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_restore_backup
  spanner/api/Spanner/RestoreDatabase.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_update_backup
  spanner/api/Spanner/UpdateBackup.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_create_client_with_query_options
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_query_with_query_options
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_read_write_transaction
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_read_write_transaction_core
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete backups CLI
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_delete_data
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_create_instance
  spanner/api/Spanner/CreateInstance.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_create_table_with_datatypes
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_create_table_with_timestamp_column
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_insert_data_with_timestamp_column
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_query_data_with_timestamp_column
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_query_data_with_index
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_query_with_array_parameter
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_query_with_bool_parameter
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_query_with_bytes_parameter
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_query_with_date_parameter
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_query_with_float_parameter
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_query_with_int_parameter
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_query_with_string_parameter
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_query_with_timestamp_parameter
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_update_data_with_timestamp_column
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old struct samples
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_read_stale_data
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

samples: delete old spanner_batch_client
  spanner/api/Spanner/Program.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

chore(deps): update dependency log4net to v2.0.14
  spanner/api/Spanner/Spanner.csproj
Owners: @skuruppu, @amanda-tarafa, @jskeet

chore(deps): update dependency log4net to v2.0.14
  spanner/api/Spanner/Spanner.csproj
Owners: @skuruppu, @amanda-tarafa, @jskeet

chore(deps): update dependency xunit.runner.visualstudio to v2.4.3
  error-reporting/api/test/test.csproj
  securitycenter/api/tests/Tests.csproj
Owners: @amanda-tarafa, @jskeet, @hsanchez94

chore(deps): update dependency google.api.gax to v3.6.0
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/postgres/CloudSql.csproj
  cloud-sql/sql-server/CloudSql.csproj
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

Incorporated review comments
  storage/api/Storage.Samples.Tests/UploadObjectFromMemoryTest.cs
  storage/api/Storage.Samples/DownloadObjectIntoMemory.cs
  storage/api/Storage.Samples/UploadObjectFromMemory.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Incorporated review comments
  storage/api/Storage.Samples.Tests/ListPubSubNotificationTest.cs
  storage/api/Storage.Samples/CreatePubSubNotification.cs
  storage/api/Storage.Samples/GetPubSubNotification.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Review comments incorporated
  storage/api/Storage.Samples.Tests/CreateBucketWithTurboReplicationTest.cs
  storage/api/Storage.Samples.Tests/SetRPOAsyncTurboTest.cs
  storage/api/Storage.Samples.Tests/SetRPODefaultTest.cs
  storage/api/Storage.Samples/CreateBucketWithTurboReplication.cs
  storage/api/Storage.Samples/GetRpo.cs
  storage/api/Storage.Samples/SetRPOAsyncTurbo.cs
  storage/api/Storage.Samples/SetRPODefault.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Review comments
  storage/api/Storage.Samples.Tests/CreateBucketWithTurboReplicationTest.cs
  storage/api/Storage.Samples.Tests/SetRPOAsyncTurboTest.cs
  storage/api/Storage.Samples/CreateBucketWithTurboReplication.cs
  storage/api/Storage.Samples/GetRpo.cs
  storage/api/Storage.Samples/SetRPOAsyncTurbo.cs
  storage/api/Storage.Samples/SetRPODefault.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Review comments
  storage/api/Storage.Samples.Tests/MakeBucketPublicTest.cs
  storage/api/Storage.Samples/MakePublic.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.compute.v1 to v1.0.0
  compute/api/Compute.Samples/Compute.Samples.csproj
Owners: @amanda-tarafa, @jskeet

CODEOWNERS:

# There are two aspects that should be taken into account when reviewing samples on this repo.
#   * That the samples are meaningful and consistent with similar samples in other languages
#     and with what is stated in documentation. Some sample sets have specific owners that
#     are in charge of this aspect.
#   * The extent to which the sample is idiomatic C# and consistent with the rest of the samples in this repo.
#     Currently @amanda-tarafa, @jskeet, in that order of availability, are in charge of this aspect.
# Any PR will require two reviewers, one for each of the aspects mentioned above. For those sample sets
# that don't have a specific owner, idiomatic reviewers will do their best effort to either review this
# aspect themselves or find someone who can.

*           @amanda-tarafa @jskeet

bigtable/   @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
datastore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
cloud-sql/  @GoogleCloudPlatform/infra-db-dpes @amanda-tarafa @jskeet
firestore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
iot/        @gcseh @GoogleCloudPlatform/api-iot @amanda-tarafa @jskeet
storage/    @GoogleCloudPlatform/storage-dpe @amanda-tarafa @jskeet

bigquery/                  @jsimonweb @amanda-tarafa @jskeet
applications/leaderboard/  @jsimonweb @amanda-tarafa @jskeet

spanner/  @skuruppu @amanda-tarafa @jskeet

kms/            @sethvargo @amanda-tarafa @jskeet
secretmanager/  @sethvargo @amanda-tarafa @jskeet

applications/liftAndShiftPetshop/  @simonz130 @amanda-tarafa @jskeet

applications/googlehome-meets-dotnetcontainers/  @meteatamel @amanda-tarafa @jskeet
run/                                             @meteatamel @jskeet @amanda-tarafa

applications/sudokumb  @SurferJeffAtGoogle @amanda-tarafa @jskeet

securitycenter/  @hsanchez94 @amanda-tarafa @jskeet

dlp/ @pheonixblade9 @amanda-tarafa @jskeet
