Repository GoogleCloudPlatform/dotnet-docs-samples, changes with the owners that CODEOWNERS names for each.
All owners: @amanda-tarafa, @jskeet, @GoogleCloudPlatform/cloud-native-db-dpes, @GoogleCloudPlatform/infra-db-dpes, @gcseh, @GoogleCloudPlatform/api-iot, @GoogleCloudPlatform/storage-dpe, @jsimonweb, @skuruppu, @sethvargo, @simonz130, @meteatamel, @SurferJeffAtGoogle, @hsanchez94, @pheonixblade9

CODEOWNERS:

# There are two aspects that should be taken into account when reviewing samples on this repo.
#   * That the samples are meaningful and consistent with similar samples in other languages
#     and with what is stated in documentation. Some sample sets have specific owners that
#     are in charge of this aspect.
#   * The extent to which the sample is idiomatic C# and consistent with the rest of the samples in this repo.
#     Currently @amanda-tarafa, @jskeet, in that order of availability, are in charge of this aspect.
# Any PR will require two reviewers, one for each of the aspects mentioned above. For those sample sets
# that don't have a specific owner, idiomatic reviewers will do their best effort to either review this
# aspect themselves or find someone who can.

*           @amanda-tarafa @jskeet

bigtable/   @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
datastore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
cloud-sql/  @GoogleCloudPlatform/infra-db-dpes @amanda-tarafa @jskeet
firestore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
iot/        @gcseh @GoogleCloudPlatform/api-iot @amanda-tarafa @jskeet
storage/    @GoogleCloudPlatform/storage-dpe @amanda-tarafa @jskeet

bigquery/                  @jsimonweb @amanda-tarafa @jskeet
applications/leaderboard/  @jsimonweb @amanda-tarafa @jskeet

spanner/  @skuruppu @amanda-tarafa @jskeet

kms/            @sethvargo @amanda-tarafa @jskeet
secretmanager/  @sethvargo @amanda-tarafa @jskeet

applications/liftAndShiftPetshop/  @simonz130 @amanda-tarafa @jskeet

applications/googlehome-meets-dotnetcontainers/  @meteatamel @amanda-tarafa @jskeet
run/                                             @meteatamel @jskeet @amanda-tarafa

applications/sudokumb  @SurferJeffAtGoogle @amanda-tarafa @jskeet

securitycenter/  @hsanchez94 @amanda-tarafa @jskeet

dlp/ @pheonixblade9 @amanda-tarafa @jskeet

chore(deps): update dependency google.cloud.securitycenter.v1 to v2.5.0
  securitycenter/api/src/Snippets.csproj
Owners: @hsanchez94, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.secretmanager.v1 to v1.6.0
  secretmanager/api/SecretManager.Samples/SecretManager.Samples.csproj
Owners: @sethvargo, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.pubsub.v1 to v2.6.0
  dlp/api/Snippets/Snippets.csproj
  getting-started/background-processing/TranslateUI/TranslateUI.csproj
  iot/api/CloudIotMqttExampleTest/CloudIotMqttTest.csproj
  iot/api/CloudIotTest/CloudIotTest.csproj
  pubsub/api/Pubsub.Samples/Pubsub.Samples.csproj
  securitycenter/api/tests/Tests.csproj
Owners: @pheonixblade9, @amanda-tarafa, @jskeet, @gcseh, @GoogleCloudPlatform/api-iot, @hsanchez94

chore(deps): update dependency google.cloud.kms.v1 to v2.4.0
  kms/api/Kms.Samples/Kms.Samples.csproj
  spanner/api/Spanner.Samples.Tests/Spanner.Samples.Tests.csproj
Owners: @sethvargo, @amanda-tarafa, @jskeet, @skuruppu

chore(deps): update dependency google.cloud.datastore.admin.v1 to v1.2.0
  datastore/admin-api/DatastoreAdmin.Samples/DatastoreAdmin.Samples.csproj
Owners: @GoogleCloudPlatform/cloud-native-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.bigquery.v2 to v2.3.0
  bigquery/api/SimpleApp/SimpleApp.csproj
  bigquery/api/Snippets/Snippets.csproj
  dlp/api/Snippets/Snippets.csproj
Owners: @jsimonweb, @amanda-tarafa, @jskeet, @pheonixblade9

chore(deps): update dependency google.apis.cloudresourcemanager.v1 to v1.54.0.2404
  iam/api/Access/Access.csproj
  iam/api/QuickStart/QuickStart.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.iam.v1 to v1.54.0.2400
  iam/api/Access/Access.csproj
  iam/api/CustomRoles/CustomRoles.csproj
  iam/api/QuickStart/QuickStart.csproj
  iam/api/ServiceAccountKeys/ServiceAccountKeys.csproj
  iam/api/ServiceAccounts/ServiceAccounts.csproj
Owners: @amanda-tarafa, @jskeet

chore(Storage): Remove old samples
  storage/api/Storage.sln
  storage/api/Storage/CreateBucket.cs
  storage/api/Storage/CreateRegionalBucket.cs
  storage/api/Storage/Storage.cs
  storage/api/Storage/Storage.csproj
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.bigquery.v2 to v2.3.0
  bigquery/api/SimpleApp/SimpleApp.csproj
  bigquery/api/Snippets/Snippets.csproj
  dlp/api/Snippets/Snippets.csproj
Owners: @jsimonweb, @amanda-tarafa, @jskeet, @pheonixblade9

chore(deps): update dependency google.apis.iam.v1 to v1.54.0.2400
  iam/api/Access/Access.csproj
  iam/api/CustomRoles/CustomRoles.csproj
  iam/api/QuickStart/QuickStart.csproj
  iam/api/ServiceAccountKeys/ServiceAccountKeys.csproj
  iam/api/ServiceAccounts/ServiceAccounts.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.asset.v1 to v2.9.0
  asset/quickstart/BatchGetAssetsHistory/BatchGetAssetsHistory.csproj
  asset/quickstart/ExportAssets/ExportAssets.csproj
Owners: @amanda-tarafa, @jskeet

feat(Compute): Use paginated lists. Updates Google.Cloud.Compute.V1 dependency. Closes #1438
  compute/api/Compute.Samples.Tests/ComputeFixture.cs
  compute/api/Compute.Samples/Compute.Samples.csproj
  compute/api/Compute.Samples/CreateInstanceAsync.cs
  compute/api/Compute.Samples/ListAllInstancesAsync.cs
  compute/api/Compute.Samples/ListZoneInstancesAsync.cs
Owners: @amanda-tarafa, @jskeet

feat(Compute): Add Images listing samples.
  compute/api/Compute.Samples.Tests/ComputeFixture.cs
  compute/api/Compute.Samples.Tests/ListImagesAsyncTest.cs
  compute/api/Compute.Samples.Tests/ListImagesPerPageAsyncTest.cs
  compute/api/Compute.Samples/ListImagesAsync.cs
  compute/api/Compute.Samples/ListImagesPerPageAsync.cs
  compute/api/Compute.Samples/ListZoneInstancesAsync.cs
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.api.gax to v3.5.0
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/postgres/CloudSql.csproj
  cloud-sql/sql-server/CloudSql.csproj
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency google.api.gax to v3.5.0
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/postgres/CloudSql.csproj
  cloud-sql/sql-server/CloudSql.csproj
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

feat(kms): Add samples for new KMS RNG APIs
  kms/api/Kms.Samples.Tests/CreateKeyMacTests.cs
  kms/api/Kms.Samples.Tests/GenerateRandomBytesTests.cs
  kms/api/Kms.Samples.Tests/KmsFixture.cs
  kms/api/Kms.Samples.Tests/SignMacTests.cs
  kms/api/Kms.Samples.Tests/VerifyMacTests.cs
  kms/api/Kms.Samples/CreateKeyAsymmetricDecrypt.cs
  kms/api/Kms.Samples/CreateKeyAsymmetricSign.cs
  kms/api/Kms.Samples/CreateKeyMac.cs
  kms/api/Kms.Samples/GenerateRandomBytes.cs
  kms/api/Kms.Samples/SignMac.cs
  kms/api/Kms.Samples/VerifyMac.cs
Owners: @sethvargo, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.datastore.v1 to v3.3.0
  datastore/admin-api/DatastoreAdmin.Samples/DatastoreAdmin.Samples.csproj
  datastore/api/QuickStart/QuickStart.csproj
  datastore/api/TaskList/TaskList.csproj
Owners: @GoogleCloudPlatform/cloud-native-db-dpes, @amanda-tarafa, @jskeet

feat(kms): Add samples for new KMS RNG APIs
  kms/api/Kms.Samples.Tests/CreateKeyMacTests.cs
  kms/api/Kms.Samples.Tests/GenerateRandomBytesTests.cs
  kms/api/Kms.Samples.Tests/KmsFixture.cs
  kms/api/Kms.Samples.Tests/SignMacTests.cs
  kms/api/Kms.Samples.Tests/VerifyMacTests.cs
  kms/api/Kms.Samples/CreateKeyAsymmetricDecrypt.cs
  kms/api/Kms.Samples/CreateKeyAsymmetricSign.cs
  kms/api/Kms.Samples/CreateKeyMac.cs
  kms/api/Kms.Samples/GenerateRandomBytes.cs
  kms/api/Kms.Samples/SignMac.cs
  kms/api/Kms.Samples/VerifyMac.cs
Owners: @sethvargo, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.datastore.v1 to v3.3.0
  datastore/admin-api/DatastoreAdmin.Samples/DatastoreAdmin.Samples.csproj
  datastore/api/QuickStart/QuickStart.csproj
  datastore/api/TaskList/TaskList.csproj
Owners: @GoogleCloudPlatform/cloud-native-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudresourcemanager.v1 to v1.54.0.2418
  iam/api/Access/Access.csproj
  iam/api/QuickStart/QuickStart.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.compute.v1 to v1.0.0-beta02
  compute/api/Compute.Samples/Compute.Samples.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.datastore.admin.v1 to v1.3.0
  datastore/admin-api/DatastoreAdmin.Samples/DatastoreAdmin.Samples.csproj
Owners: @GoogleCloudPlatform/cloud-native-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.dlp.v2 to v3.3.0
  dlp/api/Snippets/Snippets.csproj
Owners: @pheonixblade9, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudresourcemanager.v1 to v1.54.0.2418
  iam/api/Access/Access.csproj
  iam/api/QuickStart/QuickStart.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.compute.v1 to v1.0.0-beta02
  compute/api/Compute.Samples/Compute.Samples.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.datastore.admin.v1 to v1.3.0
  datastore/admin-api/DatastoreAdmin.Samples/DatastoreAdmin.Samples.csproj
Owners: @GoogleCloudPlatform/cloud-native-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.dlp.v2 to v3.3.0
  dlp/api/Snippets/Snippets.csproj
Owners: @pheonixblade9, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudiot.v1 to v1.54.0.2412
  iot/api/CloudIotMqttExample/CloudIotMqttExample.csproj
  iot/api/CloudIotSample/CloudIotSample.csproj
Owners: @gcseh, @GoogleCloudPlatform/api-iot, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudiot.v1 to v1.54.0.2412
  iot/api/CloudIotMqttExample/CloudIotMqttExample.csproj
  iot/api/CloudIotSample/CloudIotSample.csproj
Owners: @gcseh, @GoogleCloudPlatform/api-iot, @amanda-tarafa, @jskeet

(feat) Add Transcoder samples.
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromAdHocTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromPresetTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithAnimatedOverlayTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithPeriodicImagesSpritesheetTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithSetNumberImagesSpritesheetTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithStaticOverlayTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/DeleteJobTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/DeleteJobTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/GetJobTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/GetJobTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/ListJobTemplatesTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/ListJobsTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/Transcoder.Samples.Tests.csproj
  media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
  media/transcoder/api/Transcoder.Samples.Tests/testdata/ChromeCast.mp4
  media/transcoder/api/Transcoder.Samples.Tests/testdata/overlay.jpg
  media/transcoder/api/Transcoder.Samples/CreateJobFromAdHoc.cs
  media/transcoder/api/Transcoder.Samples/CreateJobFromPreset.cs
  media/transcoder/api/Transcoder.Samples/CreateJobFromTemplate.cs
  media/transcoder/api/Transcoder.Samples/CreateJobTemplate.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithAnimatedOverlay.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithPeriodicImagesSpritesheet.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithSetNumberImagesSpritesheet.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithStaticOverlay.cs
  media/transcoder/api/Transcoder.Samples/DeleteJob.cs
  media/transcoder/api/Transcoder.Samples/DeleteJobTemplate.cs
  media/transcoder/api/Transcoder.Samples/GetJob.cs
  media/transcoder/api/Transcoder.Samples/GetJobState.cs
  media/transcoder/api/Transcoder.Samples/GetJobTemplate.cs
  media/transcoder/api/Transcoder.Samples/ListJobTemplates.cs
  media/transcoder/api/Transcoder.Samples/ListJobs.cs
  media/transcoder/api/Transcoder.Samples/Transcoder.Samples.csproj
  media/transcoder/api/runTests.ps1
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.iam.v1 to v1.54.0.2415
  iam/api/Access/Access.csproj
  iam/api/CustomRoles/CustomRoles.csproj
  iam/api/QuickStart/QuickStart.csproj
  iam/api/ServiceAccountKeys/ServiceAccountKeys.csproj
  iam/api/ServiceAccounts/ServiceAccounts.csproj
Owners: @amanda-tarafa, @jskeet

build: update to 3.12 and use temp databases
  spanner/api/QuickStart/QuickStart.csproj
  spanner/api/Spanner.Samples.Tests/AddJsonColumnAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/QueryDataWithJsonParameterAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/UpdateDataWithJsonAsyncTest.cs
  spanner/api/Spanner.Samples/Spanner.Samples.csproj
  spanner/api/Spanner/Spanner.csproj
Owners: @skuruppu, @amanda-tarafa, @jskeet

Fix file location samples and null reference
  storage/api/Storage.Samples.Tests/BucketDeleteDefaultKmsKeyTest.cs
  storage/api/Storage.Samples.Tests/ObjectCsekToCmekTest.cs
  storage/api/Storage.Samples/ChangeFileStorageClass.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

use regional bucket in csektest to match key ring
  storage/api/Storage.Samples.Tests/ObjectCsekToCmekTest.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Fix csektocmek test assertion
  storage/api/Storage.Samples.Tests/ObjectCsekToCmekTest.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

chore(deps): update mstest monorepo to v2.2.6
  securitycenter/api/tests/Tests.csproj
Owners: @hsanchez94, @amanda-tarafa, @jskeet

Update spanner/api/Spanner.Samples/QueryDataWithJsonParameterAsync.cs
  spanner/api/Spanner.Samples/QueryDataWithJsonParameterAsync.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

feat: add samples for JSON data type (#1315)
  spanner/api/QuickStart/QuickStart.csproj
  spanner/api/Spanner.Samples.Tests/AddJsonColumnAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/QueryDataWithJsonParameterAsyncTest.cs
  spanner/api/Spanner.Samples.Tests/UpdateDataWithJsonAsyncTest.cs
  spanner/api/Spanner.Samples/AddJsonColumnAsync.cs
  spanner/api/Spanner.Samples/QueryDataWithJsonParameterAsync.cs
  spanner/api/Spanner.Samples/Spanner.Samples.csproj
  spanner/api/Spanner.Samples/UpdateDataWithJsonAsync.cs
  spanner/api/Spanner/Spanner.csproj
Owners: @skuruppu, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.iam.v1 to v1.54.0.2415
  iam/api/Access/Access.csproj
  iam/api/CustomRoles/CustomRoles.csproj
  iam/api/QuickStart/QuickStart.csproj
  iam/api/ServiceAccountKeys/ServiceAccountKeys.csproj
  iam/api/ServiceAccounts/ServiceAccounts.csproj
Owners: @amanda-tarafa, @jskeet
