Repository GoogleCloudPlatform/dotnet-docs-samples, changes with the owners that CODEOWNERS names for each.
All owners: @amanda-tarafa, @jskeet, @GoogleCloudPlatform/cloud-native-db-dpes, @GoogleCloudPlatform/infra-db-dpes, @gcseh, @GoogleCloudPlatform/api-iot, @GoogleCloudPlatform/storage-dpe, @jsimonweb, @skuruppu, @sethvargo, @simonz130, @meteatamel, @SurferJeffAtGoogle, @hsanchez94, @pheonixblade9

cleanup(Compute): Rename a test file. And add back a comment.
  compute/api/Compute.Samples.Tests/ListZoneInstancesAsyncTest.cs
  compute/api/Compute.Samples/CreateInstanceAsync.cs
Owners: @amanda-tarafa, @jskeet

feat(Compute): Add Firewall samples.
  compute/api/Compute.Samples.Tests/ComputeFixture.cs
  compute/api/Compute.Samples.Tests/CreateFirewallRuleAsyncTest.cs
  compute/api/Compute.Samples.Tests/DeleteFirewallRuleAsyncTest.cs
  compute/api/Compute.Samples.Tests/ListFirewallsRuleAsyncTest.cs
  compute/api/Compute.Samples.Tests/PatchFirewallRuleAsyncTest.cs
  compute/api/Compute.Samples/Compute.Samples.csproj
  compute/api/Compute.Samples/CreateFirewallRuleAsync.cs
  compute/api/Compute.Samples/DeleteFirewallRuleAsync.cs
  compute/api/Compute.Samples/ListFirewallRulesAsync.cs
  compute/api/Compute.Samples/PatchFirewallRuleAsync.cs
Owners: @amanda-tarafa, @jskeet

feat(Compute): Add Firewall samples.
  compute/api/Compute.Samples.Tests/ComputeFixture.cs
  compute/api/Compute.Samples.Tests/CreateFirewallRuleAsyncTest.cs
  compute/api/Compute.Samples.Tests/DeleteFirewallRuleAsyncTest.cs
  compute/api/Compute.Samples.Tests/ListFirewallsRuleAsyncTest.cs
  compute/api/Compute.Samples.Tests/PatchFirewallRuleAsyncTest.cs
  compute/api/Compute.Samples/Compute.Samples.csproj
  compute/api/Compute.Samples/CreateFirewallRuleAsync.cs
  compute/api/Compute.Samples/DeleteFirewallRuleAsync.cs
  compute/api/Compute.Samples/ListFirewallRulesAsync.cs
  compute/api/Compute.Samples/PatchFirewallRuleAsync.cs
Owners: @amanda-tarafa, @jskeet

cleanup(Compute): Rename a test file. And add back a comment.
  compute/api/Compute.Samples.Tests/ListZoneInstancesAsyncTest.cs
  compute/api/Compute.Samples/CreateInstanceAsync.cs
Owners: @amanda-tarafa, @jskeet

tests(Datastore): Retry entity importing as it sometimes times out.
  datastore/admin-api/DatastoreAdmin.Samples.Tests/DatastoreAdmin.Samples.Tests.csproj
  datastore/admin-api/DatastoreAdmin.Samples.Tests/DatastoreAdminFixture.cs
  datastore/admin-api/DatastoreAdmin.Samples.Tests/ImportEntitiesTest.cs
  datastore/admin-api/DatastoreAdmin.sln
Owners: @GoogleCloudPlatform/cloud-native-db-dpes, @amanda-tarafa, @jskeet

tests(Transcoder): Retry some more as operations are taking longer to complete.
  media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
Owners: @amanda-tarafa, @jskeet

tests(Compute): Retry until the firewall is ready as well.
  compute/api/Compute.Samples.Tests/ComputeFixture.cs
  compute/api/Compute.Samples.Tests/DeleteFirewallRuleAsyncTest.cs
Owners: @amanda-tarafa, @jskeet

tests(PubSub): Retry some more message pulling.
  pubsub/api/Pubsub.Samples.Tests/PublishAvroMessagesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PublishBatchMessageTest.cs
  pubsub/api/Pubsub.Samples.Tests/PublishMessageTest.cs
  pubsub/api/Pubsub.Samples.Tests/PublishMessageWithRetrySettingsAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PublishOrderedMessagesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PublishProtoMessagesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessagesSyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/ResumePublishTest.cs
  pubsub/api/Pubsub.Samples/PullMessageWithLeaseManagement.cs
  pubsub/api/Pubsub.Samples/PullMessagesAsync.cs
  pubsub/api/Pubsub.Samples/PullMessagesSync.cs
Owners: @amanda-tarafa, @jskeet

tests(Transcoder): Retry some more as operations are taking longer to complete.
  media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
Owners: @amanda-tarafa, @jskeet

tests(Compute): Retry until the firewall is ready as well.
  compute/api/Compute.Samples.Tests/ComputeFixture.cs
  compute/api/Compute.Samples.Tests/DeleteFirewallRuleAsyncTest.cs
Owners: @amanda-tarafa, @jskeet

tests(Datastore): Retry entity importing as it sometimes times out.
  datastore/admin-api/DatastoreAdmin.Samples.Tests/DatastoreAdmin.Samples.Tests.csproj
  datastore/admin-api/DatastoreAdmin.Samples.Tests/DatastoreAdminFixture.cs
  datastore/admin-api/DatastoreAdmin.Samples.Tests/ImportEntitiesTest.cs
  datastore/admin-api/DatastoreAdmin.sln
Owners: @GoogleCloudPlatform/cloud-native-db-dpes, @amanda-tarafa, @jskeet

tests(PubSub): Retry some more message pulling.
  pubsub/api/Pubsub.Samples.Tests/PublishAvroMessagesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PublishBatchMessageTest.cs
  pubsub/api/Pubsub.Samples.Tests/PublishMessageTest.cs
  pubsub/api/Pubsub.Samples.Tests/PublishMessageWithRetrySettingsAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PublishOrderedMessagesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PublishProtoMessagesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessagesSyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/ResumePublishTest.cs
  pubsub/api/Pubsub.Samples/PullMessageWithLeaseManagement.cs
  pubsub/api/Pubsub.Samples/PullMessagesAsync.cs
  pubsub/api/Pubsub.Samples/PullMessagesSync.cs
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudiot.v1 to v1.55.0.2468
  iot/api/CloudIotMqttExample/CloudIotMqttExample.csproj
  iot/api/CloudIotSample/CloudIotSample.csproj
Owners: @gcseh, @GoogleCloudPlatform/api-iot, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudiot.v1 to v1.55.0.2468
  iot/api/CloudIotMqttExample/CloudIotMqttExample.csproj
  iot/api/CloudIotSample/CloudIotSample.csproj
Owners: @gcseh, @GoogleCloudPlatform/api-iot, @amanda-tarafa, @jskeet

tests(PubSub): Correctly retry for one of the tests.
  pubsub/api/Pubsub.Samples.Tests/PullMessagesWithFlowControlAsyncTest.cs
Owners: @amanda-tarafa, @jskeet

tests(transcoder): Increase the amount of retries some more. - Some of the jobs we test are still "running" when we expect them to be "succeeded".
  media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
Owners: @amanda-tarafa, @jskeet

tests(Spanner): Retry in another usage instance of the JSON schema column sample. - These tend to fail with "abort" which is retryable. We are now retrying in all possible places.
  spanner/api/Spanner.Samples.Tests/QueryDataWithJsonParameterAsyncTest.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

tools: Clarify the name of the thread sage string writer.
  testutil/TestUtil.cs
Owners: @amanda-tarafa, @jskeet

tools: Clarify the name of the thread sage string writer.
  testutil/TestUtil.cs
Owners: @amanda-tarafa, @jskeet

tests(transcoder): Increase the amount of retries some more. - Some of the jobs we test are still "running" when we expect them to be "succeeded".
  media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
Owners: @amanda-tarafa, @jskeet

tests(Spanner): Retry in another usage instance of the JSON schema column sample. - These tend to fail with "abort" which is retryable. We are now retrying in all possible places.
  spanner/api/Spanner.Samples.Tests/QueryDataWithJsonParameterAsyncTest.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

tests(PubSub): Correctly retry for one of the tests.
  pubsub/api/Pubsub.Samples.Tests/PullMessagesWithFlowControlAsyncTest.cs
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.video.transcoder.v1 to v1.0.0-beta03
  media/transcoder/api/Transcoder.Samples/Transcoder.Samples.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency mysql.data to v8.0.27
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/postgres/CloudSql.csproj
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.monitoring.v3 to v2.4.0
  monitoring/api/AlertSample/AlertSample.csproj
  monitoring/api/AlertTestFixture/AlertTestFixture.csproj
  monitoring/api/MonitoringSample/Monitoring.csproj
  monitoring/api/QuickStart/QuickStart.csproj
  monitoring/api/UptimeCheckSample/UptimeCheck.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.video.transcoder.v1 to v1.0.0-beta03
  media/transcoder/api/Transcoder.Samples/Transcoder.Samples.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.monitoring.v3 to v2.4.0
  monitoring/api/AlertSample/AlertSample.csproj
  monitoring/api/AlertTestFixture/AlertTestFixture.csproj
  monitoring/api/MonitoringSample/Monitoring.csproj
  monitoring/api/QuickStart/QuickStart.csproj
  monitoring/api/UptimeCheckSample/UptimeCheck.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency mysql.data to v8.0.27
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/postgres/CloudSql.csproj
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudresourcemanager.v1 to v1.55.0.2481
  iam/api/Access/Access.csproj
  iam/api/QuickStart/QuickStart.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency nodatime to v3.0.9
  iot/api/CloudIotMqttExample/CloudIotMqttExample.csproj
Owners: @gcseh, @GoogleCloudPlatform/api-iot, @amanda-tarafa, @jskeet

chore(deps): update dependency nodatime to v3.0.9
  iot/api/CloudIotMqttExample/CloudIotMqttExample.csproj
Owners: @gcseh, @GoogleCloudPlatform/api-iot, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudresourcemanager.v1 to v1.55.0.2481
  iam/api/Access/Access.csproj
  iam/api/QuickStart/QuickStart.csproj
Owners: @amanda-tarafa, @jskeet

Shorten test times by using common resources
  game-servers/api/GameServers.Samples.Tests/CreateClusterAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/CreateConfigAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/CreateDeploymentAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/CreateRealmAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/DeleteClusterTests.cs
  game-servers/api/GameServers.Samples.Tests/DeleteConfigTests.cs
  game-servers/api/GameServers.Samples.Tests/DeleteDeploymentTests.cs
  game-servers/api/GameServers.Samples.Tests/DeleteRealmTests.cs
  game-servers/api/GameServers.Samples.Tests/GameServersFixture.cs
  game-servers/api/GameServers.Samples.Tests/GetClusterTests.cs
  game-servers/api/GameServers.Samples.Tests/GetConfigTests.cs
  game-servers/api/GameServers.Samples.Tests/GetDeploymentTests.cs
  game-servers/api/GameServers.Samples.Tests/GetRealmTests.cs
  game-servers/api/GameServers.Samples.Tests/GetRolloutTests.cs
  game-servers/api/GameServers.Samples.Tests/ListClustersTests.cs
  game-servers/api/GameServers.Samples.Tests/ListConfigsTests.cs
  game-servers/api/GameServers.Samples.Tests/ListDeploymentsTests.cs
  game-servers/api/GameServers.Samples.Tests/ListRealmsTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateClusterAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateDeploymentAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRealmAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRolloutDefaultConfigAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRolloutOverrideConfigAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRolloutRemoveDefaultConfigAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRolloutRemoveOverrideConfigAsyncTests.cs
  game-servers/api/GameServers.Samples/CreateConfigAsync.cs
Owners: @amanda-tarafa, @jskeet

tests(Datastore): Increase retries, as Datastore is just eventually consistent.
  datastore/api/TaskListTest/DatastoreTest.cs
Owners: @GoogleCloudPlatform/cloud-native-db-dpes, @amanda-tarafa, @jskeet

tests(Leaderboard): Increase overall timeout. These tests timeout ocasionally.
  applications/leaderboard/LeaderboardTest/runTests.ps1
Owners: @jsimonweb, @amanda-tarafa, @jskeet

tests(Datastore): Increase retries, as Datastore is just eventually consistent.
  datastore/api/TaskListTest/DatastoreTest.cs
Owners: @GoogleCloudPlatform/cloud-native-db-dpes, @amanda-tarafa, @jskeet

tests(Leaderboard): Increase overall timeout. These tests timeout ocasionally.
  applications/leaderboard/LeaderboardTest/runTests.ps1
Owners: @jsimonweb, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.iam.v1 to v1.55.0.2477
  iam/api/Access/Access.csproj
  iam/api/CustomRoles/CustomRoles.csproj
  iam/api/QuickStart/QuickStart.csproj
  iam/api/ServiceAccountKeys/ServiceAccountKeys.csproj
  iam/api/ServiceAccounts/ServiceAccounts.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.iam.v1 to v1.55.0.2477
  iam/api/Access/Access.csproj
  iam/api/CustomRoles/CustomRoles.csproj
  iam/api/QuickStart/QuickStart.csproj
  iam/api/ServiceAccountKeys/ServiceAccountKeys.csproj
  iam/api/ServiceAccounts/ServiceAccounts.csproj
Owners: @amanda-tarafa, @jskeet

Update game-servers/api/GameServers.Samples.Tests/GameServersFixture.cs
  game-servers/api/GameServers.Samples.Tests/GameServersFixture.cs
Owners: @amanda-tarafa, @jskeet

CODEOWNERS:

# There are two aspects that should be taken into account when reviewing samples on this repo.
#   * That the samples are meaningful and consistent with similar samples in other languages
#     and with what is stated in documentation. Some sample sets have specific owners that
#     are in charge of this aspect.
#   * The extent to which the sample is idiomatic C# and consistent with the rest of the samples in this repo.
#     Currently @amanda-tarafa, @jskeet, in that order of availability, are in charge of this aspect.
# Any PR will require two reviewers, one for each of the aspects mentioned above. For those sample sets
# that don't have a specific owner, idiomatic reviewers will do their best effort to either review this
# aspect themselves or find someone who can.

*           @amanda-tarafa @jskeet

bigtable/   @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
datastore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
cloud-sql/  @GoogleCloudPlatform/infra-db-dpes @amanda-tarafa @jskeet
firestore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
iot/        @gcseh @GoogleCloudPlatform/api-iot @amanda-tarafa @jskeet
storage/    @GoogleCloudPlatform/storage-dpe @amanda-tarafa @jskeet

bigquery/                  @jsimonweb @amanda-tarafa @jskeet
applications/leaderboard/  @jsimonweb @amanda-tarafa @jskeet

spanner/  @skuruppu @amanda-tarafa @jskeet

kms/            @sethvargo @amanda-tarafa @jskeet
secretmanager/  @sethvargo @amanda-tarafa @jskeet

applications/liftAndShiftPetshop/  @simonz130 @amanda-tarafa @jskeet

applications/googlehome-meets-dotnetcontainers/  @meteatamel @amanda-tarafa @jskeet
run/                                             @meteatamel @jskeet @amanda-tarafa

applications/sudokumb  @SurferJeffAtGoogle @amanda-tarafa @jskeet

securitycenter/  @hsanchez94 @amanda-tarafa @jskeet

dlp/ @pheonixblade9 @amanda-tarafa @jskeet
