Repository GoogleCloudPlatform/dotnet-docs-samples, changes with the owners that CODEOWNERS names for each.
All owners: @amanda-tarafa, @jskeet, @GoogleCloudPlatform/cloud-native-db-dpes, @GoogleCloudPlatform/infra-db-dpes, @gcseh, @GoogleCloudPlatform/api-iot, @GoogleCloudPlatform/storage-dpe, @jsimonweb, @skuruppu, @sethvargo, @simonz130, @meteatamel, @SurferJeffAtGoogle, @hsanchez94, @pheonixblade9

CODEOWNERS:

# There are two aspects that should be taken into account when reviewing samples on this repo.
#   * That the samples are meaningful and consistent with similar samples in other languages
#     and with what is stated in documentation. Some sample sets have specific owners that
#     are in charge of this aspect.
#   * The extent to which the sample is idiomatic C# and consistent with the rest of the samples in this repo.
#     Currently @amanda-tarafa, @jskeet, in that order of availability, are in charge of this aspect.
# Any PR will require two reviewers, one for each of the aspects mentioned above. For those sample sets
# that don't have a specific owner, idiomatic reviewers will do their best effort to either review this
# aspect themselves or find someone who can.

*           @amanda-tarafa @jskeet

bigtable/   @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
datastore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
cloud-sql/  @GoogleCloudPlatform/infra-db-dpes @amanda-tarafa @jskeet
firestore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
iot/        @gcseh @GoogleCloudPlatform/api-iot @amanda-tarafa @jskeet
storage/    @GoogleCloudPlatform/storage-dpe @amanda-tarafa @jskeet

bigquery/                  @jsimonweb @amanda-tarafa @jskeet
applications/leaderboard/  @jsimonweb @amanda-tarafa @jskeet

spanner/  @skuruppu @amanda-tarafa @jskeet

kms/            @sethvargo @amanda-tarafa @jskeet
secretmanager/  @sethvargo @amanda-tarafa @jskeet

applications/liftAndShiftPetshop/  @simonz130 @amanda-tarafa @jskeet

applications/googlehome-meets-dotnetcontainers/  @meteatamel @amanda-tarafa @jskeet
run/                                             @meteatamel @jskeet @amanda-tarafa

applications/sudokumb  @SurferJeffAtGoogle @amanda-tarafa @jskeet

securitycenter/  @hsanchez94 @amanda-tarafa @jskeet

dlp/ @pheonixblade9 @amanda-tarafa @jskeet

Creating fresh bucket for tests
  storage/api/Storage.Samples.Tests/MakeBucketPublicTest.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

- Reassigned storage_make_public to correct sample - Created storage_set_bucket_public_iam sample & test
  storage/api/Storage.Samples.Tests/MakeBucketPublicTest.cs
  storage/api/Storage.Samples/MakeBucketPublic.cs
  storage/api/Storage.Samples/MakePublic.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

Apply suggestions from code review
  storage/api/Storage.Samples/MakeBucketPublic.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

feat(storage): File download/upload samples
  storage/api/Storage.Samples.Tests/DownloadObjectIntoMemoryTest.cs
  storage/api/Storage.Samples.Tests/UploadObjectFromMemoryTest.cs
  storage/api/Storage.Samples/DownloadObjectIntoMemory.cs
  storage/api/Storage.Samples/UploadFile.cs
  storage/api/Storage.Samples/UploadObjectFromMemory.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

feat: Add a Cloud Run hello world sample using .NET 6.0
  run/helloworld/Dockerfile
  run/helloworld/Program.cs
  run/helloworld/helloworld.csproj
Owners: @meteatamel, @jskeet, @amanda-tarafa

fix(storage): correct region tag
  storage/api/Storage.Samples/DownloadObjectIntoMemory.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

fix(storage): correct region tag
  storage/api/Storage.Samples/DownloadObjectIntoMemory.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.firestore to v2.5.0
  firestore/api/AddData/AddData.csproj
  firestore/api/DataModel/DataModel.csproj
  firestore/api/DeleteData/DeleteData.csproj
  firestore/api/GetData/GetData.csproj
  firestore/api/ListenData/ListenData.csproj
  firestore/api/ManageIndexes/ManageIndexes.csproj
  firestore/api/OrderLimitData/OrderLimitData.csproj
  firestore/api/PaginateData/PaginateData.csproj
  firestore/api/QueryData/QueryData.csproj
  firestore/api/Quickstart/Quickstart.csproj
  firestore/api/SolutionCounter/SolutionCounter.csproj
  firestore/api/TransactionsAndBatchedWrites/TransactionsAndBatchedWrites.csproj
  functions/firebase/FirestoreReactive/FirestoreReactive.csproj
  getting-started/background-processing/TranslateWorker/TranslateWorker.csproj
  getting-started/background-processing/Translation/Translation.csproj
Owners: @GoogleCloudPlatform/cloud-native-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.firestore to v2.5.0
  firestore/api/AddData/AddData.csproj
  firestore/api/DataModel/DataModel.csproj
  firestore/api/DeleteData/DeleteData.csproj
  firestore/api/GetData/GetData.csproj
  firestore/api/ListenData/ListenData.csproj
  firestore/api/ManageIndexes/ManageIndexes.csproj
  firestore/api/OrderLimitData/OrderLimitData.csproj
  firestore/api/PaginateData/PaginateData.csproj
  firestore/api/QueryData/QueryData.csproj
  firestore/api/Quickstart/Quickstart.csproj
  firestore/api/SolutionCounter/SolutionCounter.csproj
  firestore/api/TransactionsAndBatchedWrites/TransactionsAndBatchedWrites.csproj
  functions/firebase/FirestoreReactive/FirestoreReactive.csproj
  getting-started/background-processing/TranslateWorker/TranslateWorker.csproj
  getting-started/background-processing/Translation/Translation.csproj
Owners: @GoogleCloudPlatform/cloud-native-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency mysql.data to v8.0.28
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/postgres/CloudSql.csproj
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency mysql.data to v8.0.28
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/postgres/CloudSql.csproj
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

Review comments implemented
  storage/api/Storage.Samples.Tests/CreatePubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/DeletePubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/GetPubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/ListPubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/StorageFixture.cs
  storage/api/Storage.Samples/CreatePubSubNotification.cs
  storage/api/Storage.Samples/DeletePubSubNotification.cs
  storage/api/Storage.Samples/GetPubSubNotification.cs
  storage/api/Storage.Samples/ListPubSubNotification.cs
  testutil/testutil.csproj
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.iam.v1 to v1.55.0.2568
  iam/api/Access/Access.csproj
  iam/api/CustomRoles/CustomRoles.csproj
  iam/api/QuickStart/QuickStart.csproj
  iam/api/ServiceAccountKeys/ServiceAccountKeys.csproj
  iam/api/ServiceAccounts/ServiceAccounts.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.iam.v1 to v1.55.0.2568
  iam/api/Access/Access.csproj
  iam/api/CustomRoles/CustomRoles.csproj
  iam/api/QuickStart/QuickStart.csproj
  iam/api/ServiceAccountKeys/ServiceAccountKeys.csproj
  iam/api/ServiceAccounts/ServiceAccounts.csproj
Owners: @amanda-tarafa, @jskeet

Review comments
  storage/api/Storage.Samples.Tests/CreatePubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/DeletePubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/GetPubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/ListPubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/Storage.Samples.Tests.csproj
  storage/api/Storage.Samples.Tests/StorageFixture.cs
  storage/api/Storage.Samples/CreatePubSubNotification.cs
  storage/api/Storage.Samples/DeletePubSubNotification.cs
  storage/api/Storage.Samples/GetPubSubNotification.cs
  storage/api/Storage.Samples/ListPubSubNotification.cs
  testutil/testutil.csproj
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.video.transcoder.v1 to v1.0.0
  media/transcoder/api/Transcoder.Samples/Transcoder.Samples.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.video.transcoder.v1 to v1.0.0
  media/transcoder/api/Transcoder.Samples/Transcoder.Samples.csproj
Owners: @amanda-tarafa, @jskeet

feat(Storage): Pub/Sub notification samples (#1578)
  storage/api/Storage.Samples.Tests/CreatePubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/DeletePubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/GetPubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/ListPubSubNotificationTest.cs
  storage/api/Storage.Samples.Tests/Storage.Samples.Tests.csproj
  storage/api/Storage.Samples.Tests/StorageFixture.cs
  storage/api/Storage.Samples/CreatePubSubNotification.cs
  storage/api/Storage.Samples/DeletePubSubNotification.cs
  storage/api/Storage.Samples/GetPubSubNotification.cs
  storage/api/Storage.Samples/ListPubSubNotification.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.storage.v1 to v3.7.0
  auth/AuthSample/AuthSample.csproj
  compute/api/Compute.Samples.Tests/Compute.Samples.Tests.csproj
  datastore/admin-api/DatastoreAdmin.Samples.Tests/DatastoreAdmin.Samples.Tests.csproj
  functions/imagemagick/ImageMagick/ImageMagick.csproj
  storage/api/Storage.Samples/Storage.Samples.csproj
  testutil/testutil.csproj
Owners: @amanda-tarafa, @jskeet, @GoogleCloudPlatform/cloud-native-db-dpes, @GoogleCloudPlatform/storage-dpe

chore(deps): update dependency google.cloud.storage.v1 to v3.7.0
  auth/AuthSample/AuthSample.csproj
  compute/api/Compute.Samples.Tests/Compute.Samples.Tests.csproj
  datastore/admin-api/DatastoreAdmin.Samples.Tests/DatastoreAdmin.Samples.Tests.csproj
  functions/imagemagick/ImageMagick/ImageMagick.csproj
  storage/api/Storage.Samples/Storage.Samples.csproj
  testutil/testutil.csproj
Owners: @amanda-tarafa, @jskeet, @GoogleCloudPlatform/cloud-native-db-dpes, @GoogleCloudPlatform/storage-dpe

docs(iam-samples): extract PrivateKeyData from ServiceAccountKey
  iam/api/ServiceAccountKeys/ServiceAccountKeysCreate.cs
Owners: @amanda-tarafa, @jskeet
