Repository GoogleCloudPlatform/dotnet-docs-samples, changes with the owners that CODEOWNERS names for each.
All owners: @amanda-tarafa, @jskeet, @GoogleCloudPlatform/cloud-native-db-dpes, @GoogleCloudPlatform/infra-db-dpes, @gcseh, @GoogleCloudPlatform/api-iot, @GoogleCloudPlatform/storage-dpe, @jsimonweb, @skuruppu, @sethvargo, @simonz130, @meteatamel, @SurferJeffAtGoogle, @hsanchez94, @pheonixblade9

CODEOWNERS:

# There are two aspects that should be taken into account when reviewing samples on this repo.
#   * That the samples are meaningful and consistent with similar samples in other languages
#     and with what is stated in documentation. Some sample sets have specific owners that
#     are in charge of this aspect.
#   * The extent to which the sample is idiomatic C# and consistent with the rest of the samples in this repo.
#     Currently @amanda-tarafa, @jskeet, in that order of availability, are in charge of this aspect.
# Any PR will require two reviewers, one for each of the aspects mentioned above. For those sample sets
# that don't have a specific owner, idiomatic reviewers will do their best effort to either review this
# aspect themselves or find someone who can.

*           @amanda-tarafa @jskeet

bigtable/   @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
datastore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
cloud-sql/  @GoogleCloudPlatform/infra-db-dpes @amanda-tarafa @jskeet
firestore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
iot/        @gcseh @GoogleCloudPlatform/api-iot @amanda-tarafa @jskeet
storage/    @GoogleCloudPlatform/storage-dpe @amanda-tarafa @jskeet

bigquery/                  @jsimonweb @amanda-tarafa @jskeet
applications/leaderboard/  @jsimonweb @amanda-tarafa @jskeet

spanner/  @skuruppu @amanda-tarafa @jskeet

kms/            @sethvargo @amanda-tarafa @jskeet
secretmanager/  @sethvargo @amanda-tarafa @jskeet

applications/liftAndShiftPetshop/  @simonz130 @amanda-tarafa @jskeet

applications/googlehome-meets-dotnetcontainers/  @meteatamel @amanda-tarafa @jskeet
run/                                             @meteatamel @jskeet @amanda-tarafa

applications/sudokumb  @SurferJeffAtGoogle @amanda-tarafa @jskeet

securitycenter/  @hsanchez94 @amanda-tarafa @jskeet

dlp/ @pheonixblade9 @amanda-tarafa @jskeet

tests(Spanner): Retry instance creation. We hit request per minutes quotas when many presubmits are run at the same time.
  spanner/api/Spanner.Samples.Tests/CreateInstanceTest.cs
  spanner/api/Spanner.Samples.Tests/CreateInstanceWithProcessingUnitsTest.cs
  spanner/api/Spanner.Samples.Tests/SpannerFixture.cs
Owners: @skuruppu, @amanda-tarafa, @jskeet

tests(Compute): Adjust concurrent retries.
  compute/api/Compute.Samples.Tests/ComputeFixture.cs
  compute/api/Compute.Samples.Tests/DisableUsageExportBucketAsyncTest.cs
  compute/api/Compute.Samples.Tests/SetUsageExportBucketAsyncTest.cs
Owners: @amanda-tarafa, @jskeet

tests(Iam): Skip tests if we have reached role quota. Roles are marked as deleted by tests, but it takes 7 days for them to be actually deleted, in the meantime they count towards the quota.
  iam/api/AccessTest/AccessTest.cs
  iam/api/AccessTest/AccessTest.csproj
  iam/api/CustomRolesTest/CustomRolesTest.cs
  iam/api/CustomRolesTest/CustomRolesTest.csproj
  iam/api/Iam.sln
Owners: @amanda-tarafa, @jskeet

tests(Monitoring): Adjust time points quota retries.
  monitoring/api/MonitoringTest/MonitoringTest.cs
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudresourcemanager.v1 to v1.55.0.2433
  iam/api/Access/Access.csproj
  iam/api/QuickStart/QuickStart.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.kgsearch.v1 to v1.55.0.2143
  functions/slack/SlackKnowledgeGraphSearch/SlackKnowledgeGraphSearch.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudresourcemanager.v1 to v1.55.0.2433
  iam/api/Access/Access.csproj
  iam/api/QuickStart/QuickStart.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.kgsearch.v1 to v1.55.0.2143
  functions/slack/SlackKnowledgeGraphSearch/SlackKnowledgeGraphSearch.csproj
Owners: @amanda-tarafa, @jskeet

tests(util): Jitter the retry robot delay.
  testutil/TestUtil.cs
Owners: @amanda-tarafa, @jskeet

tests(util): Jitter the retry robot delay.
  testutil/TestUtil.cs
Owners: @amanda-tarafa, @jskeet

Update media/transcoder/api/Transcoder.Samples.Tests/Transcoder.Samples.Tests.csproj
  media/transcoder/api/Transcoder.Samples.Tests/Transcoder.Samples.Tests.csproj
Owners: @amanda-tarafa, @jskeet

Address feedback
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromAdHocTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromPresetTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithAnimatedOverlayTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithPeriodicImagesSpritesheetTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithSetNumberImagesSpritesheetTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithStaticOverlayTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/DeleteJobTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/DeleteJobTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/GetJobStateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/GetJobTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/GetJobTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/ListJobTemplatesTests.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithPeriodicImagesSpritesheet.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithSetNumberImagesSpritesheet.cs
  media/transcoder/api/Transcoder.Samples/DeleteJob.cs
  media/transcoder/api/Transcoder.Samples/DeleteJobTemplate.cs
Owners: @amanda-tarafa, @jskeet

Fix job/job template samples
  media/transcoder/api/Transcoder.Samples.Tests/ListJobTemplatesTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/ListJobsTests.cs
  media/transcoder/api/Transcoder.Samples/ListJobTemplates.cs
  media/transcoder/api/Transcoder.Samples/ListJobs.cs
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudiot.v1 to v1.55.0.2419
  iot/api/CloudIotMqttExample/CloudIotMqttExample.csproj
  iot/api/CloudIotSample/CloudIotSample.csproj
Owners: @gcseh, @GoogleCloudPlatform/api-iot, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudiot.v1 to v1.55.0.2419
  iot/api/CloudIotMqttExample/CloudIotMqttExample.csproj
  iot/api/CloudIotSample/CloudIotSample.csproj
Owners: @gcseh, @GoogleCloudPlatform/api-iot, @amanda-tarafa, @jskeet

Address feedback
  media/transcoder/api/Transcoder.Samples.Tests/ListJobTemplatesTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/ListJobsTests.cs
Owners: @amanda-tarafa, @jskeet

Apply suggestions from code review
  media/transcoder/api/Transcoder.Samples.Tests/GetJobStateTests.cs
Owners: @amanda-tarafa, @jskeet

(feat) Add Transcoder samples. (#1465)
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromAdHocTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromPresetTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobFromTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithAnimatedOverlayTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithPeriodicImagesSpritesheetTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithSetNumberImagesSpritesheetTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/CreateJobWithStaticOverlayTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/DeleteJobTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/DeleteJobTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/GetJobStateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/GetJobTemplateTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/GetJobTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/ListJobTemplatesTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/ListJobsTests.cs
  media/transcoder/api/Transcoder.Samples.Tests/Transcoder.Samples.Tests.csproj
  media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
  media/transcoder/api/Transcoder.Samples.Tests/testdata/ChromeCast.mp4
  media/transcoder/api/Transcoder.Samples.Tests/testdata/overlay.jpg
  media/transcoder/api/Transcoder.Samples/CreateJobFromAdHoc.cs
  media/transcoder/api/Transcoder.Samples/CreateJobFromPreset.cs
  media/transcoder/api/Transcoder.Samples/CreateJobFromTemplate.cs
  media/transcoder/api/Transcoder.Samples/CreateJobTemplate.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithAnimatedOverlay.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithPeriodicImagesSpritesheet.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithSetNumberImagesSpritesheet.cs
  media/transcoder/api/Transcoder.Samples/CreateJobWithStaticOverlay.cs
  media/transcoder/api/Transcoder.Samples/DeleteJob.cs
  media/transcoder/api/Transcoder.Samples/DeleteJobTemplate.cs
  media/transcoder/api/Transcoder.Samples/GetJob.cs
  media/transcoder/api/Transcoder.Samples/GetJobState.cs
  media/transcoder/api/Transcoder.Samples/GetJobTemplate.cs
  media/transcoder/api/Transcoder.Samples/ListJobTemplates.cs
  media/transcoder/api/Transcoder.Samples/ListJobs.cs
  media/transcoder/api/Transcoder.Samples/Transcoder.Samples.csproj
  media/transcoder/api/Transcoder.sln
  media/transcoder/api/runTests.ps1
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency coverlet.collector to v3.1.0
  media/transcoder/api/Transcoder.Samples.Tests/Transcoder.Samples.Tests.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency microsoft.net.test.sdk to v16.11.0
  media/transcoder/api/Transcoder.Samples.Tests/Transcoder.Samples.Tests.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency microsoft.net.test.sdk to v16.11.0
  media/transcoder/api/Transcoder.Samples.Tests/Transcoder.Samples.Tests.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency coverlet.collector to v3.1.0
  media/transcoder/api/Transcoder.Samples.Tests/Transcoder.Samples.Tests.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency npgsql to v5.0.10
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/postgres/CloudSql.csproj
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency npgsql to v5.0.10
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/postgres/CloudSql.csproj
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.iam.v1 to v1.55.0.2443
  iam/api/Access/Access.csproj
  iam/api/CustomRoles/CustomRoles.csproj
  iam/api/QuickStart/QuickStart.csproj
  iam/api/ServiceAccountKeys/ServiceAccountKeys.csproj
  iam/api/ServiceAccounts/ServiceAccounts.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.iam.v1 to v1.55.0.2443
  iam/api/Access/Access.csproj
  iam/api/CustomRoles/CustomRoles.csproj
  iam/api/QuickStart/QuickStart.csproj
  iam/api/ServiceAccountKeys/ServiceAccountKeys.csproj
  iam/api/ServiceAccounts/ServiceAccounts.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.video.transcoder.v1 to v1.0.0-beta02
  media/transcoder/api/Transcoder.Samples/Transcoder.Samples.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.asset.v1 to v2.10.0
  asset/api/Asset.Samples/Asset.Samples.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.bigquery.datatransfer.v1 to v3.2.0
  bigquery/data-transfer/api/QuickStart/QuickStart.csproj
Owners: @jsimonweb, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.kms.v1 to v2.5.0
  kms/api/Kms.Samples/Kms.Samples.csproj
  spanner/api/Spanner.Samples.Tests/Spanner.Samples.Tests.csproj
Owners: @sethvargo, @amanda-tarafa, @jskeet, @skuruppu

chore(deps): update dependency google.cloud.pubsub.v1 to v2.7.0
  dlp/api/Snippets/Snippets.csproj
  getting-started/background-processing/TranslateUI/TranslateUI.csproj
  iot/api/CloudIotMqttExampleTest/CloudIotMqttTest.csproj
  iot/api/CloudIotTest/CloudIotTest.csproj
  pubsub/api/Pubsub.Samples/Pubsub.Samples.csproj
  securitycenter/api/tests/Tests.csproj
Owners: @pheonixblade9, @amanda-tarafa, @jskeet, @gcseh, @GoogleCloudPlatform/api-iot, @hsanchez94

chore(deps): update dependency google.cloud.asset.v1 to v2.10.0
  asset/api/Asset.Samples/Asset.Samples.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.bigquery.datatransfer.v1 to v3.2.0
  bigquery/data-transfer/api/QuickStart/QuickStart.csproj
Owners: @jsimonweb, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.pubsub.v1 to v2.7.0
  dlp/api/Snippets/Snippets.csproj
  getting-started/background-processing/TranslateUI/TranslateUI.csproj
  iot/api/CloudIotMqttExampleTest/CloudIotMqttTest.csproj
  iot/api/CloudIotTest/CloudIotTest.csproj
  pubsub/api/Pubsub.Samples/Pubsub.Samples.csproj
  securitycenter/api/tests/Tests.csproj
Owners: @pheonixblade9, @amanda-tarafa, @jskeet, @gcseh, @GoogleCloudPlatform/api-iot, @hsanchez94

chore(deps): update dependency google.cloud.kms.v1 to v2.5.0
  kms/api/Kms.Samples/Kms.Samples.csproj
  spanner/api/Spanner.Samples.Tests/Spanner.Samples.Tests.csproj
Owners: @sethvargo, @amanda-tarafa, @jskeet, @skuruppu

chore(deps): update dependency google.cloud.video.transcoder.v1 to v1.0.0-beta02
  media/transcoder/api/Transcoder.Samples/Transcoder.Samples.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency nodatime to v3.0.6
  iot/api/CloudIotMqttExample/CloudIotMqttExample.csproj
Owners: @gcseh, @GoogleCloudPlatform/api-iot, @amanda-tarafa, @jskeet

chore(deps): update dependency nodatime to v3.0.6
  iot/api/CloudIotMqttExample/CloudIotMqttExample.csproj
Owners: @gcseh, @GoogleCloudPlatform/api-iot, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.iam.v1 to v1.55.0.2452
  iam/api/Access/Access.csproj
  iam/api/CustomRoles/CustomRoles.csproj
  iam/api/QuickStart/QuickStart.csproj
  iam/api/ServiceAccountKeys/ServiceAccountKeys.csproj
  iam/api/ServiceAccounts/ServiceAccounts.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.storage.v1 to v3.6.0
  auth/AuthSample/AuthSample.csproj
  compute/api/Compute.Samples.Tests/Compute.Samples.Tests.csproj
  datastore/admin-api/DatastoreAdmin.Samples.Tests/DatastoreAdmin.Samples.Tests.csproj
  functions/imagemagick/ImageMagick/ImageMagick.csproj
  storage/api/Storage.Samples/Storage.Samples.csproj
  testutil/testutil.csproj
Owners: @amanda-tarafa, @jskeet, @GoogleCloudPlatform/cloud-native-db-dpes, @GoogleCloudPlatform/storage-dpe
