Repository GoogleCloudPlatform/dotnet-docs-samples, changes with the owners that CODEOWNERS names for each.
All owners: @amanda-tarafa, @jskeet, @GoogleCloudPlatform/cloud-native-db-dpes, @GoogleCloudPlatform/infra-db-dpes, @gcseh, @GoogleCloudPlatform/api-iot, @GoogleCloudPlatform/storage-dpe, @jsimonweb, @skuruppu, @sethvargo, @simonz130, @meteatamel, @SurferJeffAtGoogle, @hsanchez94, @pheonixblade9

CODEOWNERS:

# There are two aspects that should be taken into account when reviewing samples on this repo.
#   * That the samples are meaningful and consistent with similar samples in other languages
#     and with what is stated in documentation. Some sample sets have specific owners that
#     are in charge of this aspect.
#   * The extent to which the sample is idiomatic C# and consistent with the rest of the samples in this repo.
#     Currently @amanda-tarafa, @jskeet, in that order of availability, are in charge of this aspect.
# Any PR will require two reviewers, one for each of the aspects mentioned above. For those sample sets
# that don't have a specific owner, idiomatic reviewers will do their best effort to either review this
# aspect themselves or find someone who can.

*           @amanda-tarafa @jskeet

bigtable/   @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
datastore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
cloud-sql/  @GoogleCloudPlatform/infra-db-dpes @amanda-tarafa @jskeet
firestore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
iot/        @gcseh @GoogleCloudPlatform/api-iot @amanda-tarafa @jskeet
storage/    @GoogleCloudPlatform/storage-dpe @amanda-tarafa @jskeet

bigquery/                  @jsimonweb @amanda-tarafa @jskeet
applications/leaderboard/  @jsimonweb @amanda-tarafa @jskeet

spanner/  @skuruppu @amanda-tarafa @jskeet

kms/            @sethvargo @amanda-tarafa @jskeet
secretmanager/  @sethvargo @amanda-tarafa @jskeet

applications/liftAndShiftPetshop/  @simonz130 @amanda-tarafa @jskeet

applications/googlehome-meets-dotnetcontainers/  @meteatamel @amanda-tarafa @jskeet
run/                                             @meteatamel @jskeet @amanda-tarafa

applications/sudokumb  @SurferJeffAtGoogle @amanda-tarafa @jskeet

securitycenter/  @hsanchez94 @amanda-tarafa @jskeet

dlp/ @pheonixblade9 @amanda-tarafa @jskeet

Update game-servers/api/runTests.ps1
  game-servers/api/runTests.ps1
Owners: @amanda-tarafa, @jskeet

Update game-servers/api/GameServers.Samples/ListClusters.cs
  game-servers/api/GameServers.Samples/ListClusters.cs
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency apache.avro to v1.11.0
  pubsub/api/Pubsub.Samples/Pubsub.Samples.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency apache.avro to v1.11.0
  pubsub/api/Pubsub.Samples/Pubsub.Samples.csproj
Owners: @amanda-tarafa, @jskeet

Add deployments for update operations
  game-servers/api/GameServers.Samples.Tests/CreateClusterAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/CreateConfigAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/CreateDeploymentAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/CreateRealmAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/DeleteClusterTests.cs
  game-servers/api/GameServers.Samples.Tests/DeleteConfigTests.cs
  game-servers/api/GameServers.Samples.Tests/DeleteDeploymentTests.cs
  game-servers/api/GameServers.Samples.Tests/DeleteRealmTests.cs
  game-servers/api/GameServers.Samples.Tests/GameServersFixture.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRolloutDefaultConfigAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRolloutOverrideConfigAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRolloutRemoveDefaultConfigAsyncTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRolloutRemoveOverrideConfigAsyncTests.cs
  game-servers/api/GameServers.Samples/UpdateClusterAsync.cs
  game-servers/api/GameServers.Samples/UpdateDeploymentAsync.cs
  game-servers/api/GameServers.Samples/UpdateRealmAsync.cs
  game-servers/api/runTests.ps1
Owners: @amanda-tarafa, @jskeet

fix spacing
  game-servers/api/GameServers.Samples/ListClusters.cs
Owners: @amanda-tarafa, @jskeet

Increase test timeout period
  game-servers/api/runTests.ps1
Owners: @amanda-tarafa, @jskeet

Increase test timeout
  game-servers/api/runTests.ps1
Owners: @amanda-tarafa, @jskeet

Increase test timeout
  game-servers/api/runTests.ps1
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.diagnostics.aspnetcore to v4.3.0
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/postgres/CloudSql.csproj
  cloud-sql/sql-server/CloudSql.csproj
  cloudtasks/appengine/CloudTasks.csproj
  error-reporting/api/AspNetCore/ErrorReporting.csproj
  getting-started/background-processing/TranslateUI/TranslateUI.csproj
  logging/api/AspNetCore/WebApp.csproj
  trace/api/Trace.csproj
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

Update game-servers/api/runTests.ps1
  game-servers/api/runTests.ps1
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.diagnostics.aspnetcore to v4.3.0
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/postgres/CloudSql.csproj
  cloud-sql/sql-server/CloudSql.csproj
  cloudtasks/appengine/CloudTasks.csproj
  error-reporting/api/AspNetCore/ErrorReporting.csproj
  getting-started/background-processing/TranslateUI/TranslateUI.csproj
  logging/api/AspNetCore/WebApp.csproj
  trace/api/Trace.csproj
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency log4net to v2.0.13
  spanner/api/Spanner/Spanner.csproj
Owners: @skuruppu, @amanda-tarafa, @jskeet

chore(deps): update dependency log4net to v2.0.13
  spanner/api/Spanner/Spanner.csproj
Owners: @skuruppu, @amanda-tarafa, @jskeet

tests(Compute): Load tools from the correct path. This is why timeout was not having any effect.
  compute/api/runTests.ps1
Owners: @amanda-tarafa, @jskeet

tests(Compute): Load tools from the correct path. This is why timeout was not having any effect.
  compute/api/runTests.ps1
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.diagnostics.aspnetcore to v4.3.1
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/postgres/CloudSql.csproj
  cloud-sql/sql-server/CloudSql.csproj
  cloudtasks/appengine/CloudTasks.csproj
  getting-started/background-processing/TranslateUI/TranslateUI.csproj
  trace/api/Trace.csproj
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency npgsql to v6
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/postgres/CloudSql.csproj
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.diagnostics.aspnetcore to v4.3.1
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/postgres/CloudSql.csproj
  cloud-sql/sql-server/CloudSql.csproj
  cloudtasks/appengine/CloudTasks.csproj
  getting-started/background-processing/TranslateUI/TranslateUI.csproj
  trace/api/Trace.csproj
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

tests(transcoder): Retry some more the job poller. Some of the jobs are still running when we stop retrying. We might need to increase the overall timeout after this change.
  media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
Owners: @amanda-tarafa, @jskeet

tests(transcoder): Retry some more the job poller. Some of the jobs are still running when we stop retrying. We might need to increase the overall timeout after this change.
  media/transcoder/api/Transcoder.Samples.Tests/TranscoderFixture.cs
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.compute.v1 to v1.0.0-beta04
  compute/api/Compute.Samples/Compute.Samples.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.kms.v1 to v2.7.0
  kms/api/Kms.Samples/Kms.Samples.csproj
  spanner/api/Spanner.Samples.Tests/Spanner.Samples.Tests.csproj
Owners: @sethvargo, @amanda-tarafa, @jskeet, @skuruppu

chore(deps): update dependency google.cloud.securitycenter.v1 to v2.8.0
  securitycenter/api/src/Snippets.csproj
Owners: @hsanchez94, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.compute.v1 to v1.0.0-beta04
  compute/api/Compute.Samples/Compute.Samples.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.kms.v1 to v2.7.0
  kms/api/Kms.Samples/Kms.Samples.csproj
  spanner/api/Spanner.Samples.Tests/Spanner.Samples.Tests.csproj
Owners: @sethvargo, @amanda-tarafa, @jskeet, @skuruppu

chore(deps): update dependency google.cloud.securitycenter.v1 to v2.8.0
  securitycenter/api/src/Snippets.csproj
Owners: @hsanchez94, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudresourcemanager.v1 to v1.55.0.2502
  iam/api/Access/Access.csproj
  iam/api/QuickStart/QuickStart.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudresourcemanager.v1 to v1.55.0.2502
  iam/api/Access/Access.csproj
  iam/api/QuickStart/QuickStart.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency npgsql to v5.0.11
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/postgres/CloudSql.csproj
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency npgsql to v5.0.11
  cloud-sql/mysql/CloudSql.csproj
  cloud-sql/postgres/CloudSql.csproj
Owners: @GoogleCloudPlatform/infra-db-dpes, @amanda-tarafa, @jskeet

Add transfer service quickstart
  storagetransfer/api/StorageTransfer.Samples.Tests/QuickstartTest.cs
  storagetransfer/api/StorageTransfer.Samples.Tests/StorageFixture.cs
  storagetransfer/api/StorageTransfer.Samples.Tests/StorageTransfer.Samples.Tests.csproj
  storagetransfer/api/StorageTransfer.Samples/QuickstartSample.cs
  storagetransfer/api/StorageTransfer.Samples/StorageTransfer.Samples.csproj
  storagetransfer/api/StorageTransfer.sln
  storagetransfer/api/runTests.ps1
Owners: @amanda-tarafa, @jskeet

feat(PubSub): Adds emulator support sample.
  pubsub/api/Pubsub.Samples.Tests/EmulatorSupportTest.cs
  pubsub/api/Pubsub.Samples/EmulatorSupport.cs
Owners: @amanda-tarafa, @jskeet

tests(PubSub): Fix async void in several test methods.
  pubsub/api/Pubsub.Samples.Tests/PublishAvroMessagesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PublishBatchMessageTest.cs
  pubsub/api/Pubsub.Samples.Tests/PublishMessageTest.cs
  pubsub/api/Pubsub.Samples.Tests/PublishMessageWithCustomAttributesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PublishMessageWithRetrySettingsAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PublishOrderedMessagesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PublishProtoMessagesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullAvroMessagesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessageWithLeaseManagementTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessagesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessagesAsyncWithDeliveryAttemptsTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessagesWithCustomAttributesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessagesWithFlowControlAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullProtoMessagesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/ResumePublishTest.cs
Owners: @amanda-tarafa, @jskeet

tests(iot): Improve tests assert. So we have better information on what happens when it fails.
  iot/api/CloudIotTest/CloudIotTest.cs
Owners: @gcseh, @GoogleCloudPlatform/api-iot, @amanda-tarafa, @jskeet

Apply suggestions from code review
  storagetransfer/api/StorageTransfer.Samples.Tests/StorageFixture.cs
  storagetransfer/api/StorageTransfer.Samples/QuickstartSample.cs
Owners: @amanda-tarafa, @jskeet

Add copyright and try catches
  storagetransfer/api/StorageTransfer.Samples.Tests/QuickstartTest.cs
  storagetransfer/api/StorageTransfer.Samples.Tests/StorageFixture.cs
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.iam.v1 to v1.55.0.2499
  iam/api/Access/Access.csproj
  iam/api/CustomRoles/CustomRoles.csproj
  iam/api/QuickStart/QuickStart.csproj
  iam/api/ServiceAccountKeys/ServiceAccountKeys.csproj
  iam/api/ServiceAccounts/ServiceAccounts.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.securitycenter.v1 to v2.9.0
  securitycenter/api/src/Snippets.csproj
Owners: @hsanchez94, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.securitycenter.v1 to v2.9.0
  securitycenter/api/src/Snippets.csproj
Owners: @hsanchez94, @amanda-tarafa, @jskeet
