Repository GoogleCloudPlatform/dotnet-docs-samples, changes with the owners that CODEOWNERS names for each.
All owners: @amanda-tarafa, @jskeet, @GoogleCloudPlatform/cloud-native-db-dpes, @GoogleCloudPlatform/infra-db-dpes, @gcseh, @GoogleCloudPlatform/api-iot, @GoogleCloudPlatform/storage-dpe, @jsimonweb, @skuruppu, @sethvargo, @simonz130, @meteatamel, @SurferJeffAtGoogle, @hsanchez94, @pheonixblade9

feat(GameServers): Add samples for Game Servers.
  game-servers/api/GameServers.Samples.Tests/ClusterIdentifierUtil.cs
  game-servers/api/GameServers.Samples.Tests/CreateClusterTests.cs
  game-servers/api/GameServers.Samples.Tests/CreateDeploymentTests.cs
  game-servers/api/GameServers.Samples.Tests/CreateRealmTests.cs
  game-servers/api/GameServers.Samples.Tests/DeleteClusterTests.cs
  game-servers/api/GameServers.Samples.Tests/DeleteDeploymentTests.cs
  game-servers/api/GameServers.Samples.Tests/DeleteRealmTests.cs
  game-servers/api/GameServers.Samples.Tests/GameServers.Samples.Tests.csproj
  game-servers/api/GameServers.Samples.Tests/GameServersFixture.cs
  game-servers/api/GameServers.Samples.Tests/GetClusterTests.cs
  game-servers/api/GameServers.Samples.Tests/GetDeploymentTests.cs
  game-servers/api/GameServers.Samples.Tests/GetRealmTests.cs
  game-servers/api/GameServers.Samples.Tests/ListClustersTests.cs
  game-servers/api/GameServers.Samples.Tests/ListDeploymentsTests.cs
  game-servers/api/GameServers.Samples.Tests/ListRealmsTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateClusterTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateDeploymentTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRealmTests.cs
  game-servers/api/GameServers.Samples/CreateCluster.cs
  game-servers/api/GameServers.Samples/CreateDeployment.cs
  game-servers/api/GameServers.Samples/CreateRealm.cs
  game-servers/api/GameServers.Samples/DeleteCluster.cs
  game-servers/api/GameServers.Samples/DeleteDeployment.cs
  game-servers/api/GameServers.Samples/DeleteRealm.cs
  game-servers/api/GameServers.Samples/GameServers.Samples.csproj
  game-servers/api/GameServers.Samples/GetCluster.cs
  game-servers/api/GameServers.Samples/GetDeployment.cs
  game-servers/api/GameServers.Samples/GetRealm.cs
  game-servers/api/GameServers.Samples/ListClusters.cs
  game-servers/api/GameServers.Samples/ListDeployments.cs
  game-servers/api/GameServers.Samples/ListRealms.cs
  game-servers/api/GameServers.Samples/UpdateCluster.cs
  game-servers/api/GameServers.Samples/UpdateDeployment.cs
  game-servers/api/GameServers.Samples/UpdateRealm.cs
  game-servers/api/GameServers.sln
  game-servers/api/runTests.ps1
Owners: @amanda-tarafa, @jskeet

tests(Asset): Retry a little bit more in general. We depend on resources like buckets and BQ datasets to have been created.
  asset/api/Asset.Samples.Tests/AssetFixture.cs
Owners: @amanda-tarafa, @jskeet

tests(Firestore): Skip the ListenForChangesTest. Tracked by #1162
  firestore/api/FirestoreTest/FirestoreTest.cs
Owners: @GoogleCloudPlatform/cloud-native-db-dpes, @amanda-tarafa, @jskeet

tests(PubSub): Retries message pulling.
  pubsub/api/Pubsub.Samples.Tests/Pubsub.Samples.Tests.csproj
  pubsub/api/Pubsub.Samples.Tests/PubsubFixture.cs
  pubsub/api/Pubsub.Samples.Tests/PullProtoMessagesAsyncTest.cs
  pubsub/api/Pubsub.sln
Owners: @amanda-tarafa, @jskeet

tests(Storage): Skip PAP `unspecified` test. Tracked by #1508
  storage/api/Storage.Samples.Tests/SetPublicAccessPreventionUnspecifiedTest.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

tests(PubSub): Retries message pulling.
  pubsub/api/Pubsub.Samples.Tests/Pubsub.Samples.Tests.csproj
  pubsub/api/Pubsub.Samples.Tests/PubsubFixture.cs
  pubsub/api/Pubsub.Samples.Tests/PullProtoMessagesAsyncTest.cs
  pubsub/api/Pubsub.sln
Owners: @amanda-tarafa, @jskeet

tests(Firestore): Skip the ListenForChangesTest. Tracked by #1162
  firestore/api/FirestoreTest/FirestoreTest.cs
Owners: @GoogleCloudPlatform/cloud-native-db-dpes, @amanda-tarafa, @jskeet

tests(Storage): Skip PAP `unspecified` test. Tracked by #1508
  storage/api/Storage.Samples.Tests/SetPublicAccessPreventionUnspecifiedTest.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

tests(Asset): Retry a little bit more in general. We depend on resources like buckets and BQ datasets to have been created.
  asset/api/Asset.Samples.Tests/AssetFixture.cs
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.storage.v1 to v3.6.0
  auth/AuthSample/AuthSample.csproj
  compute/api/Compute.Samples.Tests/Compute.Samples.Tests.csproj
  datastore/admin-api/DatastoreAdmin.Samples.Tests/DatastoreAdmin.Samples.Tests.csproj
  functions/imagemagick/ImageMagick/ImageMagick.csproj
  storage/api/Storage.Samples/Storage.Samples.csproj
  testutil/testutil.csproj
Owners: @amanda-tarafa, @jskeet, @GoogleCloudPlatform/cloud-native-db-dpes, @GoogleCloudPlatform/storage-dpe

feat(Storage): Adds sample for PAP inherited. Towards #1508
  storage/api/Storage.Samples.Tests/SetPublicAccessPreventionInheritedTest.cs
  storage/api/Storage.Samples/SetPublicAccessPreventionInherited.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.storage.v1 to v3.6.0
  auth/AuthSample/AuthSample.csproj
  compute/api/Compute.Samples.Tests/Compute.Samples.Tests.csproj
  datastore/admin-api/DatastoreAdmin.Samples.Tests/DatastoreAdmin.Samples.Tests.csproj
  functions/imagemagick/ImageMagick/ImageMagick.csproj
  storage/api/Storage.Samples/Storage.Samples.csproj
  testutil/testutil.csproj
Owners: @amanda-tarafa, @jskeet, @GoogleCloudPlatform/cloud-native-db-dpes, @GoogleCloudPlatform/storage-dpe

Add update samples
  game-servers/api/GameServers.Samples.Tests/ConfigIdentifierUtil.cs
  game-servers/api/GameServers.Samples.Tests/CreateConfigTests.cs
  game-servers/api/GameServers.Samples.Tests/DeleteClusterTests.cs
  game-servers/api/GameServers.Samples.Tests/DeleteConfigTests.cs
  game-servers/api/GameServers.Samples.Tests/GameServersFixture.cs
  game-servers/api/GameServers.Samples.Tests/GetConfigTests.cs
  game-servers/api/GameServers.Samples.Tests/GetRolloutTests.cs
  game-servers/api/GameServers.Samples.Tests/ListConfigsTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateClusterTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRealmTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRolloutDefaultConfigTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRolloutOverrideConfigTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRolloutRemoveDefaultConfigTests.cs
  game-servers/api/GameServers.Samples.Tests/UpdateRolloutRemoveOverrideConfigTests.cs
  game-servers/api/GameServers.Samples/CreateConfig.cs
  game-servers/api/GameServers.Samples/DeleteConfig.cs
  game-servers/api/GameServers.Samples/GetCluster.cs
  game-servers/api/GameServers.Samples/GetConfig.cs
  game-servers/api/GameServers.Samples/GetRollout.cs
  game-servers/api/GameServers.Samples/ListClusters.cs
  game-servers/api/GameServers.Samples/ListConfigs.cs
  game-servers/api/GameServers.Samples/UpdateRolloutDefaultConfig.cs
  game-servers/api/GameServers.Samples/UpdateRolloutOverrideConfig.cs
  game-servers/api/GameServers.Samples/UpdateRolloutRemoveDefaultConfig.cs
  game-servers/api/GameServers.Samples/UpdateRolloutRemoveOverrideConfig.cs
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency nodatime to v3.0.7
  iot/api/CloudIotMqttExample/CloudIotMqttExample.csproj
Owners: @gcseh, @GoogleCloudPlatform/api-iot, @amanda-tarafa, @jskeet

chore(deps): update dependency nodatime to v3.0.7
  iot/api/CloudIotMqttExample/CloudIotMqttExample.csproj
Owners: @gcseh, @GoogleCloudPlatform/api-iot, @amanda-tarafa, @jskeet

feat(Storage): Adds sample for PAP inherited. Towards #1508
  storage/api/Storage.Samples.Tests/SetPublicAccessPreventionInheritedTest.cs
  storage/api/Storage.Samples/SetPublicAccessPreventionInherited.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.iam.v1 to v1.55.0.2452
  iam/api/Access/Access.csproj
  iam/api/CustomRoles/CustomRoles.csproj
  iam/api/QuickStart/QuickStart.csproj
  iam/api/ServiceAccountKeys/ServiceAccountKeys.csproj
  iam/api/ServiceAccounts/ServiceAccounts.csproj
Owners: @amanda-tarafa, @jskeet

tests(iot): Disable test parallelization. These all change the Console stdout writer and they are stepping on each other.
  iot/api/CloudIotMqttExampleTest/AssemblyInfo.cs
  iot/api/CloudIotTest/AssemblyInfo.cs
Owners: @gcseh, @GoogleCloudPlatform/api-iot, @amanda-tarafa, @jskeet

tests(datastore-admin): Export only from per-test namespace. Else we get timeouts because we export many entities.
  datastore/admin-api/DatastoreAdmin.Samples.Tests/DatastoreAdminFixture.cs
  datastore/admin-api/DatastoreAdmin.Samples.Tests/ExportEntitiesTest.cs
Owners: @GoogleCloudPlatform/cloud-native-db-dpes, @amanda-tarafa, @jskeet

cleanup(Storage): Deletes PAP `unspecified` sample. Closes #1508
  storage/api/Storage.Samples/SetPublicAccessPreventionUnspecified.cs
Owners: @GoogleCloudPlatform/storage-dpe, @amanda-tarafa, @jskeet

tests(iot): Disable test parallelization. These all change the Console stdout writer and they are stepping on each other.
  iot/api/CloudIotMqttExampleTest/AssemblyInfo.cs
  iot/api/CloudIotTest/AssemblyInfo.cs
Owners: @gcseh, @GoogleCloudPlatform/api-iot, @amanda-tarafa, @jskeet

tests(datastore-admin): Export only from per-test namespace. Else we get timeouts because we export many entities.
  datastore/admin-api/DatastoreAdmin.Samples.Tests/DatastoreAdminFixture.cs
  datastore/admin-api/DatastoreAdmin.Samples.Tests/ExportEntitiesTest.cs
Owners: @GoogleCloudPlatform/cloud-native-db-dpes, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.iam.v1 to v1.55.0.2452
  iam/api/Access/Access.csproj
  iam/api/CustomRoles/CustomRoles.csproj
  iam/api/QuickStart/QuickStart.csproj
  iam/api/ServiceAccountKeys/ServiceAccountKeys.csproj
  iam/api/ServiceAccounts/ServiceAccounts.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.kms.v1 to v2.6.0
  kms/api/Kms.Samples/Kms.Samples.csproj
  spanner/api/Spanner.Samples.Tests/Spanner.Samples.Tests.csproj
Owners: @sethvargo, @amanda-tarafa, @jskeet, @skuruppu

chore(deps): update dependency google.cloud.securitycenter.v1 to v2.7.0
  securitycenter/api/src/Snippets.csproj
Owners: @hsanchez94, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.kms.v1 to v2.6.0
  kms/api/Kms.Samples/Kms.Samples.csproj
  spanner/api/Spanner.Samples.Tests/Spanner.Samples.Tests.csproj
Owners: @sethvargo, @amanda-tarafa, @jskeet, @skuruppu

chore(deps): update dependency google.cloud.securitycenter.v1 to v2.7.0
  securitycenter/api/src/Snippets.csproj
Owners: @hsanchez94, @amanda-tarafa, @jskeet

tests(PubSub): Retry all message pulling as it sometimes takes a little bit longer.
  pubsub/api/Pubsub.Samples.Tests/PubsubFixture.cs
  pubsub/api/Pubsub.Samples.Tests/PullAvroMessagesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessageWithLeaseManagementTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessagesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessagesAsyncWithDeliveryAttemptsTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessagesSyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessagesWithCustomAttributesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessagesWithFlowControlAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullProtoMessagesAsyncTest.cs
Owners: @amanda-tarafa, @jskeet

tests(Compute): Retry some more the export bucket tests.
  compute/api/Compute.Samples.Tests/ComputeFixture.cs
Owners: @amanda-tarafa, @jskeet

tests(Spanner): Retry some retryable errors. Create just one DatabaseAdminClient
  spanner/api/Spanner.Samples.Tests/Spanner.Samples.Tests.csproj
  spanner/api/Spanner.Samples.Tests/SpannerFixture.cs
  spanner/api/Spanner.Samples.Tests/UpdateDataWithJsonAsyncTest.cs
  spanner/api/Spanner.sln
Owners: @skuruppu, @amanda-tarafa, @jskeet

tests(PubSub): Retry all message pulling as it sometimes takes a little bit longer.
  pubsub/api/Pubsub.Samples.Tests/PubsubFixture.cs
  pubsub/api/Pubsub.Samples.Tests/PullAvroMessagesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessageWithLeaseManagementTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessagesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessagesAsyncWithDeliveryAttemptsTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessagesSyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessagesWithCustomAttributesAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullMessagesWithFlowControlAsyncTest.cs
  pubsub/api/Pubsub.Samples.Tests/PullProtoMessagesAsyncTest.cs
Owners: @amanda-tarafa, @jskeet

tests(Compute): Retry some more the export bucket tests.
  compute/api/Compute.Samples.Tests/ComputeFixture.cs
Owners: @amanda-tarafa, @jskeet

tests(Spanner): Retry some retryable errors. Create just one DatabaseAdminClient
  spanner/api/Spanner.Samples.Tests/Spanner.Samples.Tests.csproj
  spanner/api/Spanner.Samples.Tests/SpannerFixture.cs
  spanner/api/Spanner.Samples.Tests/UpdateDataWithJsonAsyncTest.cs
  spanner/api/Spanner.sln
Owners: @skuruppu, @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudresourcemanager.v1 to v1.55.0.2467
  iam/api/Access/Access.csproj
  iam/api/QuickStart/QuickStart.csproj
Owners: @amanda-tarafa, @jskeet

chore(deps): update dependency google.apis.cloudresourcemanager.v1 to v1.55.0.2467
  iam/api/Access/Access.csproj
  iam/api/QuickStart/QuickStart.csproj
Owners: @amanda-tarafa, @jskeet

Create UpdateAlias.cs
  secretmanager/api/SecretManager.Samples/UpdateAlias.cs
Owners: @sethvargo, @amanda-tarafa, @jskeet

chore(deps): update dependency google.cloud.compute.v1 to v1.0.0-beta03
  compute/api/Compute.Samples/Compute.Samples.csproj
Owners: @amanda-tarafa, @jskeet

Update UpdateAlias.cs
  secretmanager/api/SecretManager.Samples/UpdateAlias.cs
Owners: @sethvargo, @amanda-tarafa, @jskeet

feat(Compute): Update samples to use new LRO feature.
  compute/api/Compute.Samples.Tests/OperationPollerTest.cs
  compute/api/Compute.Samples/Compute.Samples.csproj
  compute/api/Compute.Samples/CreateInstanceAsync.cs
  compute/api/Compute.Samples/DeleteInstanceAsync.cs
  compute/api/Compute.Samples/DisableUsageExportBucketAsync.cs
  compute/api/Compute.Samples/OperationPoller.cs
  compute/api/Compute.Samples/SetUsageExportBucketAsync.cs
Owners: @amanda-tarafa, @jskeet

feat(Compute): Update samples to use new LRO feature.
  compute/api/Compute.Samples.Tests/OperationPollerTest.cs
  compute/api/Compute.Samples/Compute.Samples.csproj
  compute/api/Compute.Samples/CreateInstanceAsync.cs
  compute/api/Compute.Samples/DeleteInstanceAsync.cs
  compute/api/Compute.Samples/DisableUsageExportBucketAsync.cs
  compute/api/Compute.Samples/OperationPoller.cs
  compute/api/Compute.Samples/SetUsageExportBucketAsync.cs
Owners: @amanda-tarafa, @jskeet

CODEOWNERS:

# There are two aspects that should be taken into account when reviewing samples on this repo.
#   * That the samples are meaningful and consistent with similar samples in other languages
#     and with what is stated in documentation. Some sample sets have specific owners that
#     are in charge of this aspect.
#   * The extent to which the sample is idiomatic C# and consistent with the rest of the samples in this repo.
#     Currently @amanda-tarafa, @jskeet, in that order of availability, are in charge of this aspect.
# Any PR will require two reviewers, one for each of the aspects mentioned above. For those sample sets
# that don't have a specific owner, idiomatic reviewers will do their best effort to either review this
# aspect themselves or find someone who can.

*           @amanda-tarafa @jskeet

bigtable/   @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
datastore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
cloud-sql/  @GoogleCloudPlatform/infra-db-dpes @amanda-tarafa @jskeet
firestore/  @GoogleCloudPlatform/cloud-native-db-dpes @amanda-tarafa @jskeet
iot/        @gcseh @GoogleCloudPlatform/api-iot @amanda-tarafa @jskeet
storage/    @GoogleCloudPlatform/storage-dpe @amanda-tarafa @jskeet

bigquery/                  @jsimonweb @amanda-tarafa @jskeet
applications/leaderboard/  @jsimonweb @amanda-tarafa @jskeet

spanner/  @skuruppu @amanda-tarafa @jskeet

kms/            @sethvargo @amanda-tarafa @jskeet
secretmanager/  @sethvargo @amanda-tarafa @jskeet

applications/liftAndShiftPetshop/  @simonz130 @amanda-tarafa @jskeet

applications/googlehome-meets-dotnetcontainers/  @meteatamel @amanda-tarafa @jskeet
run/                                             @meteatamel @jskeet @amanda-tarafa

applications/sudokumb  @SurferJeffAtGoogle @amanda-tarafa @jskeet

securitycenter/  @hsanchez94 @amanda-tarafa @jskeet

dlp/ @pheonixblade9 @amanda-tarafa @jskeet
